.body-content {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 16px;

  .chat-room-swiper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    border-bottom: 0.5px solid black;
    padding: 8px 12px 0 8px;
  
    .chat-swiper-boxes {
      display: flex;
      align-items: center;
      font-size: 16px;
      gap: 8px;
      justify-content: center;
      color: #888888;
      text-wrap: nowrap;
      padding: 10px;
      cursor: pointer;
      transition: all 0.3s ease;
  
      &.active {
        // background-color: gray; // Active tab background
        border-bottom: 2px solid black; // Bottom border
        font-weight: bold;
      }
    }
  }
  
  .chat-top-header-78521 {
    width: 100%;
    padding: 8px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    border-bottom: 0.5px solid rgb(103 113 105 / 50%);

    .chat-inbox-78522 {
      display: flex;
      align-items: center;
      font-size: 18px;
      gap: 8px;
      justify-content: center;
    }

    .chat-inbox-78523 {
      display: flex;
      align-items: center;
      color: #0b5dd8;
      gap: 8px;
      font-weight: 600;
      justify-content: center;
    }
  }

  .search-box-outer-89655 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    .search-box-filter-outer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 6px;

      .label-986675555 {
        font-size: 10px;
        color: #677169;
      }
    }

    .search-box-input-outer {
      background: #ffffff;
      height: 40px;
      width: 100%;
      border: 0.5px solid rgb(103 113 105 / 50%);
      border-radius: 20px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      padding-left: 8px;
      padding-right: 8px;
      gap: 8px;

      input:focus,
      input:focus-visible {
        border: none;
        outline: none;
      }

      input:active {
        border: none;
      }

      input {
        background: transparent;
        border: none;
        color: rgba(102, 102, 104, 0.5);
        flex-grow: 1;
      }
    }
  }

  .chat-list-98521 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    .chat-box-98522 {
      display: flex;
      align-items: center;
      border-bottom: 0.5px solid rgb(69, 69, 69, 0.25);
      width: 100%;
      justify-content: flex-start;
      gap: 8px;
      padding-bottom: 16px;

      .chat-image-box-98523 {
        width: 20%;

        .chat-image-98523 {
          height: 62px;
          width: 80%;
          width: 62px;
          border-radius: 50%;
          background-color: #677169;
          background-size: cover;
          background-position: center center;
        }
      }

      .chat-deatil-98524 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        gap: 5px;
        flex-direction: column;

        .chat-name-time-98525 {
          display: flex;
          align-items: center;
          width: 100%;
          justify-content: space-between;

          .chat-name-98526 {
            font-size: 18px;
            font-weight: 400;
          }

          .chat-time-98527 {
            font-size: 16px;
            font-weight: 400;
            color: #adafbb;
          }
        }

        .chat-satus-98528 {
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: space-between;

          .chat-online-98529 {
            display: flex;
            align-items: center;
            font-size: 16px;
            font-weight: 400;
            justify-content: flex-start;
            gap: 2px;
          }

          .chat-message-98530 {
            font-size: 12px;
            font-weight: 700;
            background-color: #e94057;
            border-radius: 50%;
            color: white;
            height: 20px;
            width: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .chat-message-98531 {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
          }
        }
      }
    }
  }
}
