<ion-header class="ion-no-border ion-no-shadow">
  <!-- (toggleSearchBar)="ShowSearchBar($event)" -->
  <app-sd-header-top
    [showBack]="true"
    [title]="'Chat'"
    [backUrl]=""
    [showNotification]="true"
    [showSearch]="true"
  ></app-sd-header-top>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="body-content">
    <div style="width: 100%">
      <div style="padding: 0 16px 0 16px">
        <swiper
          [slidesPerView]="2"
          [spaceBetween]="12"
          class="chat-room-swiper"
        >
          <ng-template swiperSlide>
            <div
              class="chat-swiper-boxes"
              [class.active]="activeTab === 'inbox'"
              (click)="activeTab = 'inbox'"
            >
              <img src="../../../assets/inbox.svg" alt="" />Inbox
            </div>
          </ng-template>
          <ng-template swiperSlide>
            <div
              class="chat-swiper-boxes"
              [class.active]="activeTab === 'requests'"
              (click)="activeTab = 'requests'"
            >
              <img src="../../../assets/request.svg" alt="" />Message Requests
              (0)
            </div>
          </ng-template>
        </swiper>
      </div>

      <div
        *ngIf="activeTab === 'inbox'"
        style="height: 80vh; position: relative"
      >
        <app-global-list-view
          [list]="list$"
          [itemTemplate]="itemTemplate"
          (refresh)="handleRefresh($event)"
          (loadMore)="onIonInfinite($event)"
        >
          <ng-template #itemTemplate let-item>
            <app-chat-list [item]="item"></app-chat-list>
          </ng-template>
        </app-global-list-view>
      </div>

      <div
        *ngIf="activeTab === 'requests'"
        style="height: 80vh; position: relative"
      >
        <app-global-list-view
          [list]="list$"
          [itemTemplate]="itemTemplate"
          (refresh)="handleRefresh($event)"
          (loadMore)="onIonInfinite($event)"
        >
          <ng-template #itemTemplate let-item>
            <app-request-list [item]="item"></app-request-list>
          </ng-template>
        </app-global-list-view>
      </div>
    </div>
  </div>
</ion-content>
