<ion-header class="ion-no-border ion-no-shadow">
  <app-sd-header-top [showBack]="true" [title]="'Chat'" [backUrl]=""
    [showNotification]="false" [showSearch]="true" (toggleSearchBar)="ShowSearchBar($event)"></app-sd-header-top>
</ion-header>
<ion-content class=" ion-padding" [fullscreen]="true">
  <div class="body-content">
    <div class="search-box-outer-89655" *ngIf="showChat === 'inbox' && isSearchBarShow">
      <div class="search-box-input-outer">
        <img src="assets/icon/input-search-gray.svg" />
        <input type="text" placeholder="Search by name?" [(ngModel)]="search" (keyup.enter)="doSearch($event)" />
      </div>
    </div>
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div class="chat-top-header-78521" >
      <div class="chat-inbox-78522" ><img src="../../assets/svg/inbox.svg" alt="">Inbox
      </div>
      <div class="chat-inbox-78523" (click)="showRequests()" *ngIf="activeUser.role_id === 3">({{chats.count}}) Requests </div>
    </div>
    <div >
      <app-chat-list *ngFor="let item of chats.chats" [item]="item"></app-chat-list>
    </div>
  </div>
</ion-content>
