<ion-header class="ion-no-border ion-no-shadow">
  <app-sd-header-top [showBack]="true" [title]="'My Students'"
    [backUrl]="'/tabs/teacher-dashboard'"></app-sd-header-top>
</ion-header>
<ion-content class="ion-content-bg ion-padding" [fullscreen]="true">
  <div class="body-content">
    <div class="search-box-outer-89655">
      <div class="search-box-input-outer">
        <img src="assets/icon/input-search-gray.svg" />
        <input type="text" placeholder="Search Students" />
      </div>
      <div class="header-chips">
        <div class="header-chip">
          <ion-chip id="click-trigger">Status <img src="../../assets/svg/arrow-dwon.svg" alt=""></ion-chip>
          <ion-popover trigger="click-trigger" triggerAction="click" [dismissOnSelect]="true">
            <ng-template>
              <ion-list>
                <ion-item class="profile-line-789578">
                  <img class="img1-789575" src="../../../assets/svg/panding.svg" />
                  <div class="nbl-687 outfit-medium " style="margin-left: 16px;">Pending</div>
                </ion-item>
              </ion-list>
              <ion-list>
                <ion-item class="profile-line-789578">
                  <img class="img1-789575" src="../../../assets/svg/accepted.svg" />
                  <div class="nbl-687 outfit-medium " style="margin-left: 16px;">Accepted</div>
                </ion-item>
              </ion-list>
              <ion-list>
                <ion-item class="profile-line-789578">
                  <img class="img1-789575" src="../../../assets/svg/complete.svg " />
                  <div class="nbl-687 outfit-medium " style="margin-left: 16px;">Completed</div>
                </ion-item>
              </ion-list>
              <ion-list>
                <ion-item class="profile-line-789578">
                  <img class="img1-789575" src="assets/icon/reject-circle.svg" />
                  <div class="nbl-687 outfit-medium " style="margin-left: 16px;">Rejected</div>
                </ion-item>
              </ion-list>
              <ion-list>
                <ion-item class="profile-line-789578">
                  <img class="img1-789575" src="assets/icon/block-circle.svg" />
                  <div class="nbl-687 outfit-medium " style="margin-left: 16px;">Blocked</div>
                </ion-item>
              </ion-list>
            </ng-template>
          </ion-popover>
        </div>
      </div>
    </div>
    <app-trail-card *ngFor="let item of list" [item]="item" (removeFromList)="removeFromList($event)"></app-trail-card>
  </div>
</ion-content>