.body-content {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  gap: 16px;

  .search-box-outer-89655 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

    .search-box-filter-outer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 6px;

      .label-986675555 {
        font-size: 10px;
        color: #677169
      }

    }

    .search-box-input-outer {
      background: #FFFFFF;
      height: 40px;
      // width: 70%;
      border: 0.5px solid rgb(103 113 105 / 50%);
      border-radius: 20px;

      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      padding-left: 8px;
      padding-right: 8px;
      gap: 8px;

      input:focus,
      input:focus-visible {
        border: none;
        outline: none;
        /* Add this line to remove the outline */
      }

      input:active {
        border: none;
      }

      input {
        background: transparent;
        border: none;
        color: rgba(102, 102, 104, 0.5);
        flex-grow: 1;
      }

    }

  }

  .header-chips {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: nowrap;
    height: 40px;
    // width: 30%;
    // overflow-x: scroll;

    .header-chip {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      ion-chip {
        display: flex;
        align-items: center;
        height: 40px;
        justify-content: center;
        gap: 4px;
        font-size: 16px;
        background-color: #ffffff;
        border: 0.5px solid rgb(103 113 105 / 50%);
        padding: 0 22px;
        // /* width: 100%;

      }

    }


  }
}

.profile-line-789578 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  // width: 150px;
  flex-wrap: wrap;
  .img1-789575 {
    width: 18px;
    height: 18px;

  }
}
