<div class="trial-box-item-outer-689567">
  <div class="trial-box-item-689567">
    <div class="profile-line-content">
      <div class="image-box-outer">
        <div class="image-circle-789675"
          [style.background-image]="item.student.student_image ? 'url(' + item.student.student_image + ')' : 'assets/profileimg.png'">
        </div>
        <div class="pnd-678956" *ngIf="item.status == 'Pending'">
          <img src="../../../assets/svg/panding.svg" />
          <div class="pnd-inner-7895">Pending</div>
        </div>
        <div class="pnd-678956" *ngIf="item.status == 'Complete'">
          <img src="../../../assets/svg/panding.svg" />
          <div class="pnd-inner-7895">Complete</div>
        </div>
        <div class="pnd-678956" *ngIf="item.status == 'Schedule_pending'">
          <img src="../../../assets/svg/panding.svg" />
          <div class="pnd-inner-7895">Accepted</div>
        </div>
        <div class="pnd-678956" *ngIf="item.status == 'Rejected'">
          <img src="../../../assets/svg/panding.svg" />
          <div class="pnd-inner-7895">Rejected</div>
        </div>
        <!-- <div class="pnd-678956" *ngIf="item.status == 'Scheduled'">
          <img src="../../../assets/svg/panding.svg" />
          <div class="pnd-inner-7895">Scheduled</div>
        </div> -->
        <div class="pnd-678956" *ngIf="item.status == 'Blocked'">
          <img src="assets/icon/block-circle.svg" />
          <div class="pnd-inner-7895">Blocked</div>
        </div>
      </div>
      <div class="content-box-outer">
        <div class="content-box-outer-heading-top">
          <div class="title-heading-789 outfit-semibold">
            {{item.student.name}}
          </div>
          <div class="pnd-678956" *ngIf="item.status != 'Rejected'">
            <img src="../../../assets/svg/option.svg" [id]="'click-trigger-' + item.id" />
          </div>
          <ion-popover [trigger]="'click-trigger-' + item.id" triggerAction="click">
            <ng-template>
              <ion-list *ngIf="item.status == 'Pending'">
                <ion-item class="profile-line-789578" (click)="trailStatus('Accepted')">
                  <img class="img1-789575" src="assets/icon/check-circle.svg" />
                  <div class="nbl-687 outfit-semibold ">Accept</div>
                </ion-item>
              </ion-list>
              <ion-list *ngIf="item.status == 'Pending'">
                <ion-item class="profile-line-789578" (click)="trailStatus('Rejected')">
                  <img class="img1-789575" src="assets/icon/reject-circle.svg" />
                  <div class="nbl-687 outfit-semibold ">Reject</div>
                </ion-item>
              </ion-list>
              <ion-list *ngIf="item.status == 'Pending'">
                <ion-item class="profile-line-789578" (click)="trailStatus('Blocked')">
                  <img class="img1-789575" src="assets/icon/block-circle.svg" />
                  <div class="nbl-687 outfit-semibold ">Block</div>
                </ion-item>
              </ion-list>
              <ion-list *ngIf="item.status == 'Complete' || item.status == 'Schedule_pending'">
                <ion-item class="profile-line-789578" >
                  <img class="img1-789575" src="../../../assets/svg/chat-fill.svg" />
                  <div class="nbl-687 outfit-semibold ">Chat</div>
                </ion-item>
              </ion-list>
              <ion-list *ngIf="item.status == 'Schedule_pending'"> 
                <ion-item class="profile-line-789578" (click)="trailStatus('Complete')" >
                  <img class="img1-789575" src="../../../assets/svg/complete.svg " />
                  <div class="nbl-687 outfit-semibold ">Complete</div>
                </ion-item>
              </ion-list>
              <ion-list *ngIf="item.status == 'Blocked'">
                <ion-item class="profile-line-789578"  (click)="trailStatus('Unblock')">
                  <img class="img1-789575" src="assets/icon/block-circle.svg" />
                  <div class="nbl-687 outfit-semibold ">Unblock</div>
                </ion-item>
              </ion-list>
            </ng-template>
          </ion-popover>
        </div>
        <div class="country-heading-789">
          <span *ngIf="flag" slot="start" style="border-radius: 5px;" class="fi fi-{{flag}}"></span>
          <span class="country-name-789 outfit">{{item.student.country}}</span>
        </div>
        <div class="age-title-789 outfit">Course ID: {{item.course.serial_number}}</div>
      </div>
    </div>
    <!-- <div class="line"></div> -->
  </div>
</div>