<div class="nd-card-outer-748">
  <div class="image-outer" [class.rectable-image-outer]="hostScreensize <= 400" (click)="openDetails.emit()" [ngStyle]="{ 'background-image': 'url(' + item.image + ')' }">
    <div class="label-bar-bottom" *ngIf="hostScreensize>400">
      <span>{{ item.auth_user_currency_symbol }} {{ item.updated_price }}/lesson</span>
    </div>
  </div>
  <div class="content-outer" [class.rectable-content-outer]="hostScreensize <= 400">
    <div class="content-inner">
      <div class="content-title roboto-medium fs-16" (click)="openDetails.emit()">
        {{ item.title }}
      </div>

      <div class="other-info">
        <div class="rating">
          <app-rating-stars [rating]="rating"></app-rating-stars>
          <span *ngIf="hostScreensize > 400" class="rating-value fs-12 roboto-medium">{{ rating }} ({{ total_rating }})</span>
        </div>

        <div class="teacher">
          <img class="teacher-image" [src]="teacherImage" alt="Teacher" />
          <div class="teacher-name roboto-regular fs-14">{{ displayName }}</div>
          <span slot="start" class="fi fi-{{ flag }}"></span>
        </div>

        <div class="actions">
          <!-- <div class="big-action-button-8574" (click)="requestTrail(item.id)" *ngIf="trail === false && loading === false && status !== 'Rejected' ">
            <img src="assets/svg/transfer.svg" alt="" /> Free trial
          </div>
          <div class="big-action-button-8574" (click)="requestTrail(item.id)" *ngIf="status === 'Rejected' && loading === false ">
            <img src="assets/svg/transfer.svg" alt="" /> Free trial
          </div>
          <div class="big-action-button-8574" (click)="presentAlert()" *ngIf="item.trail === true && loading === false && status !== 'Pending' && status !== 'Rejected'&& status !== 'Complete'">
            <img src="assets/svg/trail.svg" alt="" /> Cancel trial
          </div>
          <div class="big-action-button-8574" *ngIf="item.trail === true && loading === false && status === 'Accepted'">
            Trial Accepted
          </div>
          <div class="big-action-button-8574" *ngIf="item.trail === true && loading === false && status === 'Complete'">
            <img src="assets/svg/complete.svg" alt="" /> Trial Completed
          </div> -->

          <!-- *ngIf="getButtonConfig(item)" -->
          <app-trial-req-button [courseId]="item.id" ></app-trial-req-button>



          <div class="action-items">
            <img [src]="itemExistInFav$ ? 'assets/svg/heart-78.svg' : 'assets/svg/heart-77.svg'"
              (click)="itemExistInFav$ ? removeToFav() : addToFav()" />
            <img src="assets/svg/share-77.svg" alt="Share" class="share-icon" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
