<ion-grid class="borders-top-bottom-2523643">
  <ion-row>
    <ion-col>
      <div class="d-flex flex-column gap-8 border-right-2523643" >
        <div *ngFor="let item of colA" class="d-flex flex-row gap-8 align-center">
          <img [src]="item.icon" />
          <div class="fs-14">{{item.text}}</div>
        </div>
      </div>
    </ion-col>
    <ion-col>
      <div class="d-flex flex-column gap-8">
        <div *ngFor="let item of colB" class="d-flex flex-row gap-8 align-center">
          <img [src]="item.icon" />
          <div class="fs-14">{{item.text}}</div>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
