<ion-header>
  <div class="top-header-78956">
    <div class="header-left-items-78956">
      <div class="header-title  roboto-regular ">Profile Completed</div>
    </div>

  </div>
</ion-header>
<div class="ion-padding ">
  <div class="body-content-68448">
    <div class="teacher-welcome-image-78521">
      <img src="../../../../assets/svg/completeP.svg" alt="">
    </div>
    <div class="teacher-welcome-center-text-box-78522">
      <div class="teacher-welcome-top-text-78523">Your profile is now complete!</div>
      <div class="teacher-welcome-center-text-78524">
        You can now send messages to the teachers,
        <br>
        request free trial classes, buy study materials.
      </div>
    </div>
    <app-sd-button-gray [text]="'Continue'" (click)="done()"></app-sd-button-gray>

  </div>
</div>
