.gallery-outer-8965 {
  display: flex;
  gap: 16px;
  width: 100%;
  height: auto;
  align-items: center;
  flex-wrap: wrap;
}

.image-card-78975 {
  /* Optional: Add styling for image cards */
  background-color: rgb(217, 217, 217);
  border-radius: 5px;
  width: 125px;
  height: 100px;
  position: relative;
  /* height: auto; */
  display: block;
  border-radius: 5px;
  object-fit: cover;
  aspect-ratio: 4 / 3;
  background-size: cover;
  background-position: center center;
}

.image {
  height: 100px;
  width: 125px;
  object-fit: contain;
}

.read-more {
  width: 100%;
  margin-top: 16;
  height: 40px;
  border-radius: 00px;
  background-color: white;
  box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
  border: 1px solid #bfbfbf;
  font-size: 16x;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: 600;
}

.buttons {
  position: absolute;
  bottom: 10px;
}

ion-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 24px;
}

.clear-input-678956744 {
  position: absolute;
  right: 1px;
  background-color: white;
  top: 1px;
  border-radius: 50%;
}