<div class="sd-input-box-outer-675315">
  <img *ngIf="image" [src]="image" alt="" class="input-image">
  <!-- <input class="fs-16 roboto-regular sd-input-box-input-675315" [class.low-padding-87678]="!image"
    [minlength]="minlength" [maxlength]="maxlength" [type]="type" [placeholder]="placeholder" [(ngModel)]="inputText"
    (ngModelChange)="modelChange($event)" (keyup)="result($event)" [readOnly]="isReadOnly" /> -->
  <ion-datetime-button datetime="startDatetime" class="date-time-button-112"></ion-datetime-button>
  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime id="startDatetime" presentation="date" [(ngModel)]="inputText" [minlength]="minlength"
        [maxlength]="maxlength" (ngModelChange)="modelChange($event)" (keyup)="result($event)"></ion-datetime>
    </ng-template>
  </ion-modal>
  <img src="assets/svg/clear.svg" class="clear-input-678956744" *ngIf="inputText && !showTogglePassword" alt=""
    (click)="clearInput()">
  <ion-icon class="passw-input-678956744" *ngIf="showTogglePassword"
    [name]="togglePassword ? 'eye-off-outline' : 'eye-outline'" (click)="toggleShowPasword(togglePassword)"></ion-icon>
</div>
<app-sd-error-input-info *ngIf="isRequired && needed" [errorText]="errorText"></app-sd-error-input-info>