<div class="input-box-lines city-zip">
  <div class="zip-code-2 d-flex flex-column gap-8">
    <div class="input-title fs-14 roboto-medium">Start Date (optional)</div>
    <div class="sd-input-box-outer-675315">
      <ion-datetime-button class="fs-16 roboto-regular" datetime="startDate"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true" #dateModal>
        <ng-template>
          <ion-datetime id="startDate" presentation="date" [value]="startDate"
            (ionChange)="closeDateModal($event, 'start_date', dateModal)"></ion-datetime>
        </ng-template>
      </ion-modal>
      <img src="assets/svg/calander.svg" class="clear-input-678956744" alt="">
    </div>
  </div>
  <div class="zip-code-2 d-flex flex-column gap-8">
    <div class="input-title fs-14 roboto-medium">End Date (optional)</div>
    <div class="sd-input-box-outer-675315">
      <ion-datetime-button class="fs-16 roboto-regular" datetime="endDate"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true" #dateendModal>
        <ng-template>
          <ion-datetime id="endDate" presentation="date" [value]="endDate"
             (ionChange)="closeDateModal($event, 'end_date', dateendModal)"></ion-datetime>
        </ng-template>
      </ion-modal>
      <img src="assets/svg/calander.svg" class="clear-input-678956744" alt="">
    </div>
  </div>
</div>
<div *ngIf="dateError" class="error-text" style="color: red; margin-top: 8px;">{{ dateError }}</div>