<ion-header class="ion-no-border ion-no-shadow">
  <app-sd-header-top [showBack]="true" [title]="'My Students'"
    [backUrl]=""></app-sd-header-top>
</ion-header>
<ion-content class="ion-content-bg ion-padding" [fullscreen]="true">
  <div class="body-content">
    <div class="search-box-outer-89655">
      <div class="search-box-input-outer">
        <img src="assets/icon/input-search-gray.svg" />
        <input type="text" placeholder="Search Students" [(ngModel)]="search" (keyup)="doSearch($event)" />
      </div>
      <div class="header-chips">
        <div class="header-chip">
          <ion-chip id="click-trigger" class="ion-no-padding ion-no-margin">{{globalTrials.status ? globalTrials.status : 'Status' }} <img src="../../assets/svg/arrow-dwon.svg" alt=""></ion-chip>
          <ion-popover trigger="click-trigger" triggerAction="click" [dismissOnSelect]="true">
            <ng-template>
              <ion-list>
                <ion-item class="profile-line-789578" (click)="filterByStatus('')">
                  <div class="nbl-687 outfit-medium " style="margin-left: 16px;">All</div>
                </ion-item>
              </ion-list>
              <ion-list>
                <ion-item class="profile-line-789578" (click)="filterByStatus('Pending')">
                  <img class="img1-789575" src="../../../assets/svg/panding.svg" />
                  <div class="nbl-687 outfit-medium " style="margin-left: 16px;">Pending</div>
                </ion-item>
              </ion-list>
              <ion-list>
                <ion-item class="profile-line-789578" (click)="filterByStatus('Accepted')">
                  <img class="img1-789575" src="../../../assets/svg/accepted.svg" />
                  <div class="nbl-687 outfit-medium " style="margin-left: 16px;">Accepted</div>
                </ion-item>
              </ion-list>
              <ion-list>
                <ion-item class="profile-line-789578" (click)="filterByStatus('Completed')">
                  <img class="img1-789575" src="../../../assets/svg/complete.svg " />
                  <div class="nbl-687 outfit-medium " style="margin-left: 16px;">Completed</div>
                </ion-item>
              </ion-list>
              <ion-list>
                <ion-item class="profile-line-789578" (click)="filterByStatus('Rejected')">
                  <img class="img1-789575" src="assets/icon/reject-circle.svg" />
                  <div class="nbl-687 outfit-medium " style="margin-left: 16px;">Rejected</div>
                </ion-item>
              </ion-list>
              <ion-list>
                <ion-item class="profile-line-789578" (click)="filterByStatus('Blocked')">
                  <img class="img1-789575" src="assets/icon/block-circle.svg" />
                  <div class="nbl-687 outfit-medium " style="margin-left: 16px;">Blocked</div>
                </ion-item>
              </ion-list>

            </ng-template>
          </ion-popover>
        </div>
      </div>
    </div>
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <app-trail-card *ngFor="let item of globalTrials.list" [item]="item"></app-trail-card>
    <div class="fs-14 outfit" *ngIf="globalTrials.list.length === 0">No results Found</div>

    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
