.sd-input-box-outer-675315 {
  border-radius: 10px;
  background: #ffffff;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
  padding-left: 8px;
  border: 0.15px solid rgba(0, 0, 0, 0.75);
  gap: 8px;
  position: relative;
  .sd-input-box-input-675315 {
    background: none;
    border: none;
    outline: none;
    flex-grow: 1;
  }

  .sd-input-box-input-675315:focus {
    box-shadow: none;
  }

  .clear-input-678956744{
    height: 16px;
    opacity: 0.6;
    position: absolute;
    right: 8px;
    top: 10px;

  }
  
}

.box-input-golden-border {
  border: 2px solid #F3BF59;
}
