.sd-input-box-outer-675315 {
  height: 40px;
  border-radius: 8px;
  background: #ffffff;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  gap: 8px;
  width: 100% !important;
}

.sd-input-box-input-675315 {
  background: none;
  border: none;
  outline: none; /* Remove default focus outline */
  flex-grow: 1;
}

.sd-input-box-input-675315:focus {
  /* Additional styles when input is focused */
  /* You can customize this block based on your requirements */
  box-shadow: none; /* Remove any focus box-shadow */
}

.add-icon{
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 20px;
}

.language-chips {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 8px;
}

.lang-chips-7895545 {
  margin-top: 8px;
}

.lang-chips-7895545 ion-chip {
  margin: 0;

}

.top-header-78956 {
  background: #ffffff;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;

  .header-left-items-78956 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;

    .header-title {
      color: #393939;
      font-size: 20px;
    }
  }

  .header-right-items-78956 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
  }
  .image {
    height: 18px;
  }
}
