<ion-header class="ion-no-border ion-no-shadow">
  <app-sd-header-top [showBack]="true" [title]="'Filter'" [backUrl]=""></app-sd-header-top>
</ion-header>
<ion-content class="ion-padding">
  <div class="body-content-68448" style="padding: 0 6px;">
    <div class="input-box-lines d-flex flex-column gap-8">
      <div class="input-title fs-14 roboto-medium">What do you want to learn?</div>
      <app-search-keyword (onChange)="result($event, 'keyword')" [subs]="searchFilterService.formData.keywords"
        placeholder="Type and add" [key]="'keyword'" [errorText]="'keyword is required'"></app-search-keyword>
    </div>
    <div class="input-box-lines d-flex flex-column gap-8">
      <div class="input-title fs-14 roboto-medium">Language of communication</div>
      <app-course-language placeholder="Select" (onChange)="result($event, 'language')"
        [language]="searchFilterService.formData.language" [key]="'language'"
        [errorText]="'language is required'"></app-course-language>
    </div>
    <div class="input-box-lines d-flex flex-column gap-8">
      <div class="input-title fs-14 roboto-medium">Course Price</div>
      <app-course-prise-range (onChange)="result($event, 'price')" [key]="'price'" [currentValue]="searchFilterService.formData.price"> </app-course-prise-range>
    </div>
    <div class="input-box-lines d-flex flex-column gap-8">
      <app-mode-of-teaching placeholder="Provide the brief details of the course (Minimum 250 characters)"
        (onChange)="result($event, 'mode_type')" [mode]="searchFilterService.formData.mode_type"
        [capacity]="searchFilterService.formData.capacity" [key]="'mode_type'"
        [errorText]="'Mode of Teaching & Capacity is required'"></app-mode-of-teaching>
    </div>
    <div class="input-box-lines d-flex flex-column gap-8">
      <div class="input-title fs-14 roboto-medium">Hourly rate {{currency}}</div>
      <app-sd-input-box (onChange)="result($event, 'hourly_rate')"
        [inputText]="searchFilterService.formData.hourly_rate" [key]="'hourly_rate'" [errorText]="'price is required'"
        [type]="'number'"></app-sd-input-box>
    </div>
    <div class="input-box-lines d-flex flex-column gap-8">
      <div class="input-title fs-14 roboto-medium">Name</div>
      <app-sd-input-box placeholder="Teacher or institute name" (onChange)="result($event, 'name')"
        [inputText]="searchFilterService.formData.name" [key]="'name'"
        [errorText]="'Name is required'"></app-sd-input-box>
    </div>
    <div class="input-box-lines d-flex flex-column gap-8">
      <div class="input-title fs-14 roboto-medium">Country</div>
      <app-sd-country-box placeholder="Select" (onChange)="result($event, 'country')"
        [country]="searchFilterService.formData.country" [key]="'country'"
        [errorText]="'Country is required'"></app-sd-country-box>
    </div>

    <div class="input-box-lines d-flex flex-column gap-8">
      <div class="input-title fs-14 roboto-medium">Travel policy</div>
      <app-travel-police placeholder="Select" (onChange)="result($event, 'travel_policy')" [key]="'travel_policy'"
        [errorText]="'travel_policy is required'"></app-travel-police>
    </div>
    <app-sd-age-boox placeholder="Select" (onChange)="result($event, 'age')"
      [from_age]="searchFilterService.formData.from_age" [to_age]="searchFilterService.formData.to_age" [key]="'age'"
      [errorText]="'Age Range is required'"></app-sd-age-boox>
  </div>
</ion-content>
<ion-footer class="ion-padding ion-no-border ion-no-shadow ">
  <div class="d-flex flex-column gap-16">
    <div class="input-box-lines">
      <app-sd-button-gray [text]="'See results'" (click)="submit()"></app-sd-button-gray>
    </div>
  </div>
</ion-footer>
