<div class="nd-card-outer-748">
  <div class="image-outer" (click)="openClickDetail()" [ngStyle]="{ 'background-image': 'url(' + item.image + ')' }">
    <div class="label-bar-bottom">
      <span>{{ item.auth_user_currency_symbol }} {{ item.price }}</span>
    </div>

    <div class="profile-line-7895760" *ngIf="status === 'active'">
      <img src="../../../assets/svg/live.svg" />
      <!-- <div class="label-789576 fs-14 outfit">Live</div> -->
    </div>
    <div class="profile-line-7895760" *ngIf="status === 'in-progress'">
      <img src="../../../assets/svg/inactive.svg" />
      <!-- <div class="label-7895766 fs-14 outfit">In Progress</div> -->
    </div>
    <div class="profile-line-7895760" *ngIf="status === 'inactive'">
      <img src="../../../assets/svg/inactive.svg" />
      <!-- <div class="label-7895766 fs-14 outfit">Inactive</div> -->
    </div>

  </div>
  <div class="content-outer">
    <div class="content-inner">
      <div class="content-title roboto-medium fs-16" (click)="openClickDetail()">
        {{ item.title }}
      </div>

      <div class="other-info">

        <div class="profile-content-78678564">
          <div class="profile-line-789575">
            <div class="label-789575 fs-16 outfit"> Created on {{created_at}}</div>
          </div>
        </div>


        <div class="rating">
          <app-rating-stars [rating]="rating"></app-rating-stars>
          <span class="rating-value fs-12 roboto-medium">{{ rating }} ({{ total_rating }})</span>
        </div>

        <div class="actions">
          <!-- <div class="big-action-button-8574" (click)="requestTrail(item.id)" *ngIf="trail === false && loading === false && status != 'Rejected' ">
            <img src="assets/svg/transfer.svg" alt="" /> Free trial
          </div>
          <div class="big-action-button-8574" (click)="requestTrail(item.id)" *ngIf="status === 'Rejected' && loading === false ">
            <img src="assets/svg/transfer.svg" alt="" /> Free trial
          </div>
          <div class="big-action-button-8574" (click)="presentAlert()" *ngIf="item.trail === true && loading === false && status !== 'Accepted' && status !== 'Rejected'&& status !== 'Complete'">
            <img src="assets/svg/trail.svg" alt="" /> Cancel trial
          </div>
          <div class="big-action-button-8574" *ngIf="item.trail === true && loading === false && status === 'Accepted'">
            Trial Accepted
          </div>
          <div class="big-action-button-8574" *ngIf="item.trail === true && loading === false && status === 'Complete'">
            <img src="assets/svg/complete.svg" alt="" /> Trial Completed
          </div> -->

          <div class="big-action-button-8574">
            <span>{{ '2231 Trials' }}</span>
          </div>

          <div class="right-980676">

            <div class="profile-line-789576">
              <img src="../../../assets/svg/option.svg" [id]="'click-trigger-' + item.id" />
            </div>
            <ion-popover [trigger]="'click-trigger-' + item.id" triggerAction="click" [dismissOnSelect]="true">
              <ng-template>
                <ion-list>
                  <ion-item class="profile-line-789578" (click)="editCourse(item)">
                    <div style="display: flex; align-items: center; justify-content: center; gap: 8px;">
                      <img class="img1-789575" src="../../../assets/svg/pencil.svg" />
                      <div class="label-789575 fs-16 outfit">Edit</div>
                    </div>
                  </ion-item>
                </ion-list>
                <ion-list *ngIf="status == 'active'">
                  <ion-item class="profile-line-789578" (click)="inactiveCourse(item)">
                    <div style="display: flex; align-items: center; justify-content: center; gap: 8px;">
                      <img class="img1-789575" src="../../../assets/svg/eye.svg" />
                      <div class="label-789575 fs-16 outfit">Inactive</div>
                    </div>
                  </ion-item>
                </ion-list>
                <ion-list *ngIf="status == 'inactive'">
                  <ion-item class="profile-line-789578" (click)="activeCourse(item)">
                    <div style="display: flex; align-items: center; justify-content: center; gap: 8px;">
                      <img class="img1-789575" src="../../../assets/svg/active-eye.svg" />
                      <div class="label-789575 fs-16 outfit">Active</div>
                    </div>
                  </ion-item>
                </ion-list>
                <ion-list>
                  <ion-item class="profile-line-789578" (click)="presentAlert(item)" id="present-alert">
                    <div style="display: flex; align-items: center; justify-content: center; gap: 8px;">
                      <img class="img1-789575" src="../../../assets/svg/trash.svg" />
                      <div class="label-789575 fs-16 outfit">Delete</div>
                    </div>
                  </ion-item>
                </ion-list>
              </ng-template>
            </ion-popover>
          </div>
          <!-- <div class="action-items"> -->

            <!-- <img [src]="item.is_liked_by_me ? 'assets/svg/heart-78.svg' : 'assets/svg/heart-77.svg'"
              (click)="item.is_liked_by_me ? removeToFav() : addToFav()" />
            <img src="assets/svg/share-77.svg" alt="Share" class="share-icon" /> -->
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
