<ion-header class="ion-no-border ion-no-shadow">
  <app-sd-header-top [backUrl]="backUrl" [showBack]="true" [title]="title"></app-sd-header-top>
</ion-header>
<ion-content class="ion-padding " #content>
  <form>
    <swiper [slidesPerView]="1" [allowTouchMove]="false" [spaceBetween]="40" [pagination]="{ clickable: false }" #slides class="swiper-container-7895">
      <ng-template swiperSlide>
        <div class="body-content-68448">

          <app-input-material-title></app-input-material-title>
          <app-input-material-description></app-input-material-description>
          <app-input-material-price></app-input-material-price>
          <app-input-material-language></app-input-material-language>
          <app-input-material-photos></app-input-material-photos>
          <app-input-material-terms></app-input-material-terms>


        </div>
      </ng-template>
      <ng-template swiperSlide>

        <div class="body-content-68448">
          <!-- <div class="subject-sec d-flex flex-column gap-8">
            <div class="input-title fs-14 roboto-medium">Search Keyword <img src="../../assets/svg/question.svg" alt=""
                id="click-keyword "><i class="ti ti-help-hexagon"></i></div>
            <ion-popover trigger="click-keyword " triggerAction="click">
              <ng-template>
                <div class="ion-padding popover-title">Add multiple search keywords so that the course will come up in
                  the search result.
                </div>
              </ng-template>
            </ion-popover>
            <div class="input-box-lines" style="width: 100%;">
              <app-search-keyword (onChange)="result($event, 'keyword')" [subs]="createMaterialService.formData.keyword"
                placeholder="Type and add" [key]="'keyword'" [errorText]="'keyword is required'"></app-search-keyword>
            </div>
          </div> -->



          <!-- <div class="input-title fs-14 roboto-medium">Upload Study Material/Notes/lecture<img
              src="../../assets/svg/question.svg" alt="" id="click-keyword "></div>
          <div class="input-box-lines d-flex flex-column gap-8">
            <app-material-upload [materialDoc]="createMaterialService.formData.image" (onChange)="result($event, 'image')"
              [key]="'image'" [errorText]="'Material Document  is required'"
              (click)="openMaterialDoc()"></app-material-upload>
          </div> -->

        </div>

      </ng-template>
    </swiper>

  </form>
</ion-content>
<ion-footer class="ion-padding ion-no-border ion-no-shadow ion-content-medium-background">
  <div class="d-flex flex-column gap-16">
    <div class="input-box-lines">
      <app-sd-button-gray [text]="'Next'" [disabled]="loading" *ngIf="step === 1" (click)="onSlideChange()"></app-sd-button-gray>
      <!-- <app-sd-button-gray [text]="'Save'" *ngIf="step === 2" (click)="submit()"></app-sd-button-gray> -->
    </div>
  </div>

</ion-footer>
