<ion-header class="ion-no-border ion-no-shadow">
  <app-sd-header-top [backUrl]="backUrl" [showBack]="showBack" [title]="title" [parentHandleBack]="step === 2"
  (parentBack)="shouldHandleBackToPrevScreen($event)"></app-sd-header-top>
</ion-header>
<ion-content class="ion-padding " #content>
  <form>
    <swiper [slidesPerView]="1" [allowTouchMove]="false" [spaceBetween]="40" [pagination]="{ clickable: false }" #slides class="swiper-container-7895">
      <ng-template swiperSlide>
        <div class="body-content-68448">

          <app-input-material-title></app-input-material-title>
          <app-input-material-description></app-input-material-description>
          <app-input-material-price></app-input-material-price>
          <app-input-material-language></app-input-material-language>
          <app-input-material-photos (click)="openPhotosView()"></app-input-material-photos>



        </div>
      </ng-template>
      <ng-template swiperSlide>

        <div class="body-content-68448">
          <app-input-material-keywords></app-input-material-keywords>
          <app-input-material-docs (click)="openDocssView()"></app-input-material-docs>
          <app-input-material-terms></app-input-material-terms>
        </div>

      </ng-template>
    </swiper>

  </form>
</ion-content>
<ion-footer class="ion-padding ion-no-border ion-no-shadow ion-content-medium-background">
  <div class="d-flex flex-column gap-16">
    <div class="input-box-lines">
      <app-sd-button-gray [text]="'Next'" [disabled]="loading" *ngIf="step === 1" (click)="onSlideChange()"></app-sd-button-gray>
      <app-sd-button-gray [text]="'Save'" *ngIf="step === 2" (click)="submit()"></app-sd-button-gray>
    </div>
  </div>

</ion-footer>
