<ion-content class="ion-no-padding" #content [fullscreen]="true">
  <div class="transparent-header-li-outer-78521">
    <div class="transparent-header-li-inner-78521">
      <div class="transparent-header-li left">
        <div class="rwbutton">
          <img src="assets/svg/arrow-back.svg" alt="back" (click)="nav.pop()" />
        </div>
      </div>

      <div class="transparent-header-li right">
        <div class="rwbutton">
          <img [src]="course$?.is_liked_by_me ? 'assets/svg/heart-78.svg' : 'assets/svg/heart-77.svg'" (click)="course$?.is_liked_by_me ? removeToFav() : addToFav()" />
        </div>
        <div class="rwbutton">
          <img src="assets/svg/share-77.svg" alt="share" />
        </div>

        <div class="rwbutton">
          <img src="assets/svg/gray-info.svg" alt="info" />
        </div>
      </div>
    </div>
    <app-course-photos class="photos-slider-589655" [courseId]="courseId"></app-course-photos>
  </div>

  <div class="body-content ion-padding">
    <div class="course-heading-78521">{{title}}</div>
    <div class="cource-price-and-rating-box-78541">
      <div class="cource-price--78542">
        {{currencySymbol}} {{price}}
        <span style="font-size: 12px"> /lesson</span>
      </div>
      <div class="cource-rating-box-78543">
        <app-rating-stars [rating]="rating"></app-rating-stars>
        <div class="cource-rating-number-78545">
          {{rating}}
          <span style="font-size: 12px; color: #7c7b7b"
            >({{total_rating}})</span
          >
        </div>
      </div>
    </div>
    <div class="line"></div>
    <div class="cource-details-box-78561">
      <div class="cource-time-and-lessons-78562">
        <div class="cource-time-box-78563">
          <img class="img1-789575" src="../../../assets/svg/time.svg" />
          {{duration}} hour each lesson
        </div>
        <div class="cource-lesson-box-78564">
          <img class="img1-789575" src="../../assets/svg/create-course.svg" />
          Total {{lessons}} lessons
        </div>
      </div>
      <div class="cource-time-and-lessons-78562">
        <div class="cource-time-box-78563">
          <img
            class="i-7685"
            src="../../../assets/svg/online.svg"
          />{{mode_type}}
        </div>
        <div class="cource-lesson-box-78564">
          <img class="i-7685" src="assets/icon/smgroup-icon.svg" />{{capacity}}
        </div>
      </div>
      <div class="cource-time-and-lessons-78562">
        <div class="cource-time-box-78563">
          <img class="img1-789575" src="../../../assets/svg/cake.svg" />Student
          age {{from_age}}-{{to_age}}
        </div>
        <div class="cource-lesson-box-78564">
          <img
            src="../../assets/svg/speaks.svg"
            alt=""
            style="height: 16px"
          />{{language}}
        </div>
      </div>
      <div class="cource-time-and-lessons-78562">
        <div class="cource-time-box-78563">
          <img class="i-7685" src="../../../assets/svg/locations.svg" />
          <div style="width: 136px; text-wrap: wrap">
            {{state}}, {{country}}
          </div>
        </div>
        <div class="cource-lesson-box-78564">
          <img
            class="i-7685"
            src="../../../assets/svg/course-type.svg"
          />Workshop/Event
        </div>
      </div>
    </div>
    <div class="line"></div>
    <div class="detail-box-outer-78522">
      <div class="detail-head-78523">
        <div class="detail-heading-78524">Details</div>
        <div
          class="detail-heading-left--78524 to-end-dates-included"
          *ngIf="startDate"
        >
          <img
            src="../../assets/svg/calander.svg"
            alt=""
            style="height: 16px"
          />{{startDate}} {{ endDate ? 'to' : '' }} {{endDate}}
        </div>
      </div>
      <app-global-text-read [text]="description"></app-global-text-read>

    </div>
    <div class="line" *ngIf="schedules.length > 0"></div>
    <div class="detail-box-outer-78522" *ngIf="schedules.length > 0">
      <div class="detail-head-785234">
        <div
          class="detail-heading-78524 outfit-medium"
          *ngIf="schedules[0].type !== 3"
        >
          Weekly Schedule
        </div>
        <div
          class="detail-heading-78524 outfit-medium"
          *ngIf="schedules[0].type === 3"
        >
          Event Schedule
        </div>
        <div class="days-box">
          <app-course-schedules
            *ngFor="let item of schedules"
            [item]="item"
          ></app-course-schedules>
        </div>
      </div>
    </div>
    <div class="line" *ngIf="otherCourseListTotalCount > 0"></div>
    <app-other-courses
      *ngIf="otherCourseListTotalCount > 0"
      [count]="otherCourseListTotalCount"
      [list]="otherCourseList"
      (openOtherCourses)="openOtherCourses($event)"
      (onChange)="getOtherCourse($event)"
    ></app-other-courses>
  </div>
</ion-content>
