.vedio-box-outer {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

swiper-slide {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-evenly;
}

.vedio-box-inner {
  border-radius: 6px;
  width: 95%;
  // height: 150px;
  // background-color: #393939;


  .video-89654 {
    height: 130px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background-image: url(../../../../assets/img-4.jpg);
    object-fit: cover;
    background-repeat: no-repeat;
    background-color: aliceblue;
    background-size: cover;
    // background-position: center;
  }


  iframe {
    border-radius: 6px;
  }
}

.video-para {
  color: rgb(0, 0, 0);
  // margin-left: 5px;
  margin-top: 8px;
  font-weight: 400;
  text-wrap: wrap;
  // overflow: hidden;
  // display: -webkit-box;
  line-height: 21px;
  // -webkit-line-clamp: 1;
  // -webkit-box-orient: vertical;
  font-size: 14px;
}

.you-img {
  // height: 24px;
  width: 35px;
}
.price-tag{
  font-size: 14px;
  margin-top: 8px;
  font-weight: 600;
  color: rgba(0, 0, 0, 1);
}
.line {
  width: 95%;
  height: 0.15px;
  background-color: #677169;
}

.vedio-content-89658 {

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
}