<ion-header class="ion-no-border ion-no-shadow">
  <app-sd-header-top
    [title]="'Credit Balance'"
    [showBack]="true"
    [parentHandleBack]="true"
    (parentBack)="goback()"
    [backUrl]=""
  ></app-sd-header-top>
</ion-header>
<ion-content>
<div class="container">
  
</div>
</ion-content>
<ion-footer>
  <div class="d-flex flex-column gap-16 ion-padding">
    <app-sd-button-golden
      [text]="'Buy Credit'"
      (click)="buyCredits()"
    ></app-sd-button-golden>    
  </div>
</ion-footer>


  <!-- <ion-footer>
    <div class="d-flex flex-column gap-16">
      <app-sd-button-golden
        [text]="'Continue to the home page'"
      ></app-sd-button-golden>
      <app-sd-button-clear [text]="'Order Details'"></app-sd-button-clear>
    </div>
  </ion-footer> -->

