.top-dashboard-header-outer {
  background-color: #484848;
  border-radius: 0 0 20px 20px;
  height: 120px;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;

  .profile-img {
    width: 100px;
    // border-radius: 0 0 20px 20px;
    // height: 156px;
  }

  .header-oblique-double-675 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .header-line-678576 {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: absolute;
      justify-content: flex-end;
      right: 18px;
      top: 30px;


      .header-line-box-678576 {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 24px;

        img {
          height: 24px;
        }
      }
    }

    .header-info-box-68447 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding-left: 16px;
      gap: 6px;
      position: absolute;
      bottom: 13px;

      .header-info-user-68448 {
        display: flex;
        flex-direction: row;
        gap: 16px;

        .header-info-user-name {
          font-size: 20px;
          color: #ffffff;
        }

        .header-info-user-flag img {
          height: 14px;
        }
      }

      .header-info-misc-68448 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 8px;


      }
    }
  }
}

.dashboard-footer-outer-678567 {
  --background: #ffffff;
  background: #ffffff;

  .footer-tab-678567 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .footer-tab-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .footer-tab-label {
        font-size: 12px;
        color: #484c52;
      }
    }
  }
}

.image-box-89657 {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  object-fit: cover;
  background: rgb(255, 255, 255);
  background-repeat: repeat;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  // margin-top: 27px;
  background-size: cover;
  background-position: center center;
}

.ion-tab-button-67895675 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;

}

.bottom-bt-fab-yellow-67856745 {
  position: fixed;
  bottom: 0px;
  z-index: 500;
  right: 18px;
  // opacity: 0.8;
}

.ed-rv-67895465 {
  color: rgb(248, 4, 4);
}

.ed-circ-67895464 {
  width: 12px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgba(248, 180, 4, 1);
}

.ed-rv-67895464 {
  color: rgba(248, 180, 4, 1);
}

.ed-circ-67895465 {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgb(255, 0, 0);
}
.red-dot-4432432532 {
  width: 8px;
  height: 8px;
  background: red;
  position: absolute;
  top: 2px;
  right: -1px;
  border-radius: 50%;
  z-index: 5;
}
.popover-title {
  background-color: #454545;
  color: white;
  font-weight: 400;
  font-size: 16px;
}
