<div class="sd-input-box-outer-675315 nop-78565">
  <div class="mode-box-outer-78521">
    <div class="modes-of-teching-78522">
      <div class="modes-heading-78524">Mode of teaching</div>
      <div class="modes-selection-78525"  >
        <div [class.online-mode-78526]="teachingMode.mode == 'online'"
          [class.person-mode-78526]="teachingMode.mode != 'online'" (click)="toggleMode('online')">
          Online (Live)
        </div>
        <div [class.online-mode-78526]="teachingMode.mode == 'inPerson'"
          [class.person-mode-78526]="teachingMode.mode != 'inPerson'" (click)="toggleMode('inPerson')">
          In Person
        </div>
      </div>
    </div>
    <div class="capacity-78523">
      <div class="modes-heading-78524">Capacity</div>
      <div class="modes-selection-78525">
        <div class="online-mode-78526" [class.online-mode-78526]="teachingMode.capacity == '1-1'"
          [class.person-mode-78526]="teachingMode.capacity != '1-1'" (click)="toggleCapacity('1-1')">
          1-1
        </div>
        <div class="person-mode-78526" [class.online-mode-78526]="teachingMode.capacity == 'group'"
          [class.person-mode-78526]="teachingMode.capacity != 'group'" (click)="toggleCapacity('group')">
          Group</div>
      </div>
    </div>
  </div>
</div>
<app-sd-error-input-info *ngIf="isRequired && needed" [errorText]="errorText"></app-sd-error-input-info>
