<div class="transparent-header-li-outer-78521">
  <div class="transparent-header-li-inner-78521">
    <div class="transparent-header-li left">
      <div class="rwbutton">
        <img src="assets/svg/arrow-back.svg" alt="back" (click)="back.emit()" />
      </div>
    </div>

    <div class="transparent-header-li right">
      <div class="rwbutton">
        <img [src]="is_liked_by_me ? 'assets/svg/heart-78.svg' : 'assets/svg/heart-77.svg'" (click)="favToggle.emit()" />
      </div>
      <div class="rwbutton">
        <img src="assets/svg/share-77.svg" alt="share" />
      </div>

      <div class="rwbutton">
        <img src="assets/svg/gray-info.svg" alt="info" />
      </div>
    </div>
  </div>
  <app-slider-photos [sliderImages]="sliderImages"></app-slider-photos>
</div>