<div class="body-content-68448">
  <div class="sb-content-7895">
    <div *ngFor="let item of list">
      <app-generic-course-card [item]="item"></app-generic-course-card>
    </div>
  </div>
  <!-- <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll> -->
  <!-- </div> -->
</div>
<!-- <div class="ion-padding centered-text" *ngIf="list$.length === 0">
  <div class="label fs-16 outfit">No Favorite Courses Found</div>
</div> -->
