<div class="fs-16 outfit d-flex flex-column gap-16">
  <div class="Createdby-heading roboto-medium-2">Created by</div>
  <div class="d-flex gap-12 justify-content-between">
    <div class="d-flex">
      <img src="assets/profileimg.png" alt="teacher" class="teacher-img" />
      <div class="teacher-info">
        <div class="teacher-details">
          <div class="teacher-name roboto-bold">Navin</div>
          <div class="teacher-location outfit">
            <img src="assets/flag.png" alt="flag" class="flag-img" />India
          </div>
        </div>
      </div>
    </div>
    <div class="More-button">
      <img src="assets/svg/more-button.svg" alt="More" />
    </div>
  </div>
  <div class="Createdby-para outfit">
    Certified tutor with 5 years of experience in teaching Business English exam preparation and English for beginners.
  </div>
</div>