<div class="fs-16 outfit d-flex flex-column gap-16">
  <div class="Createdby-heading roboto-medium-2">Created by</div>
  <div class="d-flex gap-12 justify-content-between">
    <div class="d-flex">
      <img [src]="image" alt="teacher" class="teacher-img" />
      <div class="teacher-info">
        <div class="teacher-details">
          <div class="teacher-name roboto-bold">{{name}}</div>
          <div class="teacher-location outfit d-flex gap-8 align-center">
            <span class="fi fi-{{ flag }}"></span>
            <span >{{country}}</span> 
          </div>
        </div>
      </div>
    </div>
    <div class="More-button">
      <img src="assets/svg/more-button.svg" alt="More" />
    </div>
  </div>
  <div class="Createdby-para outfit">
    {{ text }}
  </div>
</div>