.stripe-checkout-header {
    margin-top: 80px;
    margin-bottom: 80px;

    .heading {
        font-size: 40px;
        color: rgba(66, 67, 71, 1);
    }
}

.stripe-payment-section {

    .heading {
        font-size: 27px;
        color: rgba(66, 67, 71, 1);
        padding-bottom: 20px;
    }

    .payment-border-outer {
        border: 0.5px solid rgba(0, 0, 0, 0.5);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border-radius: 10px;

        .payment-form-section {}
    }
}

.Privacy-policy {
    font-size: 14px;
    color: #777777;
    padding-bottom: 20px;
    text-align: center;

    a {
        color: #000000;
        text-decoration: underline;
    }
}

.order-details {
    margin-top: 122px;
    text-align: center;
}
    .order-heading {
        margin-top: 30px;
        font-family: roboto;
        font-size: 22px;
        font-weight: 700;
        color: #9FC78A;
        text-align: left;
    }

    .order-number {
        font-family: roboto;
        margin-top: 5px;
        font-size: 13px;
        font-weight: 400;
        text-align: left;
        margin-bottom: 100px;

    }

    .buttons{
        margin-top: 100px;
        .continue-button{
            margin-bottom: 10px;
        }
    }

    
