<div class="heading-outer-2345253 d-flex flex-column justify-content-between">
  <div class="heading roboto-bold fs-21">{{heading}}</div>
  <ng-content #name></ng-content>
  
</div>
<div class="outfit discription-text">

  


  <div
    class="discription-para fs-16"
    [class.collapsed]="isExpanded"
    [innerHTML]="text"
  ></div>
  <!-- <ion-button class="read-more" fill="clear" *ngIf="!isExpanded" (click)="toggleReadMore()">Read more</ion-button>
  <ion-button class="read-more" fill="clear" *ngIf="isExpanded" (click)="toggleReadMore()">Read less</ion-button> -->
  <div class="qulification-box-edu-readmore-98525">
    <div
      class="qulification-box-edu-button-98526"
      *ngIf="!isExpanded"
      (click)="toggleReadMore()"
    >
      Read More
    </div>
  </div>
  <div class="education-box-edu-readmore-98525">
    <div
      class="education-box-edu-button-98526"
      *ngIf="isExpanded"
      (click)="toggleReadMore()"
    >
      Read less
    </div>
  </div>
</div>
