.sd-input-box-outer-675315 {
  height: 50px;
  border-radius: 8px;
  background: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  border: 0.5px solid rgba(0, 0, 0, 0.75);
  padding-right: 8px;
  gap: 8px;
}