<ion-content class="remove-pd-top-323243243" #content [fullscreen]="true">

  <app-slide-banner [data]="bannerData" (back)="nav.pop()" (tapAction)="tapAction($event)"></app-slide-banner>

  <div class="body-content ion-padding">

    <app-scd-page-info [data]="infoData"></app-scd-page-info>
    <app-scd-page-course-statistics [data]="columnData"></app-scd-page-course-statistics>
    <app-global-text-read [heading]="aboutData.heading" [text]="aboutData.text">
      <div class="detail-heading-left--78524 to-end-dates-included" *ngIf="startDate">
        <img src="assets/svg/calander2.svg" alt="" style="height: 16px" />{{startDate}} {{ endDate ? 'to' : '' }}
        {{endDate}}
      </div>
    </app-global-text-read>
    <app-teacher-info-card [data]="teacherData" *ngIf="!isMyOwn"></app-teacher-info-card>
    <app-scd-page-course-schedule [data]="scheduleData" *ngIf="scheduleData.schedules.length !== 0"></app-scd-page-course-schedule>
    <app-my-courses [data]="coursesData" *ngIf="coursesData.list.length !== 0"></app-my-courses>
    <app-my-ratings [data]="ratingData" *ngIf="ratingData.list.length !== 0"></app-my-ratings>


    <!-- <div class="detail-box-outer-78522">
      <div class="detail-head-78523">
        <div class="detail-heading-78524">Details</div>
        <div
          class="detail-heading-left--78524 to-end-dates-included"
          *ngIf="startDate"
        >
          <img
            src="assets/svg/calander2.svg"
            alt=""
            style="height: 16px"
          />{{startDate}} {{ endDate ? 'to' : '' }} {{endDate}}
        </div>
      </div>
      <app-global-text-read [text]="description"></app-global-text-read>

    </div> -->

    

    <!-- <div class="line" *ngIf="schedules.length > 0"></div>
    <div class="detail-box-outer-78522" *ngIf="schedules.length > 0">
      <div class="detail-head-785234">
        <div class="detail-heading-78524 outfit-medium" *ngIf="schedules[0].type !== 3">
          Weekly Schedule
        </div>
        <div class="detail-heading-78524 outfit-medium" *ngIf="schedules[0].type === 3">
          Event Schedule
        </div>
        <div class="days-box">
          <app-course-schedules *ngFor="let item of schedules" [item]="item"></app-course-schedules>
        </div>
      </div>
    </div> -->

    
    <!-- <div class="line" *ngIf="otherCourseListTotalCount > 0"></div>
    <app-other-courses *ngIf="otherCourseListTotalCount > 0" [count]="otherCourseListTotalCount"
      [list]="otherCourseList" (openOtherCourses)="openOtherCourses($event)"
      (onChange)="getOtherCourse($event)"></app-other-courses> -->
  </div>
</ion-content>