<ion-content class="remove-pd-top-323243243" #content [fullscreen]="true">

  <app-slide-banner [data]="bannerData" (back)="nav.pop()"></app-slide-banner>

  <div class="body-content ion-padding">

    <app-scd-page-info [data]="infoData"></app-scd-page-info>
    <app-scd-page-course-statistics [data]="columnData"></app-scd-page-course-statistics>
    

    <div class="cource-details-box-78561">
      <div class="cource-time-and-lessons-78562">
        <div class="cource-time-box-78563">
          <img class="img1-789575" src="../../../assets/svg/time.svg" />
          {{duration}} hour each lesson
        </div>
        <div class="cource-lesson-box-78564">
          <img class="img1-789575" src="../../assets/svg/create-course.svg" />
          Total {{lessons}} lessons
        </div>
      </div>
      <div class="cource-time-and-lessons-78562">
        <div class="cource-time-box-78563">
          <img
            class="i-7685"
            src="../../../assets/svg/online.svg"
          />{{mode_type}}
        </div>
        <div class="cource-lesson-box-78564">
          <img class="i-7685" src="assets/icon/smgroup-icon.svg" />{{capacity}}
        </div>
      </div>
      <div class="cource-time-and-lessons-78562">
        <div class="cource-time-box-78563">
          <img class="img1-789575" src="assets/svg/cake2.svg" />Student
          age {{from_age}}-{{to_age}}
        </div>
        <div class="cource-lesson-box-78564">
          <img
            src="../../assets/svg/speaks.svg"
            alt=""
            style="height: 16px"
          />{{language}}
        </div>
      </div>
      <div class="cource-time-and-lessons-78562">
        <div class="cource-time-box-78563">
          <img class="i-7685" src="../../../assets/svg/locations.svg" />
          <div style="width: 136px; text-wrap: wrap">
            {{state}}, {{country}}
          </div>
        </div>
        <div class="cource-lesson-box-78564">
          <img
            class="i-7685"
            src="../../../assets/svg/course-type.svg"
          />Workshop/Event
        </div>
      </div>
    </div>
    <div class="line"></div>
    <div class="detail-box-outer-78522">
      <div class="detail-head-78523">
        <div class="detail-heading-78524">Details</div>
        <div
          class="detail-heading-left--78524 to-end-dates-included"
          *ngIf="startDate"
        >
          <img
            src="assets/svg/calander2.svg"
            alt=""
            style="height: 16px"
          />{{startDate}} {{ endDate ? 'to' : '' }} {{endDate}}
        </div>
      </div>
      <app-global-text-read [text]="description"></app-global-text-read>

    </div>

    <div class="line"></div>
    <app-teacher-info-card></app-teacher-info-card>
    

    <div class="line" *ngIf="schedules.length > 0"></div>
    <div class="detail-box-outer-78522" *ngIf="schedules.length > 0">
      <div class="detail-head-785234">
        <div
          class="detail-heading-78524 outfit-medium"
          *ngIf="schedules[0].type !== 3"
        >
          Weekly Schedule
        </div>
        <div
          class="detail-heading-78524 outfit-medium"
          *ngIf="schedules[0].type === 3"
        >
          Event Schedule
        </div>
        <div class="days-box">
          <app-course-schedules
            *ngFor="let item of schedules"
            [item]="item"
          ></app-course-schedules>
        </div>
      </div>
    </div>
    <div class="line" *ngIf="otherCourseListTotalCount > 0"></div>
    <app-other-courses
      *ngIf="otherCourseListTotalCount > 0"
      [count]="otherCourseListTotalCount"
      [list]="otherCourseList"
      (openOtherCourses)="openOtherCourses($event)"
      (onChange)="getOtherCourse($event)"
    ></app-other-courses>
  </div>
</ion-content>
