<ion-header class="ion-no-border ion-no-shadow ion-header-bg">
  <div class="profile-bc-header-678956">
    <div class="bback-btn-7895 ion-activatable ripple-parent rectangle" (click)="back()">
      <ion-ripple-effect></ion-ripple-effect>
      <img src="assets/svg/chv-back-black.svg" />
    </div>
    <div style="width: 100%;">
      <div class="search-box-outer-89655">
        <div class="search-box-input-outer">
          <input type="text" placeholder="Search" type="search" style="background: white;" [(ngModel)]="search"
            (keyup)="onKeyUp($event)" (search)="onSearch($event)" />
          <img src="assets/icon/input-search-gray.svg" />
        </div>
        <div class="search-box-filter-outer" style="width: 24px;" (click)="gotoFilter()">
          <img class="img-986675555" src="assets/icon/filter-icon.svg">
        </div>
      </div>
    </div>
  </div>
</ion-header>

<ion-content class=" ion-padding">
  <div class="body-content">
    <div class="recent-search-78521" *ngIf="!search">
      <div class="recent-search-heading-78522">
        <img src="../../../assets/svg/history.svg" alt="">Recent searches
      </div>
      <div class="recent-search-chips-78523">
        <div class="recent-search-chip-78524" *ngFor="let item of recentSearch" (click)="openFromRecentSearch(item)">
          {{item.keyword_name}}</div>
      </div>
    </div>
    <div class="line" *ngIf="!search"></div>
    <div class="popular-search-78525" *ngIf="!search">
      <div class="popular-search-heading-78526">
        <img src="../../../assets/svg/popular.svg" alt=""> Popular searches
      </div>
      <div class="popular-search-chips-78527">
        <div class="popular-search-chip-78528">Piano</div>
        <div class="popular-search-chip-78528">Guitar</div>
        <div class="popular-search-chip-78528">Art</div>
        <div class="popular-search-chip-78528">Drum</div>
        <div class="popular-search-chip-78528">yoga</div>
        <div class="popular-search-chip-78528">Music</div>
        <div class="popular-search-chip-78528">Art</div>
      </div>
    </div>



    <!-- <div class="recent-search-78521" *ngIf="search">
      <div class="recent-search-heading-78522">
       Keyword results
      </div>
      <div class="recent-search-chips-78523">
        <div class="recent-search-chip-78524" *ngFor="let item of filter.searchList" (click)="setRecentSeach(item)">
          {{item.name}}</div>
      </div>
    </div> -->
    <div *ngIf="search">
      <div class="recent-search-heading-78522">
        Search results
      </div>
      <div class="line" *ngIf="search"></div>
      <div class="search-seggetion-box-78521" *ngFor="let item of filter.searchList" (click)="setRecentSeach(item)">
        <img src="../../assets/svg/searchs.svg" alt="">
        <div class="search-seggetion-title-78522">
          {{item.name}}
        </div>
      </div>
      <div class="search-seggetion-box-78521" *ngFor="let item of filter.searchCourses" (click)="setRecentSeach(item)">
        <img src="../../assets/svg/searchs.svg" alt="">
        <div class="search-seggetion-title-78522">
          {{item.title}}
        </div>
      </div>

    </div>
  </div>
</ion-content>
