<div class="subjects" [class.low-opac-6644]="subs.length > 4">
  <div class="sd-input-box-outer-675315">
    <input class="fs-16 outfit sd-input-box-input-675315" [(ngModel)]="inputText" [type]="type" [placeholder]="placeholder" (keyup)="checkSuggestions($event)" [readOnly]="subs.length > 4" />
    <ion-icon *ngIf="inputText" name="close-outline" (click)="inputText = ''" ></ion-icon>
  </div>
  <div class="add-sub ion-activatable ripple-parent rectangle" *ngIf="noSugg" (click)="addSubject()">
    <ion-ripple-effect></ion-ripple-effect>
    <img src="assets/icon/add-circle.svg" alt="" >
  </div>
</div>
<div class="suggestions-list-outer">
  <div class="fs-14 outfit-light" *ngIf="suggestionsList.length > 0">Tap on suggestions to add (max 5)</div>
  <div class="suggestions-list-678564">

    <div class="sub-chips" *ngFor="let item of subs">
      <ion-chip class="chips-type-sm-7895 fs-14 outfit">{{item.name}}<ion-icon name="close-circle-outline" (click)="removeMySubject(item)"></ion-icon></ion-chip>
    </div>

    <ion-chip class="fs-14 outfit-light sub-chips-76544" fill="clear" *ngFor="let item of suggestionsList" (click)="addToSubjects(item)">{{item.name}}</ion-chip>
  </div>

</div>
<app-sd-error-input-info *ngIf="isRequired" [errorText]="errorText" ></app-sd-error-input-info>

