<ion-header>
  <app-sd-header-top [title]="'Student profile'" [backUrl]="backUrl" [showBack]="showBack"></app-sd-header-top>
</ion-header>


<ion-content class="ion-padding ion-content-medium-background">
  <div class="body-content-68448">

    <div class="input-box-lines d-flex flex-column gap-8">
      <div class="input-title fs-12 roboto-medium">Name</div>
      <app-sd-input-box placeholder="Student full name" (onChange)="result($event, 'name')"
        [inputText]="formData.name" [key]="'name'" [errorText]="'Name is required'"></app-sd-input-box>
    </div>
    <div class="input-box-lines d-flex flex-column gap-8">
      <div class="input-title fs-12 roboto-medium">Country</div>
      <app-sd-country-box placeholder="Select" (onChange)="result($event, 'country')" [country]="formData.country" [key]="'country'"
        [errorText]="'Country is required'"></app-sd-country-box>
    </div>
    <div class="input-box-lines d-flex flex-column gap-8" *ngIf="countryId">
      <div class="input-title fs-12 roboto-medium">State</div>
      <app-sd-state-box [countryId]="countryId" placeholder="Select" (onChange)="result($event, 'state')"
        [state]="formData.state" [key]="'state'" [errorText]="'State is required'"></app-sd-state-box>
    </div>

    <div class="input-box-lines city-zip" *ngIf="stateId">
      <div class="city d-flex flex-column gap-8">
        <div class="input-title fs-12 roboto-medium">City</div>
        <app-sd-input-box placeholder="City" (onChange)="result($event, 'city')" [inputText]="formData.city"
          [key]="'city'" [errorText]="'City is required'"></app-sd-input-box>
      </div>
      <div class="zip-code-2 d-flex flex-column gap-8">
        <div class="input-title fs-12 roboto-medium">Zip</div>
        <app-sd-input-box (onChange)="result($event, 'zip_code')" [inputText]="formData.zip_code" placeholder="Zip"
          [key]="'zip_code'" [errorText]="'!'"> </app-sd-input-box>
      </div>
    </div>
    <div class="input-box-lines d-flex flex-column gap-8">
      <div class="input-title fs-12 roboto-medium">Phone</div>
      <div class="phone-input">
        <div class="dail-code">
          <app-sd-dailcode-box (onChange)="result($event, 'dial_code')" [inputText]="formData.dial_code"
            [isReadOnly]="true" [key]="'dial_code'" [errorText]="'!'" [needed]="false"> </app-sd-dailcode-box>
        </div>
        <div class="number">
          <app-sd-input-box placeholder="Phone Number" (onChange)="result($event, 'phone_number')"
            [inputText]="formData.phone_number" [type]="'number'" [key]="'phone_number'"
            [errorText]="'Phone number is required'"></app-sd-input-box>
        </div>
      </div>
    </div>
    <div class="input-box-lines d-flex flex-column gap-8">
      <div class="input-title fs-12 roboto-medium">Year of birth</div>
      <app-sd-year-box placeholder="Select" (onChange)="result($event, 'dob')"
        [key]="'dob'" [errorText]="'Year is required'"
        [inputText]="formData.dob"></app-sd-year-box>
    </div>
    <div class="image-upload-box-st-78955674" (click)="photoInput.click()">
      <div class="icno-text-88666">
        <div *ngIf="formData.image" class="image-box-89657" [style.background-image]="'url(' + formData.image + ')'">
        </div>
        <img *ngIf="!formData.image" class="img-67855" src="assets/icon/user-avatar-stp.png" />
        <div class="roboto-regular fs-14">Upload Profile Photo (optional)</div>
      </div>
      <!-- *ngIf="!formData.image" -->
      <ion-icon name="chevron-forward-outline"></ion-icon>
      <!-- <ion-icon *ngIf="formData.image" class="upload-done-circle" name="checkmark-circle"></ion-icon> -->
      <!-- *ngIf="formData.image" -->
    </div>
    <input type="file" (change)="onFileSelected($event)" accept="image/*" style="display: none" #photoInput />
    <div class="terms-agree" *ngIf="!hideTerms">
      <app-accept-terms-profile [terms]="formData.terms"
        [key]="'terms'" [errorText]="'Please accept terms'"
        (onChange)="result($event, 'terms')"></app-accept-terms-profile>
    </div>

  </div>
</ion-content>
<ion-footer class="ion-padding ion-no-border ion-no-shadow ion-content-medium-background">
  <div class="d-flex flex-column gap-8">
    <app-sd-button-gray [text]="'Save and Continue'" (click)="submit()"></app-sd-button-gray>
    <!-- <div class="sd-clear-btn-96789611 ion-activatable ripple-parent rectangle" (click)="skipToStudentDashboard()">
      <ion-ripple-effect></ion-ripple-effect>
      <span class="roboto-regular fs-16 ">Skip now</span>
    </div> -->

  </div>

</ion-footer>
