<div class="vedio-content-89658">
  <swiper-container #slides style="width: calc(100vw - 32px); display: flex;" slides-per-view="1">
    <swiper-slide style="width: 100%; gap: 100px;">
      <div class="vedio-box-inner">
        <div class="review-box-header-78961">
          <div class="review-box-img-78962"></div>
          <div class="review-box-content-78963">
            <div class="review-box-name-78964">
              <p>Emaily B.</p>
              <div class="review-box-contry-78965">
                <img src="../../../../assets/svg/flag.svg" alt="">
                <p>India</p>
              </div>
            </div>
            <div class="review-box-star-78966">
              <img src="../../../../assets/svg/start.svg" alt="">
              <p>4.9</p>
            </div>
          </div>
        </div>
        <div class="review-box-para-78967">
          <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus natus veniam, quo vel voluptate, nulla
            voluptas quasi at, laboriosam rem fugiat exercitationem ea aliquid voluptatem voluptates. Dolorum quas quo
            dolor.
            Quas quibusdam fugit magnam! Magni labore laborum vero porro dolore, modi natus optio vitae. Voluptatum,
            repr...</P>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide style="width: 100%; gap: 100px;">
      <div class="vedio-box-inner">
        <div class="review-box-header-78961">
          <div class="review-box-img-78962"></div>
          <div class="review-box-content-78963">
            <div class="review-box-name-78964">
              <p>Emaily B.</p>
              <div class="review-box-contry-78965">
                <img src="../../../../assets/svg/flag.svg" alt="">
                <p>India</p>
              </div>
            </div>
            <div class="review-box-star-78966">
              <img src="../../../../assets/svg/start.svg" alt="">
              <p>4.9</p>
            </div>
          </div>
        </div>
        <div class="review-box-para-78967">
          <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus natus veniam, quo vel voluptate, nulla
            voluptas quasi at, laboriosam rem fugiat exercitationem ea aliquid voluptatem voluptates. Dolorum quas quo
            dolor.
            Quas quibusdam fugit magnam! Magni labore laborum vero porro dolore, modi natus optio vitae. Voluptatum,
            repr...</P>
        </div>
      </div>
    </swiper-slide>

    <swiper-slide style="width: 100%; gap: 100px;">
      <div class="vedio-box-inner">
        <div class="review-box-header-78961">
          <div class="review-box-img-78962"></div>
          <div class="review-box-content-78963">
            <div class="review-box-name-78964">
              <p>Emaily B.</p>
              <div class="review-box-contry-78965">
                <img src="../../../../assets/svg/flag.svg" alt="">
                <p>India</p>
              </div>
            </div>
            <div class="review-box-star-78966">
              <img src="../../../../assets/svg/start.svg" alt="">
              <p>4.9</p>
            </div>
          </div>
        </div>
        <div class="review-box-para-78967">
          <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus natus veniam, quo vel voluptate, nulla
            voluptas quasi at, laboriosam rem fugiat exercitationem ea aliquid voluptatem voluptates. Dolorum quas quo
            dolor. Quas quibusdam fugit magnam! Magni labore laborum vero porro dolore, modi natus optio vitae.
            Voluptatum,
            repr...</P>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
</div>