<swiper
  [slidesPerView]="2"
  [spaceBetween]="10"
  [pagination]="{ clickable: true }"
  class="swiper-container-inner-7892"
>
  <ng-template swiperSlide *ngFor="let item of list">
    <div class="vedio-box-inner card" (click)="clickOpen.emit(item)">
      <div
        class="video-89654"
        [style.background-image]="
          item.image ? 'url(' + item.image + ')' : 'assets/learn-piano.jpeg'
        "
      ></div>
      <div class="video-para">{{ item.title }}</div>
      <div class="price-tag">
        {{ item.auth_user_currency_symbol }}{{ item.updated_price }}
      </div>
    </div>
  </ng-template>
</swiper>
