.bonti-btn-7895 {
  width: 35px;
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none !important;
  border-radius: 45px;
  // background: rgba(0, 0, 0, 0.03);
  position: relative;
  ion-icon {
    color: #000000;
    font-size: 24px;
  }
}
