<div class="d-flex flex-column gap-16">
  <div class="course-heading-78521">{{title}}</div>
  <div class="cource-price-and-rating-box-78541">
    <div class="cource-price-78542">
      <span class="fs-12">{{currencySymbol}}</span>
      <span class="fs-21">{{price}} </span>
      <span class="fs-12">{{per_unit}}</span>
    </div>
    <div class="cource-rating-box-78543">
      <app-rating-stars [rating]="rating"></app-rating-stars>
      <div class="cource-rating-number-78545">
        <span>{{rating}}</span>
        <span style="color: #7C7B7B;">( {{total_rating}} )</span>
      </div>
    </div>
  </div>
</div>
