<ion-header>
  <div class="top-header-78956">
    <div class="header-left-items-78956">
      <div class="header-title  roboto-regular ">Complete Profile</div>
    </div>

  </div>
</ion-header>
<!-- <ion-content class="ion-padding "> -->

<div class="ion-padding">
  <div class="body-content-68448">
    <div class="body-content-68448">
      <div class="teacher-welcome-image-78521">
        <img src="../../assets/svg/teacher-complete.svg" alt="" style="height: 350px;">
      </div>
      <div class="teacher-welcome-center-text-box-78522">
        <div class="teacher-welcome-top-text-78523">Welcome to Tutor Bunny.</div>
        <div class="teacher-welcome-center-text-78524">
          Please select <span style="font-weight: 700;">Continue</span> to create the
          <br>
          application to join Tutor bunny as a Teacher
        </div>
      </div>
      <app-sd-button-gray [text]="'Continue'" (click)="continue()"></app-sd-button-gray>
    </div>
  </div>
</div>
<!-- </ion-content> -->
