.sd-input-box-outer-675315 {
  border-radius: 8px;
  background: #ffffff;
padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  gap: 8px;
}

.sd-input-box-input-675315 {
  background: none;
  border: none;
  outline: none; /* Remove default focus outline */
  flex-grow: 1;
}

.sd-input-box-input-675315:focus {
  /* Additional styles when input is focused */
  /* You can customize this block based on your requirements */
  box-shadow: none; /* Remove any focus box-shadow */
}
