<ion-header class="ion-no-border ion-no-shadow">
  <app-sd-header-top [title]="'Favorite  Courses'" [backUrl]="backUrl" [showBack]="true" [parentHandleBack]="true"
    (parentBack)="shouldHandleBackToPrevScreen()"></app-sd-header-top>
</ion-header>

<ion-content [fullscreen]="true" class="ion-content-bg ion-padding">
  <div class="ion-padding" *ngIf="listCount == 0">
    <div class="label fs-16 outfit">No Favorite Courses Found</div>
  </div>
  <div class="body-content-68448" style="margin-top: 16px;">
    <app-fav-rec-courses style="max-width: 100%;"></app-fav-rec-courses>
  </div>
</ion-content>
