<ion-header class="ion-no-border ion-no-shadow">
  <app-sd-header-top [backUrl]="backUrl" [showBack]="true" [title]="title" ></app-sd-header-top>
</ion-header>
<ion-content class="ion-padding " #content>
  <form>
    <div class="body-content-68448">
      <div class="input-box-lines d-flex flex-column gap-8">
        <div class="input-title fs-14 roboto-medium label-with-word-count">
          <div class="label-with-word-count-left">
            <span>Title</span> <img src="../../assets/svg/question.svg" alt="" id="click-trigger">
          </div>
          <div class="label-with-word-count-right roboto-light"> {{ createMaterialService.formData?.title?.length || 0 }} / 50 </div>
        </div>
        <ion-popover trigger="click-trigger" triggerAction="click">
          <ng-template style="width: 100%;">
            <div class="ion-padding popover-title">Add the keywords in the title, user can find the course/
              workshop/ event
              easily.!
            </div>
          </ng-template>
        </ion-popover>
        <app-sd-input-box placeholder="Course title (Maximum 50 characters)" (onChange)="result($event, 'title')"
          [inputText]="createMaterialService.formData.title" [key]="'title'" [errorText]="'title is required'"
          [maxlength]="50"></app-sd-input-box>
      </div>
    </div>

  </form>
</ion-content>
<ion-footer class="ion-padding ion-no-border ion-no-shadow ion-content-medium-background">
  <div class="d-flex flex-column gap-16">
    <div class="input-box-lines">
      <app-sd-button-gray [text]="'Save'" [disabled]="loading"  (click)="submit()"></app-sd-button-gray>
    </div>
  </div>

</ion-footer>
