.body-content-684488 {
  padding: 16px;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  gap: 26px;
}

.footer-buttons-78963 {
  display: flex;
  flex-direction: row;
  gap: 16px;

  .footer-button-1 {
    flex: 1;
  }

  .footer-button-2 {
    flex: 2;
  }
}


