<ion-content>

  <app-stp-page-header [data]="headerData" (back)="nav.pop()"></app-stp-page-header>
  <app-stp-page-video-box ></app-stp-page-video-box>


  <div class="body-content-684488">
    <app-stp-page-info [data]="infoData"></app-stp-page-info>

    <app-stp-page-profile-statistics></app-stp-page-profile-statistics>

    <!-- courses section -->
    <app-stp-page-courses-study-notes></app-stp-page-courses-study-notes> 
    <app-stp-page-gallery></app-stp-page-gallery>
    <app-stp-page-rating></app-stp-page-rating>
  </div>
 
  


  
</ion-content>
