<ion-content>
  <app-stp-page-header
    [data]="headerData"
    (back)="nav.pop()"
  ></app-stp-page-header>
  <app-stp-page-video-box [data]="videoBox"></app-stp-page-video-box>

  <div class="body-content-684488">
    <app-stp-page-info [data]="infoData"></app-stp-page-info>

    <app-stp-page-profile-statistics
      [data]="countData"
    ></app-stp-page-profile-statistics>
    <app-global-text-read
      [heading]="aboutData.heading"
      [text]="aboutData.text"
    ></app-global-text-read>

    <!-- courses section -->
    <app-my-courses *ngIf="courseData.list.length !== 0"
      [data]="courseData"
      (clickOpen)="clickOpenCourse($event)"
    ></app-my-courses>
    <app-my-gallery [data]="galleryData" *ngIf="galleryData.list.length !== 0"></app-my-gallery>

    <app-my-ratings [data]="ratingData" *ngIf="ratingData.list.length !== 0"></app-my-ratings>
  </div>
</ion-content>
<ion-footer
  ><div class="footer-buttons-78963 ion-padding">
    <app-sd-button-golden
      class="footer-button-2"
      [image]="'assets/svg/send-message.svg'"
      [text]="'Message'"
      (click)="goToChat()"
    ></app-sd-button-golden></div
></ion-footer>
