.top-header-78956 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;

  .image-78558 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: relative;

    .upload-done-circle {
      position: absolute;
      top: 4px;
      right: 8px;
      font-size: 30px;
      color: green;
    }
  }

}

.image-box-78559 {
  height: 93px;
  width: 95px;
  padding: 15px;
  border: 1px solid rgba(69, 69, 69, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  object-fit: cover;
  background: rgb(255, 255, 255);
  background-repeat: repeat;
  position: relative;
  background-size: cover;
  background-position: center center;
}

.image-heading {
  font-size: 16px;
  color: black;
  font-weight: 600;
}
