<div class="top-header-78956">
  <div class="image-78558">
    <div class="image-box-78559" (click)="fileInput.click()"
      [ngStyle]="{ 'background-image': profilePhoto ? 'url(' + profilePhoto + ')' : 'none' }">
      <img *ngIf="!profilePhoto" src="assets/profile-photos.png" alt="Selected Image" >
    </div>
    <input type="file" formControlName="profile_photo" (change)="onProfileSelected($event)" accept="image/*"
      style="display: none" #fileInput />
    <p class="image-heading">Profile Photo*</p>
    <!-- <ion-icon *ngIf="profilePhoto" class="upload-done-circle" name="checkmark-circle"></ion-icon> -->
  </div>
  <div class="image-78558">
    <div class="image-box-78559" (click)="photoInput.click()"
      [ngStyle]="{ 'background-image': photoId ? 'url(' + photoId + ')' : 'none' }">
      <img *ngIf="!photoId" src="assets/photo-id.png" alt="">
    </div>
    <input type="file" formControlName="phto_id" (change)="onFileSelected($event)" accept="image/*"
      style="display: none" #photoInput />
      <div class="body-data-784521">
        <p class="image-heading">Photo ID*</p> <div class="quetion-mark">?</div>
      </div>
    <!-- <ion-icon *ngIf="photoId" class="upload-done-circle" name="checkmark-circle"></ion-icon> -->
  </div>
  <div class="image-78558">

    <div class="image-box-78559 ion-activatable ripple-parent rectangle" (click)="openGallery.emit()"
      [ngStyle]="{ 'background-image': sampleGalleryImage != '/assets/gallary.png'  ? 'url(' + sampleGalleryImage + ')' : 'none' }">
      <ion-ripple-effect></ion-ripple-effect>
      <img *ngIf="sampleGalleryImage == '/assets/gallary.png'" [src]="sampleGalleryImage" alt="">
    </div>
    <p class="image-heading">Gallery</p>
  </div>
</div>
<app-sd-error-input-info *ngIf="isRequired" [errorText]="errorText" ></app-sd-error-input-info>
