.top-header-78956 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;

  .image-78558 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 33%;
    position: relative;

    .upload-done-circle {
      position: absolute;
      top: 4px;
      right: 8px;
      font-size: 30px;
      color: green;
    }
  }

}

.image-box-78559 {
  height: 60px;
  width: 60px;
  padding: 15px;
  border: 1px solid rgba(69, 69, 69, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  object-fit: cover;
  background: rgb(255, 255, 255);
  background-repeat: repeat;
  position: relative;
  background-size: cover;
  background-position: center center;
}

.image-heading {
  font-size: 14px;
  color: black;
  font-weight: 400;
}

.quetion-mark {
  border-radius: 50px;
  height: 18px;
  border: 1px solid black;
  width: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
.body-data-784521{

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px
}

.center-line-hr-96895 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 0.25px;
  width: 36px;
  background-color: #484848;
}



.popover-title{
background-color: #454545;
color: white;
font-weight: 400;
font-size: 16px;
}