<div class="tutorial-outer">
  <div class="image-outer-877584">
    <img src="../../assets/svg/tutor_bunny.svg" />
  </div>
  <div class="content-container">
    <div class="image-outer"></div>
    <div class="content-inner">
      <div class="tutor-bunny">Welcome to Tutor Bunny.</div>
      <div class="description">
        Submit the application form to join <br />
        Tutor Bunny as a Teacher and <br />
        create courses you provide for your students.
      </div>
    </div>
  </div>
  <button class="continue-button">Continue</button>
  <a href="#" class="help-link">How to create teacher application?</a>
</div>
