<ion-header class="ion-no-border ion-no-shadow">
  <app-sd-header-top [backUrl]="backUrl" [showBack]="true" [title]="title" [parentHandleBack]="step == 2"
    (parentBack)="shouldHandleBackToPrevScreen()"></app-sd-header-top>
</ion-header>
<ion-content class="ion-padding " #content>
  <form>
    <swiper-container slides-per-view="1" allow-touch-move="false" space-between="40" [modules]="swiperModules" #slides>
      <swiper-slide>
        <div class="body-content-68448">
          <div class="input-box-lines d-flex flex-column gap-8">
            <div class="input-title fs-14 roboto-medium label-with-word-count">
              <div class="label-with-word-count-left">
                <span>Title</span> <img src="../../assets/svg/question.svg" alt="" id="click-trigger">
              </div>
              <div class="label-with-word-count-right roboto-light"> {{ createCourseService.formData?.title?.length || 0 }} / 50 </div>
            </div>
            <ion-popover trigger="click-trigger" triggerAction="click">
              <ng-template style="width: 100%;">
                <div class="ion-padding popover-title">Add the keywords in the title, user can find the course/
                  workshop/ event
                  easily.!
                </div>
              </ng-template>
            </ion-popover>
            <app-sd-input-box placeholder="Course title (Maximum 50 characters)" (onChange)="result($event, 'title')"
              [inputText]="createCourseService.formData.title" [key]="'title'" [errorText]="'title is required'"
              [maxlength]="50"></app-sd-input-box>
          </div>
          <div class="input-box-lines d-flex flex-column gap-8">
            <div class="input-title fs-14 roboto-medium label-with-word-count">
              <div class="label-with-word-count-left">
                <span>Description</span> <img src="../../assets/svg/question.svg" alt="" id="click-description">
              </div>
              <div class="label-with-word-count-right roboto-light"> {{ createCourseService.formData?.description?.length || 0 }} Characters
              </div>
            </div>
            <ion-popover trigger="click-description" triggerAction="click">
              <ng-template>
                <div class="ion-padding popover-title">
                  Include the following details for this field.
                  <br>
                  <br>

                  1. What students will learn <br>
                  <br>
                  2. Requirements for this course<br>
                  <br>
                  3. Course Syllabus (if any)<br>
                  <br>
                  4. Brief description of the course<br>
                  <br>
                  5. Who should take this course<br>
                </div>
              </ng-template>
            </ion-popover>
            <app-sd-textarea-about placeholder="Mention the details (Minimum 250 characters)"
              (onChange)="result($event, 'description')" [inputText]="createCourseService.formData.description" [key]="'description'"
              [errorText]="'Detail is required'" [minlength]="400"></app-sd-textarea-about>
          </div>
          <div class="input-box-lines d-flex flex-column gap-8">
            <div class="input-title fs-14 roboto-medium">Language of communication</div>
            <app-course-language placeholder="Select" (onChange)="result($event, 'language')"
              [language]="createCourseService.formData.language" [key]="'language'"
              [errorText]="'language is required'"></app-course-language>
          </div>
          <div class="input-box-lines d-flex flex-column gap-8">
            <app-mode-of-teaching placeholder="Provide the brief details of the course (Minimum 250 characters)"
              (onChange)="result($event, 'mode_type')" [mode]="createCourseService.formData.mode_type" [capacity]="createCourseService.formData.capacity"
              [key]="'mode_type'" [errorText]="'Mode of Teaching & Capacity is required'"></app-mode-of-teaching>
          </div>
          <div class="input-box-lines d-flex flex-column gap-8">
            <app-course-photo [coursePhoto]="createCourseService.formData.image" (onChange)="result($event, 'image')" [key]="'image'"
              [errorText]="'Course photo is required'" (click)="openCoursePhotos()"></app-course-photo>
          </div>

          <app-sd-age-boox placeholder="Select" (onChange)="result($event, 'age')" [from_age]="createCourseService.formData.from_age"
            [to_age]="createCourseService.formData.to_age" [key]="'age'" [errorText]="'Age Range is required'"></app-sd-age-boox>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="body-content-68448">
          <div class="input-box-lines d-flex flex-column gap-8">
            <div class="input-title fs-14 roboto-medium">Category</div>
            <app-course-category placeholder="Select" (onChange)="result($event, 'category')" [key]="'category'"
              [errorText]="'Category is required'" [minlength]="50" [maxlength]="100"></app-course-category>
          </div>
          <div class="subject-sec d-flex flex-column gap-8">
            <div class="input-title fs-14 roboto-medium">Search Keyword <img src="../../assets/svg/question.svg" alt=""
                id="click-keyword "></div>
            <ion-popover trigger="click-keyword " triggerAction="click">
              <ng-template>
                <div class="ion-padding popover-title">Add multiple search keywords so that the course will come up in
                  the search result.
                </div>
              </ng-template>
            </ion-popover>
            <div class="input-box-lines" style="width: 100%;">
              <app-search-keyword (onChange)="result($event, 'keyword')" [subs]="createCourseService.formData.keywords"
                placeholder="Type and add" [key]="'keyword'" [errorText]="'keyword is required'"></app-search-keyword>
            </div>
          </div>
          <div class="input-box-lines d-flex flex-column gap-8">
            <div class="input-title fs-14 roboto-medium">Price / Lesson ({{currency}})<img src="../../assets/svg/question.svg"
                alt="" id="click-price"></div>
            <ion-popover trigger="click-price" triggerAction="click">
              <ng-template>
                <div class="ion-padding popover-title">The price student needs to pay for the course.
                </div>
              </ng-template>
            </ion-popover>
            <app-sd-input-box (onChange)="result($event, 'price')" [inputText]="createCourseService.formData.price" [key]="'price'"
              [errorText]="'price is required'" [type]="'number'"></app-sd-input-box>
          </div>
          <div class="input-box-lines d-flex flex-column gap-8">
            <div class="input-title fs-14 roboto-medium">Duration of each lesson (in Hours)<img
                src="../../assets/svg/question.svg" alt="" id="click-duration"></div>
            <ion-popover trigger="click-duration" triggerAction="click">
              <ng-template>
                <div class="ion-padding popover-title">Total hours of the course/event in a week.
                  <br>
                  <br>
                  For e.g., If there are 1 class per week of 1 hour each class, hours should be 1 hour/week.
                </div>
              </ng-template>
            </ion-popover>
            <app-sd-input-box (onChange)="result($event, 'duration')" [inputText]="createCourseService.formData.duration" [key]="'duration'"
              [errorText]="'Duration is Required'" [type]="'number'"> </app-sd-input-box>
          </div>
          <div class="input-box-lines d-flex flex-column gap-8">
            <div class="input-title fs-14 roboto-medium">Total number of lessons for the entire course <img src="../../assets/svg/question.svg"
                alt="" id="click-lesson"></div>
            <ion-popover trigger="click-lesson" triggerAction="click">
              <ng-template>
                <div class="ion-padding popover-title">Number of lessons/classes per week.
                  <br>
                  <br>
                  For e.g., If there are 2 lessons/classes, the field value will be 2.
                </div>
              </ng-template>
            </ion-popover>
            <app-sd-input-box (onChange)="result($event, 'lesson')" [inputText]="createCourseService.formData.lesson" [key]="'lesson'"
              [errorText]="'lesson is Required'" [type]="'number'"> </app-sd-input-box>
          </div>
          <div class="input-box-lines d-flex flex-column gap-8" >
            <app-sd-date-box (onChange)="result($event, 'dates')" [start_date]="createCourseService.formData.strat_date" [end_date]="createCourseService.formData.end_date"
              [key]="'dates'" [errorText]="'strat_date is required'" [type]="'date'"></app-sd-date-box>
          </div>
          <div class="input-box-lines d-flex flex-column gap-8">
            <app-course-dates (onChange)="result($event, 'schedules')" [inputText]="createCourseService.formData.schedules"
              [courseId]="courseId" [key]="'schedules'"></app-course-dates>
          </div>
        </div>
      </swiper-slide>
    </swiper-container>
  </form>
</ion-content>
<ion-footer class="ion-padding ion-no-border ion-no-shadow ion-content-medium-background">
  <div class="d-flex flex-column gap-16">
    <div class="input-box-lines">
      <app-sd-button-gray [text]="'Next'" [disabled]="loading" *ngIf="step === 1" (click)="onSlideChange()"></app-sd-button-gray>
      <app-sd-button-gray [text]="'Save'" *ngIf="step === 2" (click)="submit()"></app-sd-button-gray>
    </div>
  </div>

</ion-footer>
