<div *ngIf="spinner" class="loading-syn ">
  <ion-spinner></ion-spinner>
</div>

<ion-header [class.tabs-opacity-0]="spinner" [class.tabs-opacity-1]="!spinner" class="ion-no-border ion-no-shadow">
  <app-sd-header-top [showBack]="true" [title]="'Course Details'" [showShare]="true" [showFav]="true"
    [showFavValue]="showFavValue" (addToFav)="addToFav()" (removetoFav)="removeToFav()"></app-sd-header-top>
</ion-header>

<ion-content [class.tabs-opacity-0]="spinner" [class.tabs-opacity-1]="!spinner"
  [fullscreen]="true" style="--padding-top: 0px !important" #content>
  <app-course-photos [course_Id]="course_Id"></app-course-photos>

  <div class="body-content ion-padding">

    <div class="course-heading-78521">
      {{title}}
    </div>
    <div class="cource-price-and-rating-box-78541">
      <div class="cource-price--78542">{{currencySymbol}} {{price}} <span style="font-size: 12px;"> /lesson</span></div>
      <div class="cource-rating-box-78543" >
        <app-rating-stars [rating]="rating"></app-rating-stars>
        <div class="cource-rating-number-78545">{{rating}} <span
            style="font-size: 12px; color: #7C7B7B;">({{total_rating}})</span></div>
      </div>
    </div>
    <div class="line"></div>
    <div class="cource-details-box-78561">
      <div class="cource-time-and-lessons-78562">
        <div class="cource-time-box-78563"><img class="img1-789575" src="../../../assets/svg/time.svg" /> {{duration}}
          hour each lesson</div>
        <div class="cource-lesson-box-78564"><img class="img1-789575" src="../../assets/svg/create-course.svg" /> Total
          {{lessons}} lessons
        </div>
      </div>
      <div class="cource-time-and-lessons-78562">
        <div class="cource-time-box-78563"><img class="i-7685" src="../../../assets/svg/online.svg" />{{mode_type}}
        </div>
        <div class="cource-lesson-box-78564"> <img class="i-7685" src="assets/icon/smgroup-icon.svg" />{{capacity}}
        </div>
      </div>
      <div class="cource-time-and-lessons-78562">
        <div class="cource-time-box-78563"> <img class="img1-789575" src="../../../assets/svg/cake.svg" />Student age
          {{from_age}}-{{to_age}}</div>
        <div class="cource-lesson-box-78564"> <img src="../../assets/svg/speaks.svg" alt=""
            style="height: 16px;">{{language}}</div>
      </div>
      <div class="cource-time-and-lessons-78562">
        <div class="cource-time-box-78563"><img class="i-7685" src="../../../assets/svg/locations.svg" />
          <div style="width: 136px; text-wrap: wrap;">
            {{state}},
            {{country}}
          </div>
        </div>
        <div class="cource-lesson-box-78564"> <img class="i-7685"
            src="../../../assets/svg/course-type.svg" />Workshop/Event
        </div>
      </div>
    </div>
    <div class="line"></div>
    <div class="detail-box-outer-78522">
      <div class="detail-head-78523">
        <div class="detail-heading-78524">Details</div>
        <div class="detail-heading-left--78524"
          style="display: flex; align-items: center; justify-content: center; gap: 8px; font-size: 16px; color: #7A7A7A;">
          <img src="../../assets/svg/calander.svg" alt="" style="height: 16px;">{{startDate}} to {{endDate}}
        </div>
      </div>
      <div class="fs-16 outfit discription-text">
        <div class="discription-para" [class.collapsed]="isExpanded" [innerHTML]="description">
        </div>
        <div class="qulification-box-edu-readmore-98525">
          <div class="qulification-box-edu-button-98526" *ngIf="!isExpanded" (click)="toggleReadMore()">Read More</div>
        </div>
        <div class="education-box-edu-readmore-98525">
          <div class="education-box-edu-button-98526" *ngIf="isExpanded" (click)="toggleReadMore()">Read less</div>
        </div>
        <!-- <ion-button class="read-more" fill="clear" *ngIf="!isExpanded" (click)="toggleReadMore()">Read more</ion-button>
        <ion-button class="read-more" fill="clear" *ngIf="isExpanded" (click)="toggleReadMore()">Read less</ion-button> -->
      </div>
    </div>
    <div class="line"></div>
    <div class="detail-box-outer-78522">
      <div class="detail-head-785234">
        <div class="detail-heading-78524 outfit-medium">Instructor</div>
        <div class="instructor-box-content-78561">
          <div class="instructor-head-78562">
            <div class="instructor-image-78563" (click)="goToTeacher()"
              [style.background-image]="techerImg ? 'url(' + techerImg + ')' : 'assets/learn-piano.jpeg'"></div>
            <div class="instructor-info-78564" (click)="goToTeacher()">
              <div class="instructor-name-78565"> {{displayName}}
              </div>
              <div class="instructor-country-78567">
                <span *ngIf="flag" slot="start" class="fi fi-{{flag}}"></span> {{country}}
              </div>
            </div>
            <img (click)="goToTeacher()" src="../../assets/svg/arrow-right.svg"
              style="position: absolute; right: 0; top: 9px;" alt="">
          </div>
          <div class="instructor-title-78568">{{techerTitle}}</div>
        </div>
      </div>
    </div>
    <div class="line" *ngIf="schedules.length !== 0"></div>
    <div class="detail-box-outer-78522" *ngIf="schedules.length !== 0">
      <div class="detail-head-785234">
        <div class="detail-heading-78524 outfit-medium">
          Weekly Schedule
        </div>
        <div class="days-box">
          <app-course-schedules *ngFor="let item of schedules; let i = index" [item]="item"
            [last]="i === (schedules.length - 1)"></app-course-schedules>
        </div>
      </div>
    </div>
    <!-- <div class="line" *ngIf="schedules.length !== 0"></div> -->
    <app-student-other-courses (onChange)="getOtherCourse($event)" [teacher]="teacher"></app-student-other-courses>
  </div>
</ion-content>
<ion-footer [class.tabs-opacity-0]="spinner" [class.tabs-opacity-1]="!spinner">
  <div class="footer-buttons-78963">
    <div class="button-chat-78563" *ngIf="!data?.trial ">
      <div class="sd-clear-btn-967895 ion-activatable ripple-parent rectangle" (click)="goToChat()">
        <ion-ripple-effect></ion-ripple-effect>
        <img src="assets/svg/chat.svg" />
        <span class="roboto-medium fs-16 " style="color: #484848; font-size: 20px;">Chat</span>
      </div>
    </div>
    <div class="button-chat-7856" *ngIf="data?.trial && data.trial.status === 'Accepted' ">
      <div class="sd-clear-btn-967895 ion-activatable ripple-parent rectangle" (click)="goToChat()">
        <ion-ripple-effect></ion-ripple-effect>
        <img src="assets/svg/chat.svg" />
        <span class="roboto-medium fs-16 " style="color: #484848; font-size: 20px;">Chat</span>
      </div>
    </div>
    <div class="button-chat-7856" *ngIf="data?.trial && data.trial.status === 'Complete'">
      <div class="sd-clear-btn-967895 ion-activatable ripple-parent rectangle" (click)="goToChat()">
        <ion-ripple-effect></ion-ripple-effect>
        <img src="assets/svg/chat.svg" />
        <span class="roboto-medium fs-16 " style="color: #484848; font-size: 20px;">Chat</span>
      </div>
    </div>
    <div class="button-trial-23654" *ngIf="!data?.trial && type !== 3">
      <div class="sd-clear-btn-967896 ion-activatable ripple-parent rectangle" (click)="requestTrail()">
        <ion-ripple-effect></ion-ripple-effect>
        <img src="assets/svg/send.svg" />
        <span class="roboto-medium fs-20 " style="font-size: 20px;"> Request Free Trial </span>
      </div>
      <ion-spinner name="dots" *ngIf="loading"></ion-spinner>
    </div>
    <div class="button-trial-23654" *ngIf="!data?.trial && type === 3">
      <div class="sd-clear-btn-967896 ion-activatable ripple-parent rectangle" (click)="requestTrail()">
        <ion-ripple-effect></ion-ripple-effect>
        <img src="assets/svg/send.svg" />
        <span class="roboto-medium fs-20 " style="font-size: 20px;">Join </span>
      </div>
      <ion-spinner name="dots" *ngIf="loading"></ion-spinner>
    </div>
    <div style="width: 100%;" *ngIf="data?.trial && data.trial.status === 'Pending'">
      <app-sd-button-clear [image]="'assets/svg/trail.svg'" (click)="presentAlert()"
        [text]="'Cancel Trial Request'"></app-sd-button-clear>
    </div>
  </div>
</ion-footer>
