.phone-input{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap :8px;
  .dail-code{
    width: 75px;
  }
  .number{
    width: 100%;
  }
}

.languages{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  gap: 8px;
  .add-lang{
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    ion-icon{
      font-size: 45px;
    }
  }
  .language{
    width: 100%;
  }
}
.language-sec{
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}
.lang-chips{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 8px;
  ion-chip{
    background-color: rgba(69, 69, 69, 1);
    color: white;
    ion-icon{
      color: white;
    }
  }
}





.subject-sec{
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}
.sub-chips{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 8px;
  ion-chip{
    background-color: rgba(69, 69, 69, 1);
    color: white;
    ion-icon{
      color: white;
    }
  }
}
.language-chips{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 8px;
}

.chips-type-sm-7895{
  margin: 0;
}
