<ion-header class="ion-no-border ion-no-shadow">
  <app-sd-header-top [backUrl]="backUrl" [showBack]="showBack" [title]="title"></app-sd-header-top>
</ion-header>
<ion-content class="ion-padding ion-content-medium-background">
  <form>
    <swiper-container slides-per-view="1" allow-touch-move="false" space-between="40" [modules]="swiperModules" #slides
      style="padding: 0 6px;">
      <swiper-slide>
        <div class="body-content-68448">
          <div class="input-box-lines d-flex flex-column gap-8">
            <div class="input-title fs-14 roboto-medium">Name</div>
            <app-sd-input-box placeholder="Teacher or institute name" (onChange)="result($event, 'name')"
              [inputText]="formData.name" [key]="'name'" [errorText]="'Name is required'"></app-sd-input-box>
          </div>
          <div class="input-box-lines d-flex flex-column gap-8">
            <div class="input-title fs-14 roboto-medium">Country</div>
            <app-sd-country-box placeholder="Select" (onChange)="result($event, 'country')" [country]="formData.country"
              [key]="'country'" [errorText]="'Country is required'"></app-sd-country-box>
          </div>
          <div class="input-box-lines d-flex flex-column gap-8" *ngIf="countryId">
            <div class="input-title fs-14 roboto-medium">State</div>
            <app-sd-state-box placeholder="Select" [countryId]="countryId" placeholder="State"
              (onChange)="result($event, 'state')" [state]="formData.state" [key]="'state'"
              [errorText]="'State is required'"></app-sd-state-box>
          </div>

          <div class="input-box-lines city-zip" *ngIf="stateId">
            <div class="city d-flex flex-column gap-8">
              <div class="input-title fs-14 roboto-medium">City</div>
              <app-sd-input-box placeholder="City" (onChange)="result($event, 'city')" [inputText]="formData.city"
                [key]="'city'" [errorText]="'City is required'"></app-sd-input-box>
            </div>
            <div class="zip-code-2 d-flex flex-column gap-8">
              <div class="input-title fs-14 roboto-medium">Zip</div>
              <app-sd-input-box (onChange)="result($event, 'zip_code')" [inputText]="formData.zip_code"
                placeholder="Zip" [key]="'zip_code'" [errorText]="'Required'" [type]="'number'"> </app-sd-input-box>
            </div>
          </div>
          <div class="input-box-lines d-flex flex-column gap-8">
            <div class="input-title fs-14 roboto-medium">Phone</div>
            <div class="phone-input">
              <div class="dail-code">
                <app-sd-dailcode-box (onChange)="result($event, 'dial_code')" [inputText]="formData.dial_code"
                  [isReadOnly]="true" [key]="'dial_code'" [errorText]="'!'" [needed]="false"> </app-sd-dailcode-box>
              </div>
              <div class="number">
                <app-sd-input-box placeholder="Phone Number" (onChange)="result($event, 'phone_number')"
                  [inputText]="formData.phone_number" [type]="'number'" [key]="'phone_number'"
                  [errorText]="'Phone number is required'"></app-sd-input-box>
              </div>
            </div>
          </div>
          <div class="language-sec d-flex flex-column gap-8">
            <div class="input-title fs-14 roboto-medium">Language of communication</div>
            <div class="input-box-lines languages">
              <div class="language">
                <app-sd-language-box (onChange)="result($event, 'languages')" placeholder="Select Languages"
                  [key]="'languages'" [errorText]="'Language is required'"></app-sd-language-box>
              </div>
            </div>
          </div>

        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="body-content-68448">
          <div class="input-box-lines d-flex flex-column gap-8">
            <div class="input-title fs-14 roboto-medium">Title<img src="../../assets/svg/question.svg" alt=""
                id="click-trigger"></div>
            <ion-popover trigger="click-trigger" triggerAction="click">
              <ng-template style="width: 100%;">
                <div class="ion-padding popover-title">Provide the suitable title of the profile so that students can
                  search
                </div>
              </ng-template>
            </ion-popover>
            <app-sd-input-box placeholder="Profile Title (50-100 characters)" (onChange)="result($event, 'title')"
              [inputText]="formData.title" [key]="'title'" [errorText]="'Profile title is required'" [minlength]="50"
              [maxlength]="100" [needed]="step == 2"></app-sd-input-box>
          </div>
          <div class="input-box-lines d-flex flex-column gap-8">
            <div class="input-title fs-14 roboto-medium">About<img src="../../assets/svg/question.svg" alt=""
                id="click-about"></div>
            <ion-popover trigger="click-about" triggerAction="click">
              <ng-template style="width: 100%;">
                <div class="ion-padding popover-title"> Provide the details of your profile, include education, teaching
                  experiences, skills, background details. Do not share personal contact information here.
                </div>
              </ng-template>
            </ion-popover>
            <app-sd-textarea-about placeholder="Tell about yourself or the institute (Minimum 400 characters)"
              (onChange)="result($event, 'description')" [inputText]="formData.description" [key]="'description'"
              [errorText]="'Description is required'" [minlength]="400" [needed]="step == 2"></app-sd-textarea-about>
          </div>
          <div class="subject-sec d-flex flex-column gap-8">
            <div class="input-title fs-14 roboto-medium">What do you teach?<img src="../../assets/svg/question.svg"
                alt="" id="click-teach"></div>
            <ion-popover trigger="click-teach" triggerAction="click">
              <ng-template style="width: 100%;">
                <div class="ion-padding popover-title"> Enter the Subjects you teach, your skills, knowledge and
                  experiences.
                </div>
              </ng-template>
            </ion-popover>
            <div class="input-box-lines" style="width: 100%;">
              <app-sd-subject-box (onChange)="result($event, 'subjects')" placeholder="Type the keywords that you teach"
                [key]="'subjects'" [errorText]="'Subject is required'"></app-sd-subject-box>
            </div>
          </div>
          <div class="input-box-lines">
            <app-sd-image-box [profilePhoto]="formData.image" [photoId]="formData.photo_id"
              (openGallery)="openGallery($event)" (updateImage)="result($event, 'image')"
              (updatePhotoId)="result($event, 'photo_id')"></app-sd-image-box>
          </div>
          <div class="terms-agree" *ngIf="!hideTerms">
            <app-accept-terms-profile [terms]="formData.terms" [key]="'terms'" [errorText]="'Please accept terms'"
              (onChange)="result($event, 'terms')"></app-accept-terms-profile>
          </div>

        </div>
      </swiper-slide>
    </swiper-container>
  </form>
</ion-content>
<ion-footer class="ion-padding ion-no-border ion-no-shadow ion-content-medium-background">
  <div class="d-flex flex-column gap-16">
    <div class="number-selection-outer-678956" (click)="changeToPrev()">
      <div class="number-box-7896">
        <div class="number-circle one-cir fs-16 roboto-medium" [class.dark-bg-895675]="step == 1">1</div>
        <div class="number-circle two-cir fs-16 roboto-medium" [class.dark-bg-895675]="step == 2">2</div>
      </div>
      <div class="center-line-hr-96895"></div>

    </div>

    <div class="input-box-lines">
      <app-sd-button-gray *ngIf="step == 1" [text]="'Next'" (click)="onSlideChange()"></app-sd-button-gray>
      <app-sd-button-gray *ngIf="step == 2" [text]="'Submit for Review'" (click)="submit()"></app-sd-button-gray>
    </div>
  </div>

</ion-footer>