<ion-header>
  <app-sd-header-top [showBack]="false" [title]="'Search Keyword'"></app-sd-header-top>
</ion-header>


<ion-content class="ion-padding ion-content-medium-background" >
  <div class="d-flex flex-column gap-16">
    <div class="subjects d-flex flex-column gap-16">
      <!-- <div class="fs-12 roboto-medium">Type and search your subjects</div> -->
      <div class="d-flex flex-row gap-16">
        <div class="sd-input-box-outer-675315">
          <input class="fs-16 outfit sd-input-box-input-675315" [(ngModel)]="inputText" [type]="type" placeholder="Search subjects"
            [placeholder]="'Search'" (keyup)="checkSuggestions($event)" />
          <ion-icon *ngIf="inputText" name="close-outline" (click)="inputText = ''"></ion-icon>
        </div>
        <!-- *ngIf="suggestionsList.length == 0" -->
        <div class="add-sub ion-activatable ripple-parent rectangle"
          (click)="addSubject()">
          <ion-ripple-effect></ion-ripple-effect>
          <img src="assets/icon/add-circle.svg" alt="">
        </div>
      </div>

    </div>
    <div class="suggestions-list-outer">
      <!-- <div class="fs-14 outfit-light" *ngIf="suggestionsList.length > 0">Tap on suggestions to add (max 5)</div> -->
      <div class="suggestions-list-678564">

        <div class="sub-chips" *ngFor="let item of subs">
          <ion-chip class="chips-type-sm-7895 fs-14 outfit">{{item?.name}}<ion-icon name="close-circle-outline"
              (click)="removeMySubject(item)"></ion-icon></ion-chip>
        </div>

        <ion-chip class="fs-14 outfit-light sub-chips-76544" fill="clear" *ngFor="let item of suggestionsList"
          (click)="addToSubjects(item)">{{item.name}}</ion-chip>
      </div>

    </div>
  </div>

</ion-content>
<ion-footer class="ion-padding">
  <app-sd-button-gray [text]="'Done'" (click)="selectedSubjects()"></app-sd-button-gray>
</ion-footer>
