.range-78522 {
  --bar-background: #484848;
  --bar-background-active: #484848;
  --bar-height: 2px;
  --bar-border-radius: 8px;
  --knob-background: #484848;
  --knob-size: 18px;
  --pin-background: #484848;
  --pin-color: #fff;
}
