.price-range-text-78521 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.text {
  font-size: 12px;
  font-weight: 400;
  color: #484848;
}

.range-78522 {
  --bar-background: #484848;
  --bar-background-active: #484848;
  --bar-height: 2px;
  --bar-border-radius: 8px;
  --knob-background: #484848;
  --knob-size: 18px;
  --pin-background: #484848;
  --pin-color: #fff;
}

.text {
  margin:  10px 0; /* Adjust as needed for spacing */
}

.range-has-pin:not(.range-label-placement-stacked){
  padding: 0;
}
