<ion-header class="ion-no-border ion-no-shadow">
  <app-sd-header-top [showBack]="false" [title]="'Chat'" [backUrl]="'/tabs/teacher-dashboard'" [showNotification]="true"
    [showSearch]="true"></app-sd-header-top>
</ion-header>

<ion-content class="ion-content-bg ion-padding" [fullscreen]="true">
  <div class="body-content">
    <div class="search-box-outer-89655">
      <div class="search-box-input-outer">
        <img src="assets/icon/input-search-gray.svg" />
        <input type="text" placeholder="Search by name?" />
      </div>
    </div>
    <div class="chat-list-98521" *ngFor="let item of chat">
      <div class="chat-box-98522" (click)="gotoMessage(item)">
        <div class="chat-image-box-98523">
          <div class="chat-image-98523" [style.background-image]="item.user.image ? 'url(' + item.user.image + ')' : 'assets/profileimg.png'"></div>
        </div>
        <div class="chat-deatil-98524">
          <div class="chat-name-time-98525">
            <div class="chat-name-98526">{{item.user.name}}</div>
            <div class="chat-time-98527">{{time}}</div>
          </div>
          <div class="chat-satus-98528">
            <div class="chat-online-98529"><img src="../../assets/svg/active-staties.svg" alt="">Online</div>
            <div class="chat-message-98530">2</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>