.student-box-outer-689567 {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
  
    .sb-heading-7895 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  
      .sb-heading-title-7895 {
        font-size: 20px;
      }
  
      .sb-heading-sl-7895 {
        font-size: 12px;
      }
    }
  }
  .sb-content-7895{
  
    gap: 16px;
    display: flex;
    flex-direction: column;
  }
  