.menu-image-box-outer-38521 {
  display: flex;
  align-items: flex-start;
  // flex-direction: column;
  gap: 16px;
  margin-top: 16px;

  .menu-image-box-38522 {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-color: aqua;
  }

  .menu-image-box-namebox-38523 {

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;

    .menu-image-box-name-38524 {
      font-size: 25px;
      font-weight: 400;
    }

    .menu-image-box-number-38525 {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 18px;
      font-weight: 400;

    }
  }
}
