<ion-header>
  <div class="top-header-78956">
    <div class="header-left-items-78956">
      <div class="header-title  roboto-regular " *ngIf="step == 'login'">Login to your account</div>
      <div class="header-title  roboto-regular " *ngIf="step == 'SignUp'">Register your account</div>
    </div>
    <div class="header-right-items-78956" (click)="back()">
      <img class="image" src="../../assets/svg/cancel.svg" alt="">
    </div>
  </div>

</ion-header>

<ion-content class="ion-padding ion-content-medium-background">

  <div class="body-content-68448" *ngIf="step == 'login'">

    <div class="input-box-lines d-flex flex-column gap-8">

      <div class="input-title fs-12 roboto-medium">Email</div>
      <app-sd-input-box [image]="'assets/svg/email.svg'" placeholder="Enter your email"
        (onChange)="result($event, 'email')" [inputText]="formData.email" [key]="'email'"
        [errorText]="'Email is required'" [type]="'email'"></app-sd-input-box>
    </div>
    <div class="input-box-lines d-flex flex-column gap-8">
      <div style="display:flex; align-items: center; justify-content: space-between;">
        <div class="input-title fs-12 roboto-medium">Password</div>
        <div class="input-title-2 fs-12 roboto-medium" (click)="forgetPassword()">Forgot?</div>
      </div>
      <app-sd-input-box [image]="'assets/svg/password.svg'" placeholder="Enter your password"
        (onChange)="result($event, 'password')" [inputText]="formData.password" [key]="'password'"
        [errorText]="'Password is required'" [type]="'password'"
        ></app-sd-input-box>
    </div>
    <div class="d-flex flex-column gap-16">
      <div class="input-box-lines">
        <app-sd-button-gray [text]="'Login'" (click)="submit()"></app-sd-button-gray>
      </div>
      <div class="input-box-lines">
        <app-sd-button-clear [text]="'Cancel'" (click)="back()"></app-sd-button-clear>
      </div>
    </div>
    <div class="input-box-lines d-flex gap-8 sign-up-box">
      <img class="image" src="../../assets/svg/signup.svg" alt="">
      <div class="fs-18 roboto-medium not-have-account">
        Do not have an account? <span class="sign-up-span" (click)="signUp()">Sign up</span> </div>
    </div>
  </div>

  <div class="body-content-68448" *ngIf="step == 'SignUp'">
    <div class="input-box-lines d-flex flex-column gap-8">
      <div class="input-title fs-12 roboto-medium">Name </div>
      <app-sd-input-box [image]="'assets/svg/name.svg'" placeholder="Enter your Name"
        (onChange)="result($event, 'name')" [inputText]="formData.name" [key]="'name'"
        [errorText]="'Name is required'"></app-sd-input-box>
    </div>


    <div class="input-box-lines d-flex flex-column gap-8">
      <div class="input-title fs-12 roboto-medium">Email</div>
      <app-sd-input-box [image]="'assets/svg/email.svg'" placeholder="Enter your email"
        (onChange)="result($event, 'email')" [inputText]="formData.email" [key]="'email'"
        [errorText]="'Email is required'" [type]="'email'"></app-sd-input-box>
    </div>
    <div class="input-box-lines d-flex flex-column gap-8">
      <div class="input-title fs-12 roboto-medium">Password</div>
      <app-sd-input-box [showTogglePassword]="true" [image]="'assets/svg/password.svg'" placeholder="Enter your password"
        (onChange)="result($event, 'password')" [inputText]="formData.password" [key]="'password'"
        [errorText]="'Password is required'" [type]="'password'"></app-sd-input-box>
    </div>

    <div class="input-box-lines d-flex flex-column gap-8">
      <div class="input-title fs-12 roboto-medium">Confirm Password </div>
      <app-sd-input-box [showTogglePassword]="true" [image]="'assets/svg/password.svg'" placeholder="Re-enter your password"
        (onChange)="result($event, 'confirm_password')" [inputText]="formData.confirm_password"
        [key]="'confirm_password'" [errorText]="'Confirm Password is required'" [type]="'password'"></app-sd-input-box>
    </div>
    <div class="d-flex flex-column gap-16">
      <div class="input-box-lines">
        <app-sd-button-gray [text]="'Register'" (click)="SignUpWithEmail()"></app-sd-button-gray>
      </div>
      <div class="input-box-lines">
        <app-sd-button-clear [text]="'Cancel'" (click)="back()"></app-sd-button-clear>
      </div>
    </div>
  </div>
</ion-content>
