<div class="statistics-box-outer-78906">

  <div  class="statistics-box-item-78906">
    <div class="nbl-687 outfit-semibold">{{year}}</div>
    <div class="label-687 outfit-light"> Experience</div>
  </div>
  <div  class="statistics-box-item-78906">
    <div class="nbl-687 outfit-semibold">0</div>
    <div class="label-687 outfit-light"> Courses</div>
  </div>
  <div  class="statistics-box-item-78906">
    <div class="nbl-687 outfit-semibold">0</div>
    <div class="label-687 outfit-light"> Rate/Hour</div>
  </div>
  <div  class="statistics-box-item-78906">
    <div class="nbl-687 outfit-semibold">0</div>
    <div class="label-687 outfit-light"> Students</div>
  </div>

</div>
