.no-scroll-content {
  overflow: hidden; /* Prevents scrolling */
}

.body-scroll{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}


.student-box-outer-689567 {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;


}
