<div *ngIf="loading" class="loading-syn ">
  <img src="../../assets/svg/logo1.svg" alt="" class="fade-in">
</div>

<ion-tabs [class.tabs-opacity-0]="loading" [class.tabs-opacity-1]="!loading" #tabs (ionTabsDidChange)="setCurrentTab()">
  <ion-tab-bar class="ion-tab-bar-67895675" slot="bottom">
    <ion-tab-button class="ion-tab-button-67895675" [tab]="homeTab" (click)="clearChat()">
      <div class="tab-back-78523"
        *ngIf=" (selectedTab === 'teacher-dashboard' || selectedTab === 'student-dashboard') "></div>
      <img
        [src]="(selectedTab === 'teacher-dashboard' || selectedTab === 'student-dashboard') ? 'assets/icon/home/home-active.svg' : 'assets/icon/home/home-icon.svg'" />
      <div class="footer-tab-label"
        [class.footer-tab-label-active]="(selectedTab === 'teacher-dashboard' || selectedTab === 'student-dashboard')">
        Home</div>
    </ion-tab-button>
    <ion-tab-button class="ion-tab-button-67895675" tab="chat?time=5">
      <div class="tab-back-78523" *ngIf="selectedTab === 'chat'"></div>
      <div class="unread-count" *ngIf="chatService.unreadCount != 0 || chatService.requestCount != 0"></div>
      <img [src]="selectedTab === 'chat' ? 'assets/icon/home/chat-icon-fill.svg' : 'assets/icon/home/chat-icon.svg'" />
      <div class="footer-tab-label" [class.footer-tab-label-active]="selectedTab === 'chat'">Chat</div>
    </ion-tab-button>
    <ion-tab-button class="ion-tab-button-67895675" *ngIf="roleId === 3" (click)="createCourse()">
      <img src="assets/svg/add-course.svg" style="height: 40px" />
      <div class="footer-tab-label">Create</div>
    </ion-tab-button>
    <ion-tab-button class="ion-tab-button-67895675" *ngIf="roleId === 2" tab="search-box">
      <div class="tab-back-78523" *ngIf="selectedTab === 'search-box'"></div>
      <img [src]="selectedTab === 'search-box' ? 'assets/svg/search-fill.svg' : 'assets/svg/search.svg'" />
      <div class="footer-tab-label" [class.footer-tab-label-active]="selectedTab === 'search-box'">Search</div>
    </ion-tab-button>
    <ion-tab-button class="ion-tab-button-67895675" *ngIf="roleId === 3" tab="courses">
      <div class="tab-back-78523" *ngIf="selectedTab === 'courses'"></div>
      <img
        [src]="selectedTab === 'courses' ? 'assets/icon/home/my-corces-fill.svg' : 'assets/icon/home/my-corces.svg'" />
      <div class="footer-tab-label" [class.footer-tab-label-active]="selectedTab === 'courses'">Courses</div>
    </ion-tab-button>
    <ion-tab-button class="ion-tab-button-67895675" *ngIf="roleId === 2" tab="requests">
      <div class="tab-back-78523" *ngIf="selectedTab === 'requests'"></div>
      <img [src]="selectedTab === 'requests' ? 'assets/svg/trails-yellow.svg' : 'assets/svg/trails.svg'" />
      <div class="footer-tab-label" [class.footer-tab-label-active]="selectedTab === 'requests'">Requests</div>
    </ion-tab-button>
    <ion-tab-button class="ion-tab-button-67895675" tab="menu">
      <div class="tab-back-78523" *ngIf="selectedTab === 'menu'"></div>
      <img [src]="selectedTab === 'menu' ? 'assets/svg/more-fill.svg' : 'assets/svg/more.svg'" style="height: 26px" />
      <div class="footer-tab-label" [class.footer-tab-label-active]="selectedTab === 'menu'">Menu</div>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
