<ion-tabs>
  <ion-tab-bar class="ion-tab-bar-67895675" slot="bottom">
    <ion-tab-button class="ion-tab-button-67895675" tab="dashboard">
      <img src="assets/icon/home/home-icon.svg" />
      <div class="footer-tab-label">Home</div>
    </ion-tab-button>
    <ion-tab-button class="ion-tab-button-67895675" tab="radio">
      <img src="assets/icon/home/chat-icon.svg" />
      <div class="footer-tab-label">Chat</div>
    </ion-tab-button>
    <ion-tab-button class="ion-tab-button-67895675" tab="library">
      <img src="assets/icon/home/calendar-icon.svg" />
      <div class="footer-tab-label">Calendar</div>
    </ion-tab-button>
    <ion-tab-button class="ion-tab-button-67895675" tab="search">
      <img src="assets/icon/home/box-icon.svg" />
      <div class="footer-tab-label">Courses</div>
    </ion-tab-button>
    <ion-tab-button class="ion-tab-button-67895675" tab="search">
      <img src="assets/icon/home/menu-icon.svg" />
      <div class="footer-tab-label">Menu</div>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
