
.ion-tab-button-67895675{
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  align-items: center;
  gap: 8px;

}

.ion-tab-bar-67895675{
  --padding-top: 8px;
  --padding-bottom: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.footer-tab-label{
  font-size: 12px;
  color: #484C52;
  margin-top: 8px;
}
