<div class="single-rating-item-outer-7685">
  <div class="single-rating-item-inner-7685">
    <div class="user-card-item-box">
      <div class="user-image-box"></div>
      <div class="user-info-box">
        <div class="user-name-2432 roboto-medium fs-16">Nikiti</div>
        <div class="user-location-2432">
          <img class="location-icon-234" src="assets/svg/locations.svg" />
          <div class="location-name-234"></div>
          <div class="location-flag-234"></div>
        </div>
        <app-rating-stars [rating]="4"></app-rating-stars>
      </div>


    </div>
    <app-global-text-read [heading]="heading" [text]="text"></app-global-text-read>


  </div>
</div>