<div class="single-rating-item-outer-7685">
  <div class="single-rating-item-inner-7685">
    <div class="user-card-item-box">
      <div class="user-image-box" [style.background-image]="image"></div>
      <div class="user-info-box">
        <div class="user-name-2432 roboto-medium fs-16">{{displayName}}</div>
        <div class="user-location-2432">
          <img class="location-icon-234" src="assets/svg/locations.svg" />
          <div class="location-name-234">{{location}}</div>
          <div class="location-flag-234"><span slot="start" class="fi fi-{{this.flag}}"></span></div>
        </div>
        <app-rating-stars [rating]="rating"></app-rating-stars>
      </div>


    </div>
    <app-global-text-read [heading]="''" [text]="text"></app-global-text-read>


  </div>
</div>