<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="modals.dismiss()">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="4" size-md="4" *ngFor="let item of list">
        <ion-card>
          <ion-img [src]="item.image" (click)="viewImage(item)"></ion-img>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
