<ion-grid class="weekly-schedule-date-78528">
  <ion-row>
    <ion-col size="4" class="schedule-day-78528" *ngIf="item.day">{{item.day}}</ion-col>
    <ion-col size="4" class="schedule-day-78528" *ngIf="!item.day">{{item.date}}</ion-col>
    <ion-col size="8" style="display: flex; flex-direction: column; gap: 8px;">
      <div *ngFor="let item of schedules">
        <div class="fs-16 " style="text-transform: uppercase;"><img src="../../../assets/clock.svg" alt="">
          {{item.start_date}} - {{item.end_date}}</div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
<div class="course-schedule-line-cmp-789675" *ngIf="!last">
  <div class="line"></div>
</div>