.card-outer-3432 {
  width: 100%;
  height: 150px;
  border: 1px solid black;
  display: flex;

  .image-container-4848 {
    height: 150px;
    width: 150px;
    img {
      object-fit: cover;
      border-radius: 9px;
    }
  }

  .price-tag {
    position: absolute;
    width: 150px;
    height: 25px;
    background: #454545;
    color: #FFFFFF;
    top: 125px;
    right: 0;
    border-radius: 0px 0px 9px 9px;
    display: flex;
    justify-content: center;
  }

  .content-container-12345 {
    flex-grow: 1; /* This is the key for responsiveness */
    border: 10px solid yellow;
    overflow-x: auto; /* Enable horizontal scrolling if content overflows */
  }
}
