<ion-header class="ion-no-border ion-no-shadow ion-header-bg">
  <div class="profile-bc-header-678956">
    <div class="bback-btn-7895 ion-activatable ripple-parent rectangle" (click)="back()">
      <ion-ripple-effect></ion-ripple-effect>
      <img src="assets/svg/chv-back-black.svg" />
    </div>
    <div style="width: 100%;">
      <div class="search-box-outer-89655">
        <div class="search-box-input-outer">
          <img src="assets/icon/input-search-gray.svg" />
          <input type="text" placeholder="Search" />
        </div>
        <div class="search-box-filter-outer" style="width: 24px;" (click)="gotoFilter()">
          <img class="img-986675555" src="assets/icon/filter-icon.svg" >
        </div>
      </div>
    </div>
  </div>
</ion-header>
<ion-content class="ion-content-bg ion-padding">

  <div class="body-content">
    <div class="recent-search-78521">
      <div class="recent-search-heading-78522">
        <img src="../../../assets/svg/history.svg" alt="">Recent searches
      </div>
      <div class="recent-search-chips-78523">
        <div class="recent-search-chip-78524">Piano</div>
        <div class="recent-search-chip-78524">Guitar</div>
        <div class="recent-search-chip-78524">Art</div>
        <div class="recent-search-chip-78524">Drum</div>
        <div class="recent-search-chip-78524">Art</div>
        <div class="recent-search-chip-78524">yoga</div>
        <div class="recent-search-chip-78524">Music</div>
      </div>
    </div>
    <div class="line"></div>
    <div class="popular-search-78525">
      <div class="popular-search-heading-78526">
        <img src="../../../assets/svg/popular.svg" alt=""> Popular searches
      </div>
      <div class="popular-search-chips-78527">
        <div class="popular-search-chip-78528">Piano</div>
        <div class="popular-search-chip-78528">Guitar</div>
        <div class="popular-search-chip-78528">Art</div>
        <div class="popular-search-chip-78528">Drum</div>
        <div class="popular-search-chip-78528">yoga</div>
        <div class="popular-search-chip-78528">Music</div>
        <div class="popular-search-chip-78528">Art</div>
      </div>
    </div>
  </div>

</ion-content>
