<div class="vedio-content-89658">
  <swiper-container #slides style="width: calc(100vw - 32px); display: flex;" slides-per-view="2">
    <swiper-slide style="width: 100%; gap: 100px;">
      <div class="vedio-box-inner">
        <div class="video-89651">
          <img src="../../../../assets/youtube.png" alt="" class="you-img">
        </div>
        <p class="video-para">How to create Course</p>
      </div>
    </swiper-slide>
    <swiper-slide style="width: 100%; gap: 10px;">
      <div class="vedio-box-inner">
        <div class="video-89652">
          <img src="../../../../assets/youtube.png" alt="" class="you-img">
        </div>
        <p class="video-para">Manage Trial requests</p>
      </div>
    </swiper-slide>
    <swiper-slide style="width: 100%; gap: 10px;">
      <div class="vedio-box-inner">
        <div class="video-89653">
          <img src="../../../../assets/youtube.png" alt="" class="you-img">
        </div>
        <p class="video-para">View your earnings</p>
      </div>
    </swiper-slide>
  </swiper-container>
  <div class="line"></div>
  <swiper-container #slides style="width: calc(100vw - 32px); display: flex;" slides-per-view="2">
    <swiper-slide style="width: 100%; gap: 10px;">
      <div class="vedio-box-inner">
        <div class="video-89654">
          <img src="../../../../assets/youtube.png" alt="" class="you-img">
        </div>
        <p class="video-para">Get more students </p>
      </div>
    </swiper-slide>
    <swiper-slide style="width: 100%; gap: 10px;">
      <div class="vedio-box-inner">
        <div class="video-89655">
          <img src="../../../../assets/youtube.png" alt="" class="you-img">
        </div>
        <p class="video-para">Manage your students</p>
      </div>
    </swiper-slide>
    <swiper-slide style="width: 100%; gap: 10px;">
      <div class="vedio-box-inner">
        <div class="video-89656">
          <img src="../../../../assets/youtube.png" alt="" class="you-img">
        </div>
        <p class="video-para">Manage your schedule</p>
      </div>
    </swiper-slide>
  </swiper-container>
</div>