<div class="vedio-content-89658">

  <swiper [slidesPerView]="2" [spaceBetween]="10" [pagination]="{ clickable: true }" class="swiper-container-7895">
    <ng-template swiperSlide>
      <div class="vedio-box-inner">
        <div class="video-89651">
          <img src="../../../../assets/youtube.png" alt="" class="you-img">
        </div>
        <div class="video-para">How to create Course, Manage Trial requests</div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="vedio-box-inner">
        <div class="video-89652">
          <img src="../../../../assets/youtube.png" alt="" class="you-img">
        </div>
        <div class="video-para">Manage Trial requests</div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="vedio-box-inner">
        <div class="video-89653">
          <img src="../../../../assets/youtube.png" alt="" class="you-img">
        </div>
        <div class="video-para">View your earnings</div>
      </div>
    </ng-template>
  </swiper>

  <swiper [slidesPerView]="2" [spaceBetween]="10" [pagination]="{ clickable: true }" class="swiper-container-7895">
    <ng-template swiperSlide>
      <div class="vedio-box-inner">
        <div class="video-89654">
          <img src="../../../../assets/youtube.png" alt="" class="you-img">
        </div>
        <div class="video-para">Get more students </div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="vedio-box-inner">
        <div class="video-89655">
          <img src="../../../../assets/youtube.png" alt="" class="you-img">
        </div>
        <div class="video-para">Manage your students</div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="vedio-box-inner">
        <div class="video-89656">
          <img src="../../../../assets/youtube.png" alt="" class="you-img">
        </div>
        <div class="video-para">Manage your schedule</div>
      </div>
    </ng-template>
  </swiper>

</div>
