.sd-input-box-outer-675315 {
    height: 50px;
    border-radius: 8px;
    background: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 8px;
    border: 0.15px solid rgba(0, 0, 0, 0.75);
    padding-right: 8px;
    gap: 8px;
    width: 100% !important;
  }
  
  .sd-input-box-input-675315 {
    background: none;
    border: none;
    outline: none;
    /* Remove default focus outline */
    flex-grow: 1;
  }
  
  .sd-input-box-input-675315:focus {
    /* Additional styles when input is focused */
    /* You can customize this block based on your requirements */
    box-shadow: none;
    /* Remove any focus box-shadow */
  }
  
  .languages {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    gap: 8px;
  
    .add-lang {
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
  
      ion-icon {
        font-size: 45px;
      }
    }
  
    .language {
      width: 100%;
    }
  }
  
  .language-sec {
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 100%;
    gap: 8px;
  }
  
  .lang-chips {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  
    gap: 8px;
  
    ion-chip {
      background-color: rgba(69, 69, 69, 1);
      color: white;
  
      ion-icon {
        color: white;
      }
    }
  }
  
  .language-chips {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 8px;
  }
  
  .lang-chips-7895545 {
    margin-top: 8px;
  }
  
  .lang-chips-7895545 ion-chip {
    margin: 0;
  
  }