<div class="trial-box-outer-689567" *ngIf="this.trial">
  <div class="sb-heading-7895">
    <div class="sb-heading-title-7895 outfit-semibold">Trial Requests</div>
    <div class="sb-heading-sl-7895 outfit" (click)="goToTrialReq()">See all</div>
  </div>
  <div class="sb-content-7895"></div>
</div>

<div class="trial-box-item-outer-689567" *ngIf="this.trial">

  <div class="trial-box-item-689567">

    <div class="profile-line-content">
      <div class="image-box-outer">
        <div class="image-circle-789675"
          [style.background-image]="!image ? 'assets/profileimg.png' : 'url(' + image + ')'"></div>
        <div class="pnd-678956">
          <img src="../../../assets/svg/panding.svg" />
          <div class="pnd-inner-7895">Pending</div>
        </div>
      </div>
      <div class="content-box-outer">

        <div class="content-box-outer-heading-top">
          <div class="title-heading-789 outfit-semibold">
            {{student| names}} {{age}}
          </div>
          <div class="pnd-678956">
            <img src="../../../assets/svg/option.svg" id="click-trigger" />
          </div>
          <ion-popover id="popover" trigger="click-trigger" triggerAction="click" [dismissOnSelect]="true">
            <ng-template>
              <div class="popover-class"  (click)="goToTrialReq()">

                <div class="profile-line-789578">
                  <img class="img1-789575" src="assets/icon/check-circle.svg" />
                  <div class="nbl-687 outfit-semibold ">Accept</div>
                </div>

                <div class="line"></div>
                <div class="profile-line-789578">
                  <img class="img1-789575" src="assets/icon/reject-circle.svg" />
                  <div class="nbl-687 outfit-semibold ">Reject</div>
                </div>

                <div class="line"></div>

                <div class="profile-line-789578">
                  <img class="img1-789575" src="assets/icon/block-circle.svg" />
                  <div class="nbl-687 outfit-semibold ">Block</div>

                </div>

              </div>

            </ng-template>
          </ion-popover>
        </div>

        <div class="country-heading-789">
          <span *ngIf="flag" slot="start" style="border-radius: 5px;" class="fi fi-{{flag}}"></span>
          <span class="country-name-789 outfit">{{city}} {{country}} </span>
        </div>
        <div class="age-title-789 outfit">
          <img src="../../../assets/svg/id.svg" alt="" class="image-id">
          {{serial_number}}
        </div>

      </div>

    </div>
    <div class="line"></div>
    <div class="er-title-789 outfit">
      <img src="assets/icon/info.svg" />
      <span class="discription-para">{{courseName}}</span>
    </div>

  </div>


</div>