/*  use these @fontface in html below  */

@font-face {
  font-family: Outfit-Thin;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  src: url("./../assets/fonts/Outfit/static/Outfit-Thin.ttf");
}

@font-face {
  font-family: Outfit-ExtraLight;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  src: url("./../assets/fonts/Outfit/static/Outfit-ExtraLight.ttf");
}

@font-face {
  font-family: Outfit-Light;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  src: url("./../assets/fonts/Outfit/static/Outfit-Light.ttf");
}

@font-face {
  font-family: Outfit-Regular;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  src: url("./../assets/fonts/Outfit/static/Outfit-Regular.ttf");
}

@font-face {
  font-family: Outfit-Medium;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  src: url("./../assets/fonts/Outfit/static/Outfit-Medium.ttf");
}

@font-face {
  font-family: Outfit-SemiBold;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  src: url("./../assets/fonts/Outfit/static/Outfit-SemiBold.ttf");
}

@font-face {
  font-family: Outfit-Bold;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  src: url("./../assets/fonts/Outfit/static/Outfit-Bold.ttf");
}

@font-face {
  font-family: Outfit-ExtraBold;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  src: url("./../assets/fonts/Outfit/static/Outfit-ExtraBold.ttf");
}

@font-face {
  font-family: Outfit-Black;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  src: url("./../assets/fonts/Outfit/static/Outfit-Black.ttf");
}

/*  use these classes in html below  */

.outfit-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.outfit-extralight {
  font-family: "Outfit-ExtraLight", sans-serif;
}

.outfit-light {
  font-family: "outfit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.outfit {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.outfit-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.outfit-semibold {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.outfit-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.outfit-extrabold {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.outfit-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.outfit-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.outfit-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.outfit-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.outfit-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.outfit-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}


@font-face {
  font-family: Roboto;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  src: url("./../assets/fonts/Roboto/Roboto-Thin.ttf");
}

@font-face {
  font-family: Roboto;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: italic;
  src: url("./../assets/fonts/Roboto/Roboto-ThinItalic.ttf");
}

@font-face {
  font-family: Roboto;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  src: url("./../assets/fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
  font-family: Roboto;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
  src: url("./../assets/fonts/Roboto/Roboto-LightItalic.ttf");
}

@font-face {
  font-family: Roboto;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  src: url("./../assets/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: Roboto;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  src: url("./../assets/fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
  font-family: Roboto;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
  src: url("./../assets/fonts/Roboto/Roboto-MediumItalic.ttf");
}

@font-face {
  font-family: Roboto;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  src: url("./../assets/fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: Roboto;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
  src: url("./../assets/fonts/Roboto/Roboto-BoldItalic.ttf");
}

@font-face {
  font-family: Roboto;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  src: url("./../assets/fonts/Roboto/Roboto-Black.ttf");
}

@font-face {
  font-family: Roboto;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: italic;
  src: url("./../assets/fonts/Roboto/Roboto-BlackItalic.ttf");
}

/*  use these classes in html below  */
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-medium-2 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}


@font-face {
  font-family: Nunito;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  src: url("./../assets/fonts/Nunito/static/Nunito-Bold.ttf");
}

/*  use these classes in html below  */
.nunito-bold {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
