// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #484848;
  --ion-color-primary-rgb: 72, 72, 72;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3f3f3f;
  --ion-color-primary-tint: #5a5a5a;

  --ion-color-secondary: #484848;
  --ion-color-secondary-rgb: 72, 72, 72;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #3f3f3f;
  --ion-color-secondary-tint: #5a5a5a;

  --ion-color-tertiary: #484848;
  --ion-color-tertiary-rgb: 72, 72, 72;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #3f3f3f;
  --ion-color-tertiary-tint: #5a5a5a;

  --ion-color-success: #B1D2A7;
  --ion-color-success-rgb: 72, 72, 72;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #3f3f3f;
  --ion-color-success-tint: #5a5a5a;

  --ion-color-warning: #484848;
  --ion-color-warning-rgb: 72, 72, 72;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #3f3f3f;
  --ion-color-warning-tint: #5a5a5a;

  --ion-color-danger: rgb(196, 22, 22);
  --ion-color-danger-rgb: 72, 72, 72;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #3f3f3f;
  --ion-color-danger-tint: #5a5a5a;

  --ion-color-light: #ebeaea;
  --ion-color-light-rgb: 72, 72, 72;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 255, 255, 255;
  --ion-color-light-shade: #3f3f3f;
  --ion-color-light-tint: #5a5a5a;

  --ion-color-medium: #e4e3e3;
  --ion-color-medium-rgb: 72, 72, 72;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #3f3f3f;
  --ion-color-medium-tint: #5a5a5a;

  --ion-color-dark: rgba(69, 69, 69, 0.9);
  --ion-color-dark-rgb: 72, 72, 72;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #3f3f3f;
  --ion-color-dark-tint: #5a5a5a;
  --ion-color-alert: #484848;


  --tb-btn-color-dark: #454545;
  --tb-page-bg-color: #E4E3E380;
}

html {
  /*
   * For more information on dynamic font scaling, visit the documentation:
   * https://ionicframework.com/docs/layout/dynamic-font-scaling
   */
  --ion-dynamic-font: var(--ion-default-dynamic-font);
}
