.video-box-outer-78521 {

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .video-box-78522 {

    width: 50%;
    height: 120px;
    border-radius: 8px;
    display: flex;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
  }
}