.gallery-outer-8965 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 8px;
  width: 100%;
  height: auto;
}

.image-card-78975 {
  /* Optional: Add styling for image cards */
  background-color: rgb(217, 217, 217);
  border-radius: 5px;
  width: 125px;
  height: 100px;
  /* height: auto; */
  display: block;
  border-radius: 5px;
  object-fit: cover;
  aspect-ratio: 4 / 3;
}

.image-card-78975 img {}

.image {
  height: 100px;
  width: 125px;
  object-fit: contain;
}
