<!-- <div class="statistics-box-outer-78906">
  <div class="statistics-box-item-78906">
    <div class="nbl-687 outfit-semibold ">{{views}}</div>
    <div class="label-687 outfit-light">Views</div>
  </div>
  <div class="statistics-box-item-78906">
    <div class="nbl-687 outfit-semibold ">{{trials}}</div>
    <div class="label-687 outfit-light">Trials</div>
  </div>
  <div class="statistics-box-item-78906">
    <div class="nbl-687 outfit-semibold ">{{courses}}</div>
    <div class="label-687 outfit-light">Courses</div>
  </div>
  <div class="statistics-box-item-78906">
    <div class="nbl-687 outfit-semibold ">{{credits}}</div>
    <div class="label-687 outfit-light">Credits</div>
  </div>
  <div class="statistics-box-item-78906">
    <div class="nbl-687 outfit-semibold ">{{event}}</div>
    <div class="label-687 outfit-light">Event</div>
  </div>

</div> -->
<!-- <div class="heading">My Dashboard</div>
<div class="dashboard">
  <div class="d1">
    <div class="dimg">
    <img  src="../../../assets/svg/dashboard-icon.svg" alt="dashboard"/>
  </div>
  <div class="txt">₹ 51,858
  </div>
  <span class="earn">Earnings till date</span>


  </div>
  <div class="box"></div>
  <div class="d2">
    <div class="dimg">
      <img  src="../../../assets/svg/coin.svg" alt="dashboard"/>
    </div>
    <div class="coin">12</div>

  </div>
</div> -->
<div class="trial-box-outer-689567">
  <div class="sb-heading-7895">
    <div class="sb-heading-title-7895 outfit-semibold">My Dashboard</div>
  </div>
  <div class="sb-content-7895"></div>
</div>
<ion-grid class="dashboard-stats-outer">
  <ion-row class="dashboard-cards-top-outer">
    <!-- Earnings Card -->
    <ion-col>
      <div class="card-34567" (click)="openEarnings()">
        <div class="dimg">
          <img src="../../../assets/svg/dashboard-icon.svg" alt="dashboard" />
        </div>
        <div class="txt roboto-bold">₹ 51,858</div>
        <span class="earn roboto-regular">Earnings Till Date</span>
        <div class="arrow-btn">
          <img src="../../../assets/svg/tarrow.svg"  alt="Arrow Button" />
        </div>
      </div>
    </ion-col>

    <ion-col>
      <div class="card-34567" (click)="openCredit()">
        <div class="dimg">
          <img src="../../../assets/svg/coin.svg" alt="coin" />
        </div>
        <div class="txt roboto-bold">32</div>
        <span class="earn roboto-regular">Credit Balance</span>
        <div class="arrow-btn">
          <img src="../../../assets/svg/tarrow.svg" alt="Arrow Button" />
        </div>
      </div>
    </ion-col>
    <!-- Credit Balance Card -->

  </ion-row>

  <ion-row class="icon-box">
    <ion-col size="3" size-xs="3" size-sm="3" size-md="3" size-lg="3">
      <div class="icon-item" (click)="goToTrialReq()">
        <div class="icon">
          <img src="../../../assets/svg/new-trial.svg" alt="New Trial" />
        </div>
        <div class="icon-info">
          <div class="icon-number roboto-medium-2">{{trials}}</div>
          <span class="icon-label roboto-regular">New Trial <br> Requests</span>
        </div>
      </div>
    </ion-col>
    <ion-col size="3" size-xs="3" size-sm="3" size-md="3" size-lg="3">
      <div class="icon-item">
        <div class="icon">
          <img src="../../../assets/svg/message.svg" alt="Message" />
        </div>
        <div class="icon-info">
          <div class="icon-number roboto-medium-2">2</div>

          <span class="icon-label roboto-regular">Message <br>Requests</span>
        </div>
      </div>

    </ion-col>
    <ion-col size="3" size-xs="3" size-sm="3" size-md="3" size-lg="3">

      <div class="icon-item">
        <div class="icon">
          <img src="../../../assets/svg/in-progress.svg" alt="In Progress" />
        </div>
        <div class="icon-info">
          <div class="icon-number roboto-medium-2">3</div>
          <span class="icon-label roboto-regular">Trials <br>In Progress</span>
        </div>
      </div>

    </ion-col>
    <ion-col size="3" size-xs="3" size-sm="3" size-md="3" size-lg="3">
      <div class="icon-item">
        <div class="icon">
          <img src="../../../assets/svg/trial-completed.svg" alt="Completed" />
        </div>
        <div class="icon-info">
          <div class="icon-number roboto-medium-2">16</div>
          <span class="icon-label roboto-regular">Trials<br> Completed</span>
        </div>
      </div>
    </ion-col>
  </ion-row>

</ion-grid>
