<!-- <div class="statistics-box-outer-78906">
  <div class="statistics-box-item-78906">
    <div class="nbl-687 outfit-semibold ">{{views}}</div>
    <div class="label-687 outfit-light">Views</div>
  </div>
  <div class="statistics-box-item-78906">
    <div class="nbl-687 outfit-semibold ">{{trials}}</div>
    <div class="label-687 outfit-light">Trials</div>
  </div>
  <div class="statistics-box-item-78906">
    <div class="nbl-687 outfit-semibold ">{{courses}}</div>
    <div class="label-687 outfit-light">Courses</div>
  </div>
  <div class="statistics-box-item-78906">
    <div class="nbl-687 outfit-semibold ">{{credits}}</div>
    <div class="label-687 outfit-light">Credits</div>
  </div>
  <div class="statistics-box-item-78906">
    <div class="nbl-687 outfit-semibold ">{{event}}</div>
    <div class="label-687 outfit-light">Event</div>
  </div>

</div> -->
<!-- <div class="heading">My Dashboard</div>
<div class="dashboard">
  <div class="d1">
    <div class="dimg">
    <img  src="../../../assets/svg/dashboard-icon.svg" alt="dashboard"/>
  </div>
  <div class="txt">₹ 51,858
  </div>
  <span class="earn">Earnings till date</span>
  

  </div>
  <div class="box"></div>
  <div class="d2">
    <div class="dimg">
      <img  src="../../../assets/svg/coin.svg" alt="dashboard"/>
    </div>
    <div class="coin">12</div>
    
  </div>
</div> -->
<div class="heading">My Dashboard</div>
<div class="dash">
  <div class="dashboard-cards-top-outer">
  <!-- Earnings Card -->
  <div class="card-34567">
    <div class="dimg">
      <img src="../../../assets/svg/dashboard-icon.svg" alt="dashboard" />
    </div>
    <div class="txt">₹ 51,858</div>
    <span class="earn">Earnings Till Date</span>
    <div class="arrow-btn">
      <img src="../../../assets/svg/tarrow.svg" alt="Arrow Button" />
    </div>
  </div>

  <!-- Credit Balance Card -->
  <div class="card-34567">
    <div class="dimg">
      <img src="../../../assets/svg/coin.svg" alt="coin" />
    </div>
    <div class="txt">32</div>
    <span class="earn">Credit Balance</span>
    <div class="arrow-btn">
      <img src="../../../assets/svg/tarrow.svg" alt="Arrow Button" />
    </div>
  </div>
</div>

<div class="icon-box">
  <!-- Icon 1: New Trial Requests -->
  <div class="icon-item">
    <div class="icon">
      <img src="../../../assets/svg/new-trial.svg" alt="New Trial" />
    </div>

    <div class="icon-info">
      <div class="icon-number">{{trials}}</div>
      <span class="icon-label">New Trial <br> Requests</span>
    </div>
  </div>

  <div class="vl"></div>
  <!-- Icon 2: Message Requests -->
  <div class="icon-item">
    <div class="icon">
      <img src="../../../assets/svg/message.svg" alt="Message" />
    </div>
    <div class="icon-info">
      <div class="icon-number">2</div>

      <span class="icon-label">Message <br>Requests</span>
    </div>
  </div>

  <div class="vl"></div>
  <!-- Icon 3: Trials in Progress -->
  <div class="icon-item">
    <div class="icon">
      <img src="../../../assets/svg/in-progress.svg" alt="In Progress" />
    </div>
    <div class="icon-info">
      <div class="icon-number">3</div>
      <span class="icon-label">Trials <br>In Progress</span>
    </div>
  </div>
  <div class="vl"></div>

  <!-- Icon 4: Trials Completed -->
  <div class="icon-item">
    <div class="icon">
      <img src="../../../assets/svg/trial-completed.svg" alt="Completed" />
    </div>
    <div class="icon-info">
      <div class="icon-number">16</div>
      <span class="icon-label">Trials<br> Completed</span>
    </div>
  </div>
</div>
</div>
