// .statistics-box-outer-78906{
//   background: #FFFFFF;
//   border-radius: 20px;
//   box-shadow: 1px 4px 4px 0 rgba(0, 0, 0, 0.15);
//   display: flex;
//   flex-direction: row;
//   justify-content: space-evenly;
//   height: 105px;
//   border: 0.5px solid rgb(103 113 105 / 50%);
//   align-items: center;
//   width: 100%;
//   // padding: 8px;

//   .statistics-box-item-78906{
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     gap: 6px;
//     margin-top: 8px;
//     margin-bottom: 8px;
//     width: 20%;
//     height: 80px;
//     border-right: 0.25px solid rgba(103, 113, 105, 0.15);
//     //  padding: 10px;
//     .nbl-687{
//       font-size: 1.125rem;
//     }
//     .nbl-danger{
//       color: #FF0404 !important;
//     }
//     .label-687{
//       color: rgba(0, 0, 0, 0.5);
//       font-size: 1rem;
//     }
//   }

//   .statistics-box-item-78906:last-child {
//     border-right: none;
//   }

// }/* General Heading Style */
/* General Layout Adjustments */

/* Heading */

.trial-box-outer-689567 {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .sb-heading-7895 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;



    .sb-heading-title-7895 {
      font-size: 20px;
      text-wrap: nowrap;
      width: 240px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .sb-heading-sl-7895 {
      font-size: 13px;
      text-wrap: nowrap;
    }
  }
}

.dashboard-stats-outer{
  display: flex;
  flex-direction: column;
  gap: 16px;

}

/* Dashboard Wrapper */
.dashboard-cards-top-outer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

/* Card Container */
.card-34567 {
  position: relative;
  // min-width: 173px;
  /* Matches Figma */
  height: 100px;
  /* Matches Figma */
  border-radius: 6px;
  box-shadow: 6px 6px 12px 0px #BCBCBC1C;
  border: 0.5px solid #00000080;
  /* Figma shadow */
  padding: 16px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  text-align: left;
  // padding-left: 2%;
}


/* Icon/Image Styling */
.dimg img {
  /* Matches Figma icon size */
  height: 32px;
  width: 25.32px;
  height: 24px;
  top: 184px;
  left: 33.04px;
  opacity: 0px;

}
.txt {
  width: 94.94px;
  height: 27px;
  top: 212px;
  left: 33.04px;
  gap: 0px;
  opacity: 0px;
  font-family: Roboto;
  font-size: 23.04px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0.4000000059604645px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;


}
.earn {
  width: 121.31px;
  height: 13px;
  top: 246px;
  left: 33.04px;
  gap: 0px;
  opacity: 50%;
  font-family: DM Sans;
  font-size: 10px;
  font-weight: 400;
  line-height: 13.02px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}

.arrow-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.arrow-btn img {
  width: 16px;
  height: 16px;
}

.icon-box {
  display: flex;
  justify-content: space-between;
  border-radius: 6px;
  box-shadow: 6px 6px 12px 0px #BCBCBC1C;
  border: 0.5px solid #00000080;
  padding: 15px;
  margin-top: 8px;
  width: 363px;
  height: 104px;
  top: 286px;
  left: 12px;
  gap: 0px;
  opacity: 0px;
}

.icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 600;
  line-height: 15.12px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}

/* Placeholder for Icon Images */
.icon img {
  width: 24px;
  height: 24px;
  top: 302px;
  left: 43px;
  padding: 2.5px;
  gap: 0px;
  opacity: 0px;

}

/* Number Above Each Icon */
.icon-number {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #181c32;
  margin-bottom: 5px;
  position: relative;

}



/* Label Below Each Icon */
.icon-label {
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 300;
  line-height: 15.62px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}

.vl {
  height: 75px;
  border-left: 0.25px solid #00000080
}
