.no-scroll-content {
  overflow: hidden; /* Prevents scrolling */
}

.centered-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Full height to vertically center within ion-content */
  font-size: 1.2em;
  text-align: center;
  color: #666; /* Optional: adjust color */
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
