<ion-header class="ion-no-border ion-no-shadow">
  <app-sd-header-top [showBack]="true" [title]="pageTitle" [backUrl]="" [showFav]="false" [showSearch]="false"
    [showNotification]="false" [goToFav]="true"></app-sd-header-top>
</ion-header>

<ion-content class="ion-content-bg no-scroll-content" #content [scrollEvents]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refreshPage($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="student-box-outer-689567 ">
    <app-request-item *ngFor="let item of list" [item]="item"></app-request-item>
  </div>
  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <div *ngIf="list.length === 0" class="centered-message">
    No request to display
  </div>
</ion-content>
