<div class="body-content-68448">
  <div class="input-box-lines d-flex flex-column gap-8">
    <app-sd-input-box [image]="'assets/svg/email.svg'" placeholder="Enter your email"
      (onChange)="result($event, 'email')" [inputText]="formData.email" [key]="'email'"
      [errorText]="'Email is required'" [type]="'email'" [modernInput]="true"></app-sd-input-box>
  </div>
  <div class="input-box-lines d-flex flex-column gap-8">
    <app-sd-input-box [showTogglePassword]="true" [image]="'assets/svg/password.svg'" placeholder="Enter your password"
      (onChange)="result($event, 'password')" [inputText]="formData.password" [key]="'password'"
      [errorText]="'Password is required'" [type]="'password'" [modernInput]="true"></app-sd-input-box>
  </div>
  <div style="display:flex; align-items: center; justify-content: space-between;">
    <div class="input-title fs-12 roboto-medium"></div>
    <div class="input-title-2 fs-14 roboto-regular" style="color: #0386D0" (click)="forgetPassword()">Forgot password?
    </div>
  </div>


  <div class="d-flex flex-column gap-16">
    <div class="input-box-lines">
      <app-sd-button-gray [text]="'Login'" [disabled]="showLoader" (click)="submit()"></app-sd-button-gray>
    </div>
  </div>
</div>
