


<div class="courses-block-outer-789565" (click)="goToDeatil()">
  <div class="courses-block-item-789565">
    <div class="block-item-header">
      <div class="block-item-header-title outfit-medium">{{item?.title}}</div>
    </div>
    <div class="block-item-body">
      <div class="profile-item-block">
        <div>
          <div class="profile-item-image-block" [style.backgroundImage]="'url(assets/learn-piano.jpeg)'"></div>
        </div>
        <div class="profile-content-78678564">
          <img src="../../../assets/svg/heart.svg" alt="" class="loved-icon">
          <div class="profile-line-789575">
            <img class="img1-789575" src="../../../assets/svg/techer-card.svg">
            <div class="label-789575 outfit">{{item.user.name}}</div>
            <img src="assets/icon/info.svg" />
            <div class="info-misc-68448 outfit"><img src="assets/icon/star.svg" /> <span>4.9</span></div>
          </div>
          <div class="group-96589">
            <div class="line-789575">
              <img class="i-7685" src="../../../assets/svg/speaks.svg" />
              <div class="badges-outer-44 outfit">
                <div class="gray-badge-44">{{item.language.name}}</div>
              </div>
            </div>
            <div class="line-789575">
              <img class="i-7685" src="assets/svg/cake.svg" />
              <div class="label outfit">Age {{item.from_age}}-{{item.to_age}}</div>
            </div>
          </div>
          <div class="line-789575">
            <img class="i-7685" src="../../../assets/svg/time.svg" />
            <div class="label outfit">{{item.duration}} hrs/month</div>
          </div>
          <div class="group-96589">
            <div class="line-789575">
              <img class="i-7685" src="../../../assets/svg/online.svg" />
              <div class="label outfit">{{item.mode_type}}</div>
            </div>
            <div class="line-789575">
              <img class="i-7685" src="assets/icon/smgroup-icon.svg" />
              <div class="label outfit">{{item.capacity}}</div>
            </div>
          </div>
          <div class="profile-above-footer-986985">
            <div class="us-status-btn">
              <div class="us-status-btn-label outfit-medium">$ {{item.price}}/month</div>
            </div>
          </div>
        </div>
      </div>
      <div class="profile-below-footer-986985">
        <div class="ble-buttons-789576856">
          <div class="btn-alg-77">
            <img src="../../../assets/svg/share.svg" />
            <div class="outfit">Share</div>
          </div>
        </div>
        <div class="right-980676">
          <div class="buy-now-btn-89675 outfit-medium">Subscribe</div>
          <div class="free-trial-btn-89675 outfit-medium">Free Trial</div>
        </div>
      </div>
    </div>
  </div>
</div>
