<ion-header class="ion-no-border ion-no-shadow">
  <app-sd-header-top [title]="'Course Photos'" [backUrl]="" [showBack]="true"></app-sd-header-top>
</ion-header>

<ion-content class="ion-padding ion-content-medium-background">
  <div class="gallery-outer-8965">
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let coursePhoto of createCourseService.coursePhotos; let i = index" size-xs="4" size-sm="4" size-md="4" size-lg="4">
          <div class="image-card-78975" [style.backgroundImage]="setBackgroundImage(coursePhoto)"
            (click)="openImage(coursePhoto)" (click)="openImage(coursePhoto)">
            <!-- <ion-icon name="star" [class.set-feature-input-678956744]="coursePhoto.feature === true"
              class="feature-input-678956744" (click)="updateFeatureImage(coursePhoto, i, $event)"></ion-icon> -->
            <img src="assets/svg/delete.svg" class="clear-input-678956744" (click)="clearImage(i , $event)">
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <input type="file" (change)="onFileSelected($event)" accept="image/*" style="display: none" #photoInput multiple />
</ion-content>
<ion-footer class="ion-padding ion-no-border ion-no-shadow ion-content-medium-background">
  <div class="d-flex flex-column gap-16" style="width: 100%;">
    <app-sd-button-gray style="width: 100%;" (click)="photoInput.click()" [image]="'assets/svg/upload.svg'" [disabled]="createCourseService.coursePhotos.length >= 8"
      [text]="'Upload course photos'"></app-sd-button-gray>
    <app-sd-button-gray style="width: 100%;" (click)="backToProfile()" [image]="'assets/svg/done.svg'"
      [text]="'Done'"></app-sd-button-gray>
  </div>
</ion-footer>
