<div class="statistics-box-outer-78906">

  <div  class="statistics-box-item-78906" >
    <img src="../../../assets/icon/calendar.svg" />
    <div class="nbl-687 outfit-medium ">Schedule</div>
  </div>
  <div class="line"></div>
  <div  class="statistics-box-item-78906"  (click)="createCourse()">
    <img src="../../../assets/icon/cradd.svg" />
    <div class="nbl-687 outfit-medium ">Create Course</div>
  </div>
  <div class="line"></div>
  <div  class="statistics-box-item-78906" >
    <img src="../../../assets/icon/buyc.svg" />
    <div class="nbl-687 outfit-medium ">Buy Credit</div>
  </div>

</div>
