.checkout-border-top {
  border: 1px solid rgba(215, 214, 214, 1);
}

.checkout-footer {
  position: absolute;
  bottom: 0;
}

.Privacy-policy {
  font-size: 12px;
  color: #777777;
  padding-bottom: 20px;
  text-align: center;

  a {
    color: #000000;
    text-decoration: underline;
  }
}

.buy-credit-heading {
  color: #454545;
  font-size: 35px;
}

.buy-credit-coin {
  height: 40px;
}

.but-credit-counter-box {
  display: flex;
  justify-content: center;
  align-items: center;

  .but-credit-counter-box-inner {
    width: 338px;
    height: 60px;
    border: 4px solid rgba(69, 69, 69, 1);

    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.checkout-history-list {
  border-radius: 20px;
  border: 0.5px solid #454545;
  box-shadow: 1px 4px 4px 0px #00000026;
}

.center-coin-label {
  font-size: 28px;
  font-weight: bold;
}
.order-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50vh; /* Full viewport height to center vertically */
  width: 100%;
  background-color: #f9f9f9; /* Optional background for styling */
}

.order-container .icon img {
  width: 101px;
  height: 101px;
}

.order-container .text h2 {
  margin: 10px 0 5px;
  font-size: 1.5rem;
  color: #9fc78a;
}

.order-container .text p {
  margin: 2px 0;
  font-size: 1rem;
  color: #757575;
}
