<ion-header>
  <app-sd-header-top
    [title]="'Credit Balance'"
    [showBack]="true"></app-sd-header-top>
</ion-header>

<ion-content class="ion-padding">

  <swiper [slidesPerView]="1" [spaceBetween]="0" [pagination]="{ clickable: true }" class="swiper-container-inner-7892" #slides (transitionEnd)="onSlideChanged()">
    <ng-template swiperSlide>
      <div class="buy-credit-outline">
        <div class="d-flex flex-column gap-16 justify-content-center">
          <div class="d-flex flex-row gap-16 align-items-center justify-content-center">
              <div class="outfit-bold fs-21 buy-credit-heading" >Buy Credits</div>
              <img class="buy-credit-coin" src="assets/svg/coin.svg" />
          </div>

          <div class="but-credit-counter-box">

            <div class="d-flex flex-row gap-8 align-items-center justify-content-between but-credit-counter-box-inner">
              <ion-button fill="clear" (click)="decrementCredit()">
                <ion-icon name="remove-outline"></ion-icon>
              </ion-button>

              <div class="roboto-bold center-coin-label">{{ selectedCoin?.level }}</div>

              <ion-button fill="clear" (click)="incrementCredit()">
                <ion-icon name="add-outline"></ion-icon>
              </ion-button>
            </div>


          </div>

          <ion-list class="checkout-history-list" inset="true">
            <ion-item *ngFor="let item of apiCoins" detail="true" (click)="selectCoin(item)">
              <ion-label>
                <h2>Buy <b>{{ item.level }}</b> Coins</h2>
              </ion-label>
              <span slot="end" class="price">{{ item.currency_symbol }} {{ item.price }}</span>
            </ion-item>
          </ion-list>

          <!-- <div class="d-flex flex-row gap-8">
            <app-sd-button-golden [text]="'$10'" (click)="buyCredits(10)"></app-sd-button-golden>
            <app-sd-button-golden [text]="'$20'" (click)="buyCredits(20)"></app-sd-button-golden>
            <app-sd-button-golden [text]="'$50'" (click)="buyCredits(50)"></app-sd-button-golden>
          </div> -->
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="order-container">
        <div class="icon">
          <img src="assets/svg/order.svg" alt="Order Icon" />
        </div>
        <div class="text">
          <h2 style="color: #9FC78A;">Order completed!</h2>
          <p style="color: #BBBBBB;">Order number: {{order_detail?.order_number}}</p>
          <p style="color: #42434780;">New credit balance: {{order_detail?.order_items[0]?.quantity}}</p>
        </div>
      </div>
    </ng-template>



    <ng-template swiperSlide>

    </ng-template>
  </swiper>

</ion-content>
<ion-footer class="checkout-footer checkout-border-top">
  <div class="ion-padding d-flex flex-column">
    <div class="d-flex flex-column gap-8 ion-padding" >

      <div class="d-flex flex-row justify-content-between">
        <div>Order</div>
        <div>{{currency_symbol}} {{total}}</div>
      </div>
      <div class="d-flex flex-row justify-content-between">
        <div>Tax</div>
        <div>{{currency_symbol}} {{tax}}</div>
      </div>
      <div class="d-flex flex-row justify-content-between">
        <div>Subtotal</div>
        <div class="roboto-bold fs-24">{{currency_symbol}} {{ payAmount }}</div>
      </div>


      <app-sd-button-golden [text]="getPayAmount()" (click)="continueToNextSlide()" (click)="makeOrder()"></app-sd-button-golden>
    </div>

    <div class="Privacy-policy outfit">By checking out, you agree to Tutor Bunny’s <br> <a>Terms of Service </a></div>

  </div>
</ion-footer>
