<ion-content [fullscreen]="true" class="ion-padding">
  <div class="content-outer-877584">
    <div class="image-outer-877584">
      <img src="../../assets/svg/logo.svg">
    </div>
    <div class="first-top-section">
      <ion-grid class="image-over-grid-785674">
        <ion-row>
          <ion-col size="3" *ngFor="let item of [1,2,3,4,5,6,7,8]">
            <div class="image-container"
              [style.background-image]="'url(' + 'assets/role-base-8-images/image' + item + '.jpeg' + ')'">
              <!-- <img src="assets/role-base-8-images/image{{item}}.jpeg" alt="Image {{ item }}" class="circle-image"> -->
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>

    <div class="heading-outer-877584">
      <div class="heading fs-21 roboto-medium">Meeting place for teachers and students</div>
      <div class="subheading fs-18 roboto-regular">Access to the qualified teachers around the
        world and request free trial classes, join events,
        search for courses, workshops and more.
      </div>
      <a href="" style="color: #0B5DD8; font-size: 14px;">Learn more</a>
    </div>

    <div class="joinus-outer-877584">
      <div class="fs-18 rroboto-medium signin-option">Login as</div>
      <app-sd-button-gray (click)="setCurrentRole('3')" [image]="'assets/svg/teacher.svg'"
        [text]="'Teacher or Institute'"></app-sd-button-gray>
      <app-sd-button-clear (click)="setCurrentRole('2')" [image]="'assets/svg/student.svg'"
        [text]="'Student'"></app-sd-button-clear>
      <div style="font-size: 14px; font-weight: 400; text-align: center; color: #808080;">
        By logging in with an account, you agree to
        Tutor Bunny’s <span style="color: black; text-decoration: underline;"> Terms of Service</span> and <span
          style="color: black; text-decoration: underline;">Privacy Policy</span>.
      </div>
    </div>
  </div>
</ion-content>
