<ion-header>
  <div class="top-header-78956">
    <div class="header-right-items-78956" (click)="back()">
      <img class="image" src="../../assets/svg/cancel.svg" alt="">
    </div>
  </div>
</ion-header>
<ion-content>
  <div class="qulification-box-outer-98521">
    <div class="qulification-box-edu-98522">
      <div class="qulification-box-edu-heading-98523">Qualifications</div>
      <div class="qulification-box-edu-para-98524">{{user.teacher.qualification_description}}
      </div>
      <div class="qulification-box-edu-readmore-98525">
        <div class="qulification-box-edu-button-98526">Read More</div>
      </div>
    </div>
    <div class="education-box-edu-98522">
      <div class="education-box-edu-heading-98523">Experiences</div>
      <div class="education-box-edu-para-98524">{{user.teacher.experience_description}}
      </div>
      <div class="education-box-edu-readmore-98525">
        <div class="education-box-edu-button-98526">Read More</div>
      </div>
    </div>
  </div>
</ion-content>
