<div class="student-box-outer-689567">
  <div class="sb-heading-7895">
    <div class="sb-heading-title-7895 outfit-semibold">My Students (15)</div>
    <div class="sb-heading-sl-7895 outfit">See all</div>
  </div>
  <div class="sb-content-7895"></div>
</div>

<div class="student-box-cards-outer-689567">

  <div class="card-68976" *ngFor="let item of [3,4,5]">

    <div class="image-box-outer">
      <div class="image-circle-789675" [style.backgroundImage]="'url(assets/profileimg.png)'"></div>
      <img class="country-flag-i-7685" src="assets/flag.png">
    </div>
    <div class="nbl-title-box">
      <div class="nbl-title-76895 outfit-semibold">Ana Monte</div>
      <div class="nbl-subtitle-76895 outfit-light">6 Yrs</div>
    </div>

    <div class="nbl-action-76895"> Message </div>

  </div>
</div>
