<!-- <div class="body-content ion-padding app-global-list-view">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="list?.length > 0; else noData">
    <ng-container *ngFor="let item of list; let last = last">
      <div class="list-item">
        <ng-container *ngTemplateOutlet="itemTemplate; context: { $implicit: item }"></ng-container>
      </div>
      <div class="divider" *ngIf="!last"></div>
    </ng-container>
  </ng-container>

  <ng-template #noData>
    <div class="centered-message"></div>
  </ng-template>

  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles"> </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</div> -->

<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      refreshingSpinner="circles"
    >
    </ion-refresher-content>
  </ion-refresher>

  <div class="body-content app-global-list-view">
    <ng-container *ngIf="list?.length > 0; else noData">
      <ng-container *ngFor="let item of list; let last = last">
        <div class="list-item">
          <ng-container
            *ngTemplateOutlet="itemTemplate; context: { $implicit: item }"
          ></ng-container>
        </div>
        <!-- <div class="divider" *ngIf="!last"></div> -->
      </ng-container>
    </ng-container>

    <ng-template #noData>
      <div class="centered-message">
        <ion-spinner *ngIf="loading"></ion-spinner>
        <div *ngIf="!loading && list?.length === 0">No Data Found</div>
      </div>
    </ng-template>

    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
      ></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
