<ion-header class="ion-no-border ion-no-shadow ion-header-bg">
  <div class="profile-bc-header-678956">
    <div class="pl-box-785">
      <div class="image-box-89656"
        [style.background-image]="user.image ? 'url(' + user.image + ')' : '../../assets/svg/profile.svg'">
        <img src="../../assets/svg/warning.svg" alt="" *ngIf="showWarning == false" class="image-98563">
      </div>
    </div>
    <div class="noti-795">
      <div class="icon-box">
        <div class="icon-box-outer">
          <div class="icon-box-77">
            <img class="icon-box-77" src="../../assets/svg/event.svg" />
          </div>
          <div class="icon-box-77" (click)="showFavCourse()">
            <div class="red-dot-4432432532" *ngIf="globalCourses.favorites.length > 0"></div>
            <img class="icon-box-77" [src]="'../../assets/icon/heart.svg'" />
          </div>
          <div class="icon-box-77">
            <img class="icon-box-77" src="assets/icon/notification-bell.svg" (click)="gotoNotification()" />
          </div>
        </div>
      </div>
      <div class="flag-box">
        <div class="country-box">
          <span *ngIf="flag" slot="start" class="fi fi-{{flag}}"></span>
          <div class="fs-16 country-name-768956">{{country}}</div>
        </div>
        <div class="name-box">
          <div class="pl-heading roboto-medium fs-21" style="color: black;" *ngIf="showWarning == true">Hi,
            {{displayName}}</div>
          <div class="pl-heading roboto-medium fs-21" style="color: black; font-size: 14px;"
            *ngIf="showWarning == false">Complete your profile</div>
          <img src="../../assets/svg/student-edit.svg" alt="" (click)="updateProfile()">
        </div>
      </div>
    </div>
  </div>
  <div class=" ion-padding" style="background-color: #f5f5f5;">
    <app-profile-search-box></app-profile-search-box>
  </div>
</ion-header>

<ion-content class="ion-content-bg ion-padding" #content [scrollEvents]="true" >
  <div class="body-scroll">

    <div class="dashboard-top-fixed-98563">
      <div class="header-chips" style="margin-top: -16px;">
        <div class="header-chip">
          <div class="ion-chip">Courses</div>
          <div class="ion-chip">Teachers</div>
        </div>
      </div>
    </div>
    <div class="body-content-68448" style="margin-top: 16px;">
      <app-rec-courses style="max-width: 100%;"></app-rec-courses>
    </div>
  </div>

</ion-content>
