<ion-header class="ion-no-border ion-no-shadow ion-header-bg">
  <div class="profile-bc-header-678956">
    <div class="pl-box-785">
      <div class="image-box-89656"
        [style.background-image]="user.image ? 'url(' + user.image + ')' : '../../assets/svg/profile.svg'">
        <img src="../../assets/svg/warning.svg" alt="" *ngIf="showWarning == false" class="image-98563">
      </div>
    </div>
    <div class="">
      <app-profile-search-box></app-profile-search-box>
    </div>
    <div class="noti-795">
      <div class="icon-box">
        <div class="icon-box-outer">
          <!-- <div class="icon-box-77">
            <img class="icon-box-77" src="../../assets/svg/event.svg" />
          </div> -->
          <div class="icon-box-77" (click)="showFavCourse()">
            <div class="red-dot-4432432532" *ngIf="globalCourses.favorites.length > 0"></div>
            <img class="icon-box-77" [src]="'../../assets/icon/heart.svg'" />
          </div>
          <div class="icon-box-77">
            <img class="icon-box-77" src="assets/icon/notification-bell.svg" (click)="gotoNotification()" />
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- <div class=" ion-padding" style="background-color: #f5f5f5;">
  </div> -->
</ion-header>
<div class="dashboard-top-fixed-98563">
  <div class="header-chips">
    <div class="header-chip">
      <div class="ion-chip" (click)="toogleView('course')">Courses</div>
      <div class="ion-chip" (click)="toogleView('teacher')">Teachers</div>
    </div>
  </div>
</div>
<ion-content class="ion-content-bg ion-padding" >

    <ion-router-outlet></ion-router-outlet>


</ion-content>
