<div class="student-box-outer-689567">
  <div class="sb-content-7895" >
    <ion-refresher slot="fixed" (ionRefresh)="refreshPage($event)">
      <ion-refresher-content ></ion-refresher-content>
    </ion-refresher>
    <div style="display: flex;align-items: stretch; flex-direction: column; gap: 16px; position: relative;">
      <app-course-list *ngFor="let item of list" [item]="item" (onChange)="updatesList()"></app-course-list>
      <div style="display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 270px;
      left: 80px;
  " class="ion-padding" *ngIf="list">No requests to display</div>
    </div>
    <!-- <ion-infinite-scroll>
      <ion-infinite-scroll-content  (ionInfinite)="onIonInfinite($event)"></ion-infinite-scroll-content>
    </ion-infinite-scroll>-->
  </div>
</div>
