<ion-header>
  <app-sd-header-top [title]="'Teacher Profile'" [backUrl]="'/tabs'" [showBack]="true"></app-sd-header-top>
</ion-header>

<ion-content class="ion-padding ion-content-medium-background">

  <div class="body-content-68448">
    <app-profile-box></app-profile-box>
    <app-teacher-profile-statistics></app-teacher-profile-statistics>
    <div class="fs-16 outfit">
      Certified tutor with 5 years of experience in teaching Business English exam preparation and English for
      beginners.
    </div>
    <div class="fs-16 outfit">
      <div class="fs-16 outfit-semibold">Description</div>

      Certified tutor with 5 years of experience in teaching Business English exam preparation and English for
      beginners.
    </div>
  </div>



</ion-content>