<ion-header class="ion-no-shadow ion-no-border ion-header-bg">
  <div class="top-dashboard-header-outer ion-padding">
    <div class="image-box-89657" [style.background-image]="'url(' + image + ')'">
    </div>
    <div class="header-oblique-double-675">
      <div class="header-line-678576">
        <div class="header-line-box-678576">
          <img src="../../assets/svg/edit.svg" (click)="openEditProfile()" />
        </div>
      </div>
      <div class="header-info-box-68447">
        <div class="header-info-user-68448">
          <div class="header-info-user-name outfit-semibold ">{{item?.name}}</div>

        </div>
        <div class="header-info-misc-68448 outfit"><img src="../../assets/svg/location.svg" /> <span>{{city}},
            {{country}}</span><span slot="start" class="fi fi-{{getFlag()}}"></span>
        </div>
      </div>
    </div>
  </div>
</ion-header>
<ion-content class="ion-padding ion-content-medium-background">
  <div class="body-content-68448">
    <div class="techer-subject-content">
      <div class="techer-card-outer-78965">
        <div class="teacher-card-head">
          <img src="../../assets/svg/techer-card.svg" alt="">
          Teachers:
        </div>
        <div class="chips-outer">
          <div class="chip-outer-78961" *ngFor="let item of subject">
            <div class="chips">{{item?.name}}</div>
          </div>
        </div>
      </div>
      <div class="techer-card-outer-78965">
        <div class="teacher-card-head">
          <img src="../../assets/svg/speaks.svg" alt="">
          Speaks:
        </div>
        <div class="chips-outer">
          <div class="chip-outer-78961" *ngFor="let item of language">
            <div class="chips">{{item?.name}}</div>
          </div>
        </div>
      </div>
    </div>
    <app-teacher-profile-statistics></app-teacher-profile-statistics>
    <div class="fs-16 outfit">
      <div class="about-heading">About</div>
      <div class="about-para">
        {{data?.title}}
      </div>

    </div>
    <div class="fs-16 outfit discription-text">
      <div class="discription-para" [class.collapsed]="isExpanded">
        {{ data?.description }}
      </div>
      <ion-button class="read-more" fill="clear" *ngIf="!isExpanded" (click)="toggleReadMore()">Read More</ion-button>
      <ion-button class="read-more" fill="clear" *ngIf="isExpanded" (click)="toggleReadMore()">Read Less</ion-button>
    </div>
    <app-my-courses></app-my-courses>
    <app-my-gallery></app-my-gallery>
    <app-rating-review></app-rating-review>
  </div>

</ion-content>