<ion-content [fullscreen]="true" class="ion-padding">
  <div class="content-outer-877584">
    <div class="image-outer-877584">
      <img src="../../assets/svg/logo.svg" />
    </div>

    <div class="first-top-section">
      <ion-note class="roboto-regular fs-16 ion-padding d-flex justify-content-center flex-column align-center">
        <div>
          Please read the
          <ion-text style="color: #0386d0 ; text-decoration:underline">Terms of Service</ion-text>
        </div>
        <div>before login and using the application</div>
      </ion-note>
    </div>

    <div class="selection-sagment-outer-877584 d-flex justify-content-center flex-row align-center gap-16">
      <div class="form-selection-button-outer" (click)="setStep(1)">
        <div class="roboto-regular fs-16 selection-btn" [class.selected]="step === 1">Login</div>
      </div>
      <div class="form-selection-button-outer" (click)="setStep(2)">
        <div class="roboto-regular fs-16 selection-btn" [class.selected]="step === 2">Register</div>
      </div>
    </div>

    <div class="forms-section-toggle-outer">
      <app-login [hidden]="step !== 1"></app-login>
      <app-sign-up [hidden]="step !== 2"></app-sign-up>

    </div>

    <div class="d-flex flex-column gap-8 align-center justify-content-center ion-padding ">
      <ion-note class="roboto-regular fs-14 text-center ">By logging in with an account, you agree to Tutor Bunny’s<ion-text style="color: #000000; text-decoration:underline">Terms of Service</ion-text> and
          <ion-text style="color: #000000; text-decoration:underline">Privacy Policy</ion-text>.
      </ion-note>
      <ion-note class="roboto-regular fs-14"
        style="color: #454545;;">© 2024 Tutor bunny. All Rights Reserved.</ion-note>
    </div>
  </div>
</ion-content>
