<div class="line"></div>
    <div class="cource-details-box-78561">
      <div class="cource-time-and-lessons-78562">
        <div class="cource-time-box-78563"><img class="img1-789575" src="../../../assets/svg/time.svg" /> {{duration}}
          hour each lesson</div>
        <div class="cource-lesson-box-78564"><img class="img1-789575" src="../../assets/svg/create-course.svg" /> Total
          {{lessons}} lessons
        </div>
      </div>
      <div class="cource-time-and-lessons-78562">
        <div class="cource-time-box-78563"><img class="i-7685" src="../../../assets/svg/online.svg" />{{mode_type}}
        </div>
        <div class="cource-lesson-box-78564"> <img class="i-7685" src="assets/icon/smgroup-icon.svg" />{{capacity}}
        </div>
      </div>
      <div class="cource-time-and-lessons-78562">
        <div class="cource-time-box-78563"> <img class="img1-789575" src="../../../assets/svg/cake.svg" />Student age
          {{from_age}}-{{to_age}}</div>
        <div class="cource-lesson-box-78564"> <img src="../../assets/svg/speaks.svg" alt=""
            style="height: 16px;">{{language}}</div>
      </div>
      <div class="cource-time-and-lessons-78562">
        <div class="cource-time-box-78563"><img class="i-7685" src="../../../assets/svg/locations.svg" />
          <div style="width: 136px; text-wrap: wrap;">
            {{state}},
            {{country}}
          </div>
        </div>
        <div class="cource-lesson-box-78564"> <img class="i-7685"
            src="../../../assets/svg/course-type.svg" />Workshop/Event
        </div>
      </div>
    </div>