<div style="display: flex; align-items: center; flex-direction: column;">
  <div class="line-2"></div>

  <div class="statistics-box-outer-78906">

    <div class="statistics-box-item-78906">
      <div class="nbl-687 outfit-semibold">{{year}} y</div>
      <div class="label-687 outfit-light"> Experience</div>
    </div>
    <div class="line"></div>
    <div class="statistics-box-item-78906">
      <div class="nbl-687 outfit-semibold">{{courses}}</div>
      <div class="label-687 outfit-light"> Courses</div>
    </div>
    <div class="line"></div>

    <div class="statistics-box-item-78906">
      <div class="nbl-687 outfit-semibold" style="font-size: clamp(12px, 0.9vw, 24px);">{{currency}} {{hourly_rate}} </div>
      <div class="label-687 outfit-light"> Rate/Hour</div>
    </div>
    <div class="line"></div>

    <div class="statistics-box-item-78906">
      <div class="nbl-687 outfit-semibold">0</div>
      <div class="label-687 outfit-light">Study Notes</div>
    </div>
  </div>
  <div class="line-2"></div>

</div>
