<ion-header class="ion-no-border ion-no-shadow">
  <app-sd-header-top [showBack]="true" [title]="'Course Details'" [backUrl]="backUrl"></app-sd-header-top>
</ion-header>

<ion-content class="ion-content-bg ion-padding" [fullscreen]="true">
  <div class="body-content">

    <div>
      <app-sd-button-gray [image]="'assets/svg/send.svg'" [text]="'Request Free Trial'"></app-sd-button-gray>
    </div>

    <div class="course-heading-78521">
      {{title}}
    </div>
    <div class="courses-block-outer-789565">
      <div class="courses-block-item-789565">
        <div class="block-item-body">
          <div class="profile-item-block">
            <div>
              <div class="profile-item-image-block"
                [style.background-image]="image ? 'url(' + image + ')' : 'assets/learn-piano.jpeg'">
              </div>
            </div>
            <div class="profile-content-78678564">
              <div class="profile-line-789575">
                <img class="img1-789575" src="../../../assets/svg/calander.svg">
                <div class="label-789575 fs-16 outfit"> Created {{created_at}}</div>
              </div>
              <div class="profile-line-789575">
                <img class="img1-789575" width="16px" src="../../../assets/svg/update.svg" />
                <div class="label-789575 fs-16 outfit"> Updated {{updated_at}}</div>
              </div>
              <div class="line"></div>
              <div class="profile-line-789575">
                <img class="img1-789575" src="../../../assets/svg/id.svg" />
                <div class="label-789575 fs-16 outfit">{{serial_number}}</div>
                <img class="img1-789575" src="../../../assets/svg/rev-calander.svg" />
              </div>
              <div class="profile-line-789575">
                <img class="img1-789575" src="../../../assets/svg/p-tag.svg" />
                <div class="label-789577 fs-20 outfit">${{price}}/month</div>
              </div>
            </div>
          </div>
          <div class="profile-below-footer-986985">
            <div class="ble-buttons-789576856">
              <div class="btn-alg-77">
                <img src="../../../assets/svg/student-hat.svg" />
                <div class="label-789575 fs-16 outfit">9 Students</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="line"></div>
    <div class="detail-box-outer-78522">
      <div class="detail-head-78523">
        <div class="detail-heading-78524">Details</div>
        <div class="detail-heading-left--78524">Category: Hobbies</div>
      </div>
      <div class="fs-16 outfit discription-text">
        <div class="discription-para" [class.collapsed]="isExpanded">
          {{description }}
        </div>
        <ion-button class="read-more" fill="clear" *ngIf="!isExpanded" (click)="toggleReadMore()">Read More</ion-button>
        <ion-button class="read-more" fill="clear" *ngIf="isExpanded" (click)="toggleReadMore()">Read Less</ion-button>
      </div>
    </div>
    <div class="line"></div>
    <div class="weekly-schedule-outer-78526">
      <div class="weekly-schedule-heding-78527">Weekly Schedule</div>
      <div class="weekly-schedule-date-78528" *ngFor="let item of schedules">
        <div class="schedule-day-78528">{{item.day}}</div>
        <div class="fs-16">{{startTime}}</div>
        <div class="fs-16">{{endTime}}</div>
      </div>
    </div>
    <div class="line"></div>
    <app-other-courses></app-other-courses>
  </div>
</ion-content>


<ion-footer>
  <div class="footer-main-85632">
    <div class="amount-box-98564">
      <div class="amount-text-98569">${{price}}/month</div>
      <div class="days-text-98575">15 days money back.</div>
    </div>
    <div class="subscribe-button-78523">Subscribe</div>
  </div>
</ion-footer>