.body-content {

  padding: 0 6px;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.course-heading-78521 {
  font-size: 20px;
  font-weight: 500;

}

.student-box-outer-689567 {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .sb-heading-7895 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .sb-heading-title-7895 {
      font-size: 20px;
    }

    .sb-heading-sl-7895 {
      font-size: 12px;
    }
  }
}

.courses-block-outer-789565 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;

  .courses-block-item-789565 {
    display: flex;
    flex-direction: column;
    padding: 16px;
    background: #FFFFFF;
    border: 0.5px solid rgb(103 113 105 / 50%);
    border-radius: 15px;
    gap: 8px;

    .block-item-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-top: 8px;
      padding-bottom: 8px;
      border-bottom: 0.25px solid rgba(103, 113, 105, 0.5);
      width: 100%;

      .block-item-header-title {
        font-size: 16px;
        height: 23px;
        white-space: nowrap;
        width: 358px;
        overflow: hidden;
        text-overflow: ellipsis;

      }
    }

    .profile-item-block {
      display: flex;
      flex-direction: row;
      gap: 16px;
      justify-content: flex-start;
      width: 100%;


      .profile-item-image-block {
        min-width: 100px;
        width: 100%;
        background: antiquewhite;
        padding-bottom: 100%;
        height: 150px;
        background-size: cover;
        background-position: center center;
        border-radius: 16px 16px 0 0;
        position: relative;

        .loved-icon {
          position: absolute;
          top: 6px;
          right: 6px;
          color: red;

        }


      }

      .profile-content-78678564 {

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 8px;
        width: 60%;
        min-width: fit-content;

        .profile-line-789575 {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          gap: 8px;
          flex-wrap: wrap;

          .img1-789575 {
            width: 18px;
            height: 18px;

          }

          .info-misc-68448 {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 6px;
            font-size: 14px;
            color: #000000;
          }
        }

        .line-789575 {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: start;
          gap: 8px;
          font-size: 14px;

          .i-7685 {
            width: 18px;
            // height: 14px;
          }


          .badges-outer-44 {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 8px;

            .gray-badge-44 {
              background: #CFD9CE;
              border-radius: 2px;
              padding: 2px 4px;
            }
          }

        }

      }

    }

    .profile-above-footer-986985 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .us-status-btn {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 6px;

        .us-status-btn-label {
          font-size: 20px;
        }

      }


    }

    .number-counter-outer-89676 {
      display: flex;
      flex-direction: row;
      justify-content: end;
      align-items: end;
      gap: 4px;
      width: 35%;

      .number-counter-inner-896761 {
        display: flex;
        align-items: end;
        justify-content: space-between;
        // width: 100%;
        gap: 3px;
        padding: 2px 5px;


        img {
          height: 16px;
        }

        input:focus,
        input:focus-visible {
          border: none;
          outline: none;
          /* Add this line to remove the outline */
        }

        input:active {
          border: none;
        }

        input {
          background: transparent;
          border: 0.5px solid rgba(0, 0, 0, 0.5);
          color: rgba(102, 102, 104, 0.5);
          flex-grow: 1;
          width: 47px;
          font-size: 10px;
          text-align: center;
          border-radius: 2px;
        }

      }
    }

    .profile-below-footer-986985 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-top: 8px;
      border-top: 0.25px solid rgb(103, 113, 105, 0.5);

      .ble-buttons-789576856 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 8px;

        .btn-alg-77 {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          gap: 8px;
        }
      }
    }
  }
}

.right-980676 {

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  position: relative;



  .buy-now-btn-89675 {
    // height: 26px;
    font-size: 16px;
    background: #E29F1B;
    height: 24px;
    color: #FFFFFF;
    width: 113px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;

  }

  .free-trial-btn-89675 {
    // height: 26px;
    font-size: 16px;
    background: #454545;
    height: 24px;
    width: 113px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    border-radius: 16px;

  }
}

.block-item-body {
  // padding-top: 8px;
  display: flex;
  gap: 8px;
  align-items: stretch;
  flex-direction: column;
}

.group-96589 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 0.5px solid rgb(103, 113, 105, 0.25);
  ;
}

.label-789576 {
  color: rgba(9, 129, 6, 1);
}

.profile-line-789576 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.label-789577 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
  font-size: 20px;
  font-weight: 500;
}

.profile-line-789578 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100px;
  gap: 8px;
  flex-wrap: wrap;
  padding: 8px;

  .img1-789575 {
    width: 18px;
    height: 18px;

  }
}

.detail-box-outer-78522 {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  gap: 8px;

  .detail-head-78523 {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .detail-heading-78524 {
      font-size: 20px;
      font-weight: 600;
    }

    .detail-heading-left-78524 {
      font-size: 14px;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.5);
    }
  }

  .discription-text {
    // height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;

    .discription-para {
      overflow: hidden;
      display: -webkit-box;
      line-height: 21px;

      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;
    }

    .discription-para.collapsed {
      -webkit-line-clamp: unset;
    }
  }

  -webkit-line-clamp: unset;


}

.read-more {
  width: 100%;
  margin-top: 16;
  height: 40px;
  border-radius: 50px;
  color: black;
  background-color: white;
  box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
  border: 1px solid #bfbfbf;
  font-size: 16x;
  font-weight: 600;
}



.weekly-schedule-date-78528 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.25);
  padding: 8px 0px;

  .schedule-day-78528 {
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
    width: 90px;
    color: black;
  }
}

.line {
  width: 100%;
  height: 0.5px;
  opacity: 0.5;
  border: 0.5px solid rgba(48, 48, 48, 0.25);

}

.footer-main-85632 {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #454545;
  border-radius: 16px 16px 0 0;

  .amount-box-98564 {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 8px 16px;
    align-items: center;

    .amount-text-98569 {
      font-size: 25px;
      font-weight: 600;
      color: white;
    }

    .days-text-98575 {
      font-size: 12px;
      font-weight: 500;
      color: white;
      text-align: center;
    }

  }

  .subscribe-button-78523 {
    height: 70px;
    width: 100%;
    font-size: 25px;
    color: black;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px 16px 0 16px;
    background-color: #E29F1B;
  }
}

.footer-buttons-78963 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background-color: #FFFFFF;
  gap: 8px;
  height: 90px;

  .button-chat-78563 {
    width: 40%;
  }

  .button-trial-23654 {
    width: 60%;
  }
}

.detail-head-785234 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .detail-heading-78524 {
    font-size: 20px;
    font-weight: 600;
  }

  .detail-heading-left-78524 {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
  }
}

.instructor-box-content-78561 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 16px;
  align-items: flex-start;

  .instructor-head-78562 {

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    width: 100%;
    position: relative;
    padding: 0;


    .instructor-image-78563 {

      height: 70px;
      width: 70px;
      background-color: #454545;
      border-radius: 50%;
      background-size: cover;
      background-position: center center;
      position: relative;

    }

    .instructor-info-78564 {

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;

      .instructor-name-78565 {

        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 8px;
        font-size: 16px;
        font-weight: 700;

        .instructor-reting-78566 {

          font-size: 14px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 8px;
          font-weight: 400;

        }
      }

      .instructor-country-78567 {

        font-size: 16px;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 8px;

      }
    }

  }

  .instructor-title-78568 {

    font-size: 16px;
    font-weight: 400;

  }

}

.sd-clear-btn-967896 {
  height: 57px;
  width: 100%;
  // border: 0.5px solid #000000;
  border-radius: 10px;
  background: #E29F1B;
  color: #000000;
  box-shadow: 1px 4px 4px 0 rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.disabled-gray-btn {
  opacity: 0.5;
}

.sd-clear-btn-967895 {
  height: 57px;
  width: 100%;
  // border: 0.5px solid #000000;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 1px 4px 4px 0 rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;

}

.days-box {
  width: 100%;
  background: #fff;
  padding: 6px 16px  0  16px;
  margin-top: 16px;
  border: 0.5px solid rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}