<div class="input-title fs-14 roboto-medium">Weekly Schedule (optional) <img (click)="addCourseDate()"
  src="../../assets/svg/add-course.svg" alt=""></div>
<div class="sd-input-box-outer-675315">
  <div class="dates-box-outer-65891" *ngFor="let item of schedules">
    <div class="date-day-65892 fs-14"> {{item?.day}}</div>
    <div class="date-from-65893 fs-14">{{item?.start_date}}</div>
    <div class="date-to-65894 fs-14">{{item?.end_date}}</div>
    <img src="../../../assets/svg/pencil.svg" alt="" (click)="editSchedule(item)">
    <img src="../../../assets/svg/trash.svg" alt="">
  </div>
</div>
