.sd-input-box-outer-675315 {
  height: 165px;
  border-radius: 8px;
  background: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:flex-start;
  padding: 16px;
  border: 0.5px solid rgba(0, 0, 0, 0.75);
  gap: 8px;
  .dates-box-outer-65891{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .date-day-65892{
      width: 60px;
      padding: 5px;
      display: flex;
      align-items: end;
      height: 45px;
      border-bottom: 0.5px solid rgba(0, 0, 0, 0.25);
    }
    .date-from-65893{
      width: 105px;
      padding: 5px;
      height: 45px ;
      display: flex;
      border-bottom: 0.5px solid rgba(0, 0, 0, 0.25);
    }
    .date-to-65894{
      width: 105px;
      padding: 5px;
      height: 45px ;
      display: flex;

      border-bottom: 0.5px solid rgba(0, 0, 0, 0.25);
    }
  }
}

.input-title {
  font-size: 12px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  margin-bottom: 3px;
}
