<ion-header>
  <div class="top-header-78956">
    <div class="header-left-items-78956">
      <div class="header-title  roboto-regular ">Countries</div>
    </div>
    <div class="header-right-items-78956" (click)="back()">
      <img class="image" src="../../assets/svg/cancel.svg" alt="">
    </div>
  </div>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of list" (click)="selection(item)">
      <span slot="start" class="fi fi-{{item['iso2'].toLowerCase()}}"></span>
      <div class="fs-16 roboto-regular">{{ capitalizeFirst(item.name)}}</div>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
