
<ion-header>
  <app-sd-header-top [showBack]="false" [title]="'Countries'"></app-sd-header-top>
  <ion-searchbar class="fs-16 outfit" [debounce]="500" (ionInput)="handleInput($event)"></ion-searchbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of list" (click)="selection(item)">
      <span slot="start" class="fi fi-{{item['iso2'].toLowerCase()}}"></span>
      <div class="fs-16 outfit">{{ capitalizeFirst(item.name)}}</div>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
