<div class="teacher-card-outer-32145">
  <div class="techer-header-98563">
    <div class="image-box-89657" style="background-image:url('../../../assets/profile-photos.png')">
    </div>
    <div class="header-info-box-68447">
      <div class="header-info-user-68448">
        <div class="header-info-user-name outfit-semibold ">Ana Monte</div>
        <span slot="start"></span>
      </div>
      <div class="header-info-misc-68448 outfit">
        <div class="d-flex flex-row gap-8 align-center"><img src="assets/icon/star.svg" /><span
            class="fs-14 roboto-medium" style="color: rgb(0, 0, 0);">4.9 (8K reviews)</span></div>
      </div>
    </div>
  </div>
  <div class="techer-subject-content">
    <div class="techer-card-outer-78965">
      <div class="teacher-card-head">
        <img src="assets/svg/techer-card.svg" alt="">
        <div class="fs-16 roboto-regular">Teaches:</div>
      </div>
      <div class="chips-outer">
        <div class="chip-outer-78961 fs-16 roboto-regular">Piano</div>
        <div class="chip-outer-78961 fs-16 roboto-regular">Violin</div>
        <div class="chip-outer-78961 fs-16 roboto-regular">Guitar</div>
        <div class="chip-outer-78961 fs-16 roboto-regular">Drums</div>
      </div>
    </div>
    <div class="techer-card-outer-78965">
      <div class="teacher-card-head">
        <img src="assets/svg/speaks.svg" alt="">
        <div class="fs-16 roboto-regular">Speaks:</div>
      </div>
      <div class="chips-outer">
        <div class="chip-outer-78961 fs-16 roboto-regular">English</div>
        <div class="chip-outer-78961 fs-16 roboto-regular">Hindi</div>
      </div>
    </div>
  </div>
  <div class="line"></div>
  <div class="techer-footer-content-78523">
    <div class="course-img-78523"><img src="../../../assets/svg/techer-cource.svg" alt=""> Courses (5)</div>
    <div class="review-section-85236">
      <div class="course-img-78523"><img src="../../../assets/svg/review.svg" alt=""> Courses</div>
      <div class="course-img-78523"><img src="../../../assets/svg/chat.svg" alt=""> Chat</div>
    </div>
  </div>
</div>