<div style="display: flex; align-items: center; flex-direction: column;">
  <div class="line-2"></div>

  <div class="statistics-box-outer-78906">

    <div class="statistics-box-item-78906">
      <div class="nbl-687 outfit-semibold fs-20">{{years_of_experience}} y</div>
      <div class="label-687 outfit-light fs-14"> Experience</div>
    </div>
    <div class="line"></div>
    <div class="statistics-box-item-78906">
      <div class="nbl-687 outfit-semibold fs-20">{{currency_symbol}}{{hourly_rate}}</div>
      <div class="label-687 outfit-light fs-14">Hourly rate</div>
    </div>
    <div class="line"></div>

    <div class="statistics-box-item-78906">
      <div class="nbl-687 outfit-semibold fs-20">{{course_count}}</div>
      <div class="label-687 outfit-light fs-14"> Courses</div>
    </div>

  </div>
  <div class="line-2"></div>

</div>
