<ion-header class="ion-no-border ion-no-shadow">
  <app-sd-header-top [showBack]="true" [title]="title" [backUrl]="" [showNotification]="false" [showSearch]="false"></app-sd-header-top>
</ion-header>
<ion-content class="ion-padding">

  <swiper [slidesPerView]="1" [spaceBetween]="0" [pagination]="{ clickable: true }" class="swiper-container-inner-7892" #slides (transitionEnd)="onSlideChanged()">
    <ng-template swiperSlide>
      <div class="cart-box-outer-689567 ">
        <app-cart-list-item *ngFor="let item of list$" [item]="item" (removeCartitem)="removeCartitem(item)"></app-cart-list-item>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <app-payment-card-item></app-payment-card-item>
    </ng-template>
    <ng-template swiperSlide>
      <app-order-done-card-item></app-order-done-card-item>
    </ng-template>
  </swiper>

  

  
</ion-content>
<ion-footer class="checkout-footer checkout-border-top">
  <div class="ion-padding d-flex flex-column">
    <div class="d-flex flex-column gap-8 ion-padding" >

      <div class="d-flex flex-row justify-content-between">
        <div>Order</div>
        <div>$ {{total }}</div>
      </div>
      <div class="d-flex flex-row justify-content-between">
        <div>Tax</div>
        <div>$8.00</div>        
      </div>
      <div class="d-flex flex-row justify-content-between">
        <div>Subtotal</div>
        <div class="roboto-bold fs-24">$ {{ total + 8.00 }}</div>        
      </div>


      <app-sd-button-golden [text]="getSelectedItems()" (click)="openStripe()"></app-sd-button-golden>
    </div>

    <div class="Privacy-policy outfit">By checking out, you agree to Tutor Bunny’s <br> <a>Terms of Service </a></div>
    
  </div>
</ion-footer>
