.review-card-outer-78521 {

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
  padding-bottom: 16px;
  border-bottom: 0.25px solid rgba(103, 113, 105, 0.5);

  .review-card-image-name-78522 {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;

    .review-card-image-78523 {

      height: 85px;
      width: 85px;
      border-radius: 8px;
      background-color: aqua;
      background-size: cover;
      background-position: center center;

    }
    .review-card-name-box-78524 {

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      gap: 8px;

      .review-card-name-78525 {

        font-size: 16px;
        font-weight: 500;
        color: black;

      }
      .review-card-location-78526 {

        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap:6px;
        font-size: 16px;
        font-weight: 400;

      }
      .review-card-rating-78527 {

        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 8px;

        .review-card-stars-78528 {

          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 8px;

        }
        .review-card-number-78529 {

          font-size: 14px;
          font-weight: 400;

        }
      }
    }
  }
  .review-card-content-box-78530{

    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    .review-card-content-78531 {

      font-size: 16px;
      font-weight: 400;
      text-align: left;

    }
  }
}
