<!-- <div class="top-header-78956">
  <div class="image-78558">
    <div class="image-box-78559" (click)="fileInput.click()"
      [ngStyle]="{ 'background-image': coursePhoto ? 'url(' + coursePhoto + ')' : 'none' }">
      <img *ngIf="!coursePhoto" src="../../../assets/svg/course-photo.svg" alt="Selected Image">
    </div>
  </div>
</div> -->


<div class="image-upload-box-st-78955674" (click)="fileInput.click()">
  <div class="icno-text-88666" >
    <div *ngIf="coursePhoto" class="image-box-78559" [style.background-image]="'url(' + coursePhoto + ')'" >
    </div>
    <img *ngIf="!coursePhoto" src="../../../assets/svg/course-photo.svg" alt="Selected Image" class="img-67855" />
    <div class="roboto-regular fs-14">Upload course Photo</div>
  </div>
  <ion-icon name="chevron-forward-outline"></ion-icon>
</div>
<input type="file" formControlName="profile_photo" (change)="onProfileSelected($event)" accept="image/*"
  style="display: none" #fileInput />
<app-sd-error-input-info *ngIf="isRequired && needed" [errorText]="errorText"></app-sd-error-input-info>
