<ion-content class="remove-pd-top-323243243" #content [fullscreen]="true">

  <app-slide-banner [data]="bannerData" (back)="nav.pop()"></app-slide-banner>

  <div class="body-content ion-padding">
    <app-scd-page-info [data]="infoData"></app-scd-page-info>
  </div>

  <div class="body-content ion-padding">


    <app-global-text-read [heading]="aboutData.heading" [text]="aboutData.text">

      <div class="d-flex flex-row align-center gap-16">
        <img src="assets/svg/speaks.svg" alt="" style="height: 16px" />
        <span>{{data?.language?.name}}</span>
      </div>
    </app-global-text-read>

    <app-material-attachments [materialId]="materialId" [isPurchased]="isPurchased"></app-material-attachments>

    <app-teacher-info-card [data]="teacherData"></app-teacher-info-card>

    <app-my-courses [data]="materialData" ></app-my-courses>



    <!-- <div class="line" *ngIf="otherMaterialListTotalCount > 0"></div>
    <app-other-courses *ngIf="otherMaterialListTotalCount > 0" [count]="otherMaterialListTotalCount"
      [list]="otherMaterialList" (openOtherCourses)="openOtherCourses($event)"
      (onChange)="getOtherCourse($event)"></app-other-courses> -->

    <app-my-ratings [data]="ratingData"></app-my-ratings>



  </div>

  <div class="footer-buttons-78963 ion-padding">
    <app-sd-button-clear class="footer-button-1" [text]="'$7/Hr'"></app-sd-button-clear>
    <app-sd-button-golden class="footer-button-2" [image]="'assets/svg/send-message.svg'" [text]="'Message'"
      (click)="goToChat()"></app-sd-button-golden>
  </div>

</ion-content>
