<ion-header class="ion-no-border ion-no-shadow">
  <app-sd-header-top [showBack]="true" [title]="title" [backUrl]="" [showNotification]="false" [showSearch]="false"></app-sd-header-top>
</ion-header>

<ion-content >

  <div class="earnings-container ion-padding">
    <div class="tabs-46843543">
      <div
        *ngFor="let chip of chips; let i = index"
        class="chips outfit-light fs-14"
        [class.active]="selectedChip === i"
        (click)="selectChip(i)"
      >
        {{ chip }}
      </div>
    </div>

    <div class="total-payment">
      <div class="roboto-regular fs-14 pay">Total Payment</div>
      <span class="roboto-bold fs-21 " style="color:rgba(24, 28, 50, 1);" >$51,858</span>
    </div>
    
  </div>

  <ion-list class="checkout-history-list" inset="true">
    <ion-item *ngFor="let checkout of list" detail="true" (click)="openDetails(checkout)">
      <ion-label>
        <h2>{{checkout.order_number}}</h2>
        <p>{{checkout.order_items.length}} items</p>
      </ion-label>
      <span slot="end" class="price">{{checkout.total | currency}}</span>
    </ion-item>

  </ion-list>
  
</ion-content>