<div class="student-box-outer-689567 ">
  <div class="sb-content-7895">
    <ion-refresher slot="fixed"  (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div *ngFor="let item of globalCourses.courses">
      <!-- (onChange)="reloadList()" -->
      <app-course-list [item]="item"></app-course-list>
    </div>
    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</div>
