<div class="student-box-outer-689567">
  <div class="sb-heading-7895">
    <div class="sb-heading-title-7895 outfit-semibold">Recommended Courses</div>
  </div>
  <div class="sb-content-7895"></div>
</div>

<div class="courses-block-outer-789565">

  <div class="courses-block-item-789565" *ngFor="let item of [1,2,3]">

    <div class="block-item-header">
      <div class="block-item-header-title outfit-medium ">
        Piano Class for Adults and Teensaaaaaaaa and its a long text just to make sure the ellipses works
      </div>
      <div class="block-item-header-price outfit-semibold ">
        $140
      </div>
    </div>

    <div class="block-item-body">

      <div class="profile-item-block">
        <div class="profile-item-image-block" [style.backgroundImage]="'url(assets/learn-piano.jpeg)'">
          <ion-icon class="loved-icon" name="heart"></ion-icon>
        </div>
        <div class="profile-content-78678564">
          <div class="profile-line-789575">
            <img class="img1-789575" src="assets/profileimg.png">
            <div class="label-789575 outfit">John D</div>
            <img src="assets/icon/info.svg" />
            <div class="info-misc-68448 outfit"><img src="assets/icon/star.svg" /> <span>4.9</span></div>
          </div>
          <div class="line-789575">
            <img class="i-7685" src="assets/flag.png" />
            <div class="label outfit">India</div>

          </div>

          <div class="line-789575">
            <img class="i-7685" src="assets/icon/smgroup-icon.svg" />
            <div class="label outfit">Grp > 10</div>
          </div>

          <div class="line-789575">
            <img class="i-7685" src="assets/icon/people-stud.svg" />
            <div class="label outfit">9 Students</div>
          </div>

          <div class="line-789575">
            <img class="i-7685" src="assets/icon/speak-pro-d.svg" />
            <div class="badges-outer-44 outfit">
              <div class="gray-badge-44">English</div>
              <div class="gray-badge-44">Hindi</div>
            </div>
          </div>
        </div>
        <div class="number-counter-outer-89676">
          <div class="number-counter-inner-896761">
            <img src="assets/icon/chv-minus-round.svg" />
            <input type="text" class="outfit" placeholder="1 Month" />
            <img src="assets/icon/chv-plus-round.svg" />
          </div>
        </div>

      </div>

      <div class="profile-above-footer-986985">

        <div class="us-status-btn">
          <img src="assets/icon/offline-status-f.svg" />
          <div class="us-status-btn-label outfit">Offline</div>
        </div>

        <div class="right-980676">

          


          <div class="buy-now-btn-89675 outfit-medium">
            Buy Now
          </div>
        </div>
      </div>

      <div class="profile-below-footer-986985">

        <div class="ble-buttons-789576856">

          <div class="btn-alg-77">
            <img src="assets/icon/share-icon-g4.svg" />
            <div class="outfit ">Share</div>
          </div>
        </div>
        <div class="free-trial-btn-89675 outfit-medium">
          Free Trial
        </div>

      </div>

    </div>

  </div>

</div>