.bsearch-btn-7895 {
  width: 45px;
  height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none !important;
  border-radius: 45px;
  background: rgba(0, 0, 0, 0.03);
  position: relative;
}
