.top-dashboard-header-outer {
  background-color: #484848;
  border-radius: 0 0 20px 20px;
  height: 156px;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;

  .profile-img {
    width: 100px;
  }

  .header-oblique-double-675 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .header-line-678576 {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;

      .header-line-box-678576 {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 16px;

      }
    }

    .header-info-box-68447 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding-left: 16px;
      gap: 6px;

      .header-info-user-68448 {
        display: flex;
        flex-direction: row;
        gap: 16px;

        .header-info-user-name {
          font-size: 20px;
          color: #ffffff;
        }

        .header-info-user-flag img {
          height: 14px;
        }
      }

      .header-info-misc-68448 {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 6px;
        font-size: 14px;
        color: #ffffff;
      }

    }

    // width: 100%;
  }
}

.dashboard-footer-outer-678567{
  --background: #FFFFFF;
  background: #FFFFFF;

  .footer-tab-678567{

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .footer-tab-item{

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .footer-tab-img{

      }

      .footer-tab-label{
        font-size: 12px;
        color: #484C52;
      }
    }


  }

}

.body-content-68448 {

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px;

}
