<div class="video-box-outer-78521">
  <div
    style="display: flex; align-items: flex-start; flex-direction: column; width: 50%; gap: 8px;justify-content: center;">
    <span
      style="font-size: 14px; font-weight: 500; align-items: center; justify-content: flex-start; gap: 8px; display: flex; width: 100%;">Upload
      intro video<img src="../../assets/svg/question.svg" alt="" id="click-video"> </span>
    <ion-popover trigger="click-video" triggerAction="click">
      <ng-template style="width: 100%;">
        <div class="ion-padding popover-title"> Please upload a short intro video not more than 30 sec in any language
          of your preferences.
          <br>
          <br>
          Mention the following details.
          <br>
          <br>
          About yourself
          <br>
          <br>

          What do you teach?
          <br>
          <br>

          Your education
          <br>
          <br>

          Your teaching experience
          <br>
          <br>

          Your hobbies, likes, dislikes.
          <br>
          <br>


          *Do not share your contact or social media info else your profile will be rejected.
        </div>
      </ng-template>
    </ion-popover>
    <div class="video-box-78522" (click)="videoInput.click()">
      <ion-icon name="checkmark-circle-outline" class="upload-check-icon"></ion-icon>
      <img src="../../../assets/svg/video.svg" alt="">
    </div>
    <input type="file" (change)="onFileSelected($event)" accept="video/*" style="display: none" #videoInput />
  </div>
  <div
    style="display: flex; align-items: flex-start; flex-direction: column; width: 50%; gap: 8px; justify-content: center; padding: 3px 0 0 0;">
    <span
      style="font-size: 14px; font-weight: 500; align-items: center; justify-content: space-between; display: flex; width: 100%;">Sample
      intro video<img src="../../assets/svg/question.svg" alt="" style="opacity: 0;"> </span>
    <div class="video-box-78523">
      <img src="../../../assets/sample-video.svg" alt="">
    </div>
  </div>
</div>
