<ion-header class="ion-no-shadow ion-no-border ion-header-bg">
  <div class="top-dashboard-header-outer ion-padding">
    <div class="image-box-89657" [style.background-image]="'url(' + image + ')'" (click)="openProfile()">
    </div>
    <!-- <ion-img [src]="image" ></ion-img> -->
    <div class="header-oblique-double-675">
      <div class="header-line-678576">
        <div class="header-line-box-678576">
          <ion-img style="height: 24px;" src="../../assets/arrows.png"></ion-img>
          <ion-img style="height: 24px;" src="../../assets/boxes.png"></ion-img>
          <ion-img style="height: 24px;" src="../../assets/bell.png" (click)="logout()"></ion-img>
        </div>
      </div>
      <div class="header-info-box-68447">
        <div class="header-info-user-68448">
          <div class="header-info-user-name outfit-semibold ">{{item?.name}}</div>
          <span slot="start" class="fi fi-{{getFlag()}}"></span>
        </div>
        <div class="header-info-misc-68448 outfit"><img src="assets/icon/star.svg" /> <span>4.9 (8K reviews)</span>
        </div>
      </div>
    </div>
  </div>
</ion-header>
<ion-content class="ion-content-bg">
  <div class="ion-padding body-content-68448">
    <app-statistic-box></app-statistic-box>
    <app-option-bb-box></app-option-bb-box>
    <app-youtube-box></app-youtube-box>
    <!-- <app-students-box></app-students-box>
    <app-trial-box></app-trial-box> -->
  </div>


  <ion-fab slot="fixed" vertical="bottom" horizontal="end"   >
    <!-- <ion-fab-button> -->
      <img src="../../assets/svg/add.svg" alt="">
      <!-- <ion-icon name="add"></ion-icon> -->
    <!-- </ion-fab-button> -->
  </ion-fab>
</ion-content>