<ion-header class="ion-no-shadow ion-no-border ion-header-bg">
  <div class="top-dashboard-header-outer ion-padding">
    <div *ngIf="user" class="image-box-89657" [style.background-image]="'url(' + user?.image + ')'"
      (click)="openProfile()">
    </div>
    <!-- <ion-img [src]="image" ></ion-img> -->
    <div class="header-oblique-double-675">
      <div class="header-line-678576">
        <div class="header-line-box-678576">
          <!-- <img src="../../assets/svg/arrow.svg" /> -->
          <!-- <img src="assets/boxes.png" /> -->
          <img src="assets/bell.png" (click)="gotoNotification()" />
        </div>
      </div>
      <div class="d-flex flex-row gap-8 align-center" *ngIf="status === 'In Review'"
        style=" position: absolute;bottom: 12px;right: 16px;">
        <div class="ed-circ-67895464"></div>
        <span class="fs-12 roboto-medium ed-rv-67895464">{{status}} <img src="../../assets/svg/qustionmark.svg" alt=""
            id="click-review">
          <ion-popover trigger="click-review" triggerAction="click">
            <ng-template style="width: 100%;">
              <div class="ion-padding popover-title">Your profile is under Review by Tutor bunny team and will be
                notified once approved.
                <br>
                <br>
                Please ensure all your information is accurate to avoid profile rejection/block.
              </div>
            </ng-template>
          </ion-popover>
        </span>
      </div>
      <div class="d-flex flex-row gap-8 align-center" *ngIf="status === 'rejected'"
        style=" position: absolute;bottom: 12px;right: 16px;">
        <div class="ed-circ-67895465"></div> <span class="fs-12 roboto-medium ed-rv-67895465">{{status}}</span>
      </div>
      <div class="header-info-box-68447">

        <div class="header-info-user-68448">
          <div class="header-info-user-name outfit-semibold ">{{displayName}}</div>
          <span *ngIf="flag" slot="start" class="fi fi-{{flag}}"></span>
        </div>
        <div class="header-info-misc-68448 outfit">
          <div class="d-flex flex-row gap-8 align-center"><img src="assets/icon/star.svg" /><span
              class="fs-14 roboto-medium" style="color: white;">4.9 (8K reviews)</span></div>

        </div>
      </div>
    </div>
  </div>
</ion-header>
<ion-content class="ion-content-bg">
  <div class="ion-padding body-content-68448">
    <app-statistic-box></app-statistic-box>
    <app-option-bb-box></app-option-bb-box>
    <app-trial-box *ngIf="globalTrials?.pendingTrials.length > 0"></app-trial-box>
    <app-youtube-box></app-youtube-box>
    <!-- <app-students-box></app-students-box>-->
    <!-- <ion-fab class="bottom-bt-fab-yellow-67856745" (click)="createCourse()">
      <img src="../../assets/svg/add.svg" alt="" style="height: 50px;">
    </ion-fab> -->
  </div>
</ion-content>
