<div class="menu-list-box-outer-38521">
  <div class="menu-list-box-list-par-38522">
    <div class="menu-list-box-list-child-38523" (click)="gotoProfile()">
      <div class="menu-list-box-list-child-name-box-38525">
        <div class="menu-list-box-list-child-icon-38524">
          <img src="../../../assets/menu/profile.svg" alt="">
        </div>
        <div class="menu-list-box-list-child-name-38525">Profile</div>
      </div>
      <div class="menu-list-box-list-child-arrow-38526">
        <img src="../../../assets/menu/arrow.svg" alt="">
      </div>
    </div>
    <div class="menu-list-box-list-child-38523">
      <div class="menu-list-box-list-child-name-box-38525">
        <div class="menu-list-box-list-child-icon-38524">
          <img src="../../../assets/menu/book.svg" alt="">
        </div>
        <div class="menu-list-box-list-child-name-38525">Knowledge base</div>
      </div>
      <div class="menu-list-box-list-child-arrow-38526">
        <img src="../../../assets/menu/arrow.svg" alt="">
      </div>
    </div>
    <div class="menu-list-box-list-child-38523" *ngIf="role === 2">
      <div class="menu-list-box-list-child-name-box-38525">
        <div class="menu-list-box-list-child-icon-38524">
          <img src="../../../assets/menu/techer.svg" alt="">
        </div>
        <div class="menu-list-box-list-child-name-38525">Become a Teacher</div>
      </div>
      <div class="menu-list-box-list-child-arrow-38526">
        <img src="../../../assets/menu/arrow.svg" alt="">
      </div>
    </div>
  </div>
  <div class="menu-list-box-list-par-38522">
    <div class="menu-list-box-list-child-38523">
      <div class="menu-list-box-list-child-name-box-38525">
        <div class="menu-list-box-list-child-icon-38524">
          <img src="../../../assets/menu/favebook.svg" alt="">
        </div>
        <div class="menu-list-box-list-child-name-38525">Follow us Facebook</div>
      </div>
      <div class="menu-list-box-list-child-arrow-38526">
        <img src="../../../assets/menu/arrow.svg" alt="">
      </div>
    </div>
    <div class="menu-list-box-list-child-38523" *ngIf="role === 3" (click)="logout()">
      <div class="menu-list-box-list-child-name-box-38525">
        <div class="menu-list-box-list-child-icon-38524">
          <img src="../../../assets/menu/switch.svg" alt="">
        </div>
        <div class="menu-list-box-list-child-name-38525">Switch to Student mode</div>
      </div>
      <div class="menu-list-box-list-child-arrow-38526">
        <img src="../../../assets/menu/arrow.svg" alt="">
      </div>
    </div>
    <div class="menu-list-box-list-child-38523" *ngIf="role === 3">
      <div class="menu-list-box-list-child-name-box-38525">
        <div class="menu-list-box-list-child-icon-38524">
          <img src="../../../assets/menu/profile.svg" alt="">
        </div>
        <div class="menu-list-box-list-child-name-38525">Update Payout information</div>
      </div>
      <div class="menu-list-box-list-child-arrow-38526">
        <img src="../../../assets/menu/arrow.svg" alt="">
      </div>
    </div>
  </div>
  <div class="menu-list-box-list-par-38522">
    <div class="menu-list-box-list-child-38523">
      <div class="menu-list-box-list-child-name-box-38525">
        <div class="menu-list-box-list-child-icon-38524">
          <img src="../../../assets/menu/headphone.svg" alt="">
        </div>
        <div class="menu-list-box-list-child-name-38525">Support</div>
      </div>
      <div class="menu-list-box-list-child-arrow-38526">
        <img src="../../../assets/menu/arrow.svg" alt="">
      </div>
    </div>
    <div class="menu-list-box-list-child-38523">
      <div class="menu-list-box-list-child-name-box-38525">
        <div class="menu-list-box-list-child-icon-38524">
          <img src="../../../assets/menu/list.svg" alt="">
        </div>
        <div class="menu-list-box-list-child-name-38525">Terms of Conditions</div>
      </div>
      <div class="menu-list-box-list-child-arrow-38526">
        <img src="../../../assets/menu/arrow.svg" alt="">
      </div>
    </div>
    <div class="menu-list-box-list-child-38523">
      <div class="menu-list-box-list-child-name-box-38525">
        <div class="menu-list-box-list-child-icon-38524">
          <img src="../../../assets/menu/varify.svg" alt="">
        </div>
        <div class="menu-list-box-list-child-name-38525">Privacy policy</div>
      </div>
      <div class="menu-list-box-list-child-arrow-38526">
        <img src="../../../assets/menu/arrow.svg" alt="">
      </div>
    </div>
    <div class="menu-list-box-list-child-38523">
      <div class="menu-list-box-list-child-name-box-38525">
        <div class="menu-list-box-list-child-icon-38524">
          <img src="../../../assets/menu/star.svg" alt="">
        </div>
        <div class="menu-list-box-list-child-name-38525">Rate Us</div>
      </div>
      <div class="menu-list-box-list-child-arrow-38526">
        <img src="../../../assets/menu/arrow.svg" alt="">
      </div>
    </div>
  </div>
  <div class="menu-list-box-list-par-38522" (click)="logout()">
    <div class="menu-list-box-list-child-38523">
      <div class="menu-list-box-list-child-name-box-38525">
        <div class="menu-list-box-list-child-icon-38524">
          <img src="../../../assets/menu/logout.svg" alt="">
        </div>
        <div class="menu-list-box-list-child-name-38525">Logout</div>
      </div>
    </div>
  </div>
  <div class="menu-list-box-list-par-38522">
    <div class="menu-list-box-list-child-38523">
      <div class="menu-list-box-list-child-name-box-38525">
        <div class="menu-list-box-list-child-icon-38524">
          <img src="../../../assets/menu/delete.svg" alt="">
        </div>
        <div class="menu-list-box-list-child-name-38525">Delete</div>
      </div>
    </div>
  </div>
</div>
