<ion-content class="remove-pd-top-323243243" #content [fullscreen]="true">

  <app-slide-banner [data]="bannerData" (back)="nav.pop()" (tapAction)="tapAction($event)"></app-slide-banner>

  <div class="body-content ion-padding">
    <app-scd-page-info [data]="infoData"></app-scd-page-info>
    <app-scd-page-course-statistics [data]="columnData"></app-scd-page-course-statistics>
    <app-global-text-read [heading]="aboutData.heading" [text]="aboutData.text">
      <div class="detail-heading-left--78524 to-end-dates-included" *ngIf="startDate">
        <img src="assets/svg/calander2.svg" alt="" style="height: 16px" />{{startDate}} {{ endDate ? 'to' : '' }}
        {{endDate}}
      </div>
    </app-global-text-read>
    <app-teacher-info-card [data]="teacherData"></app-teacher-info-card>
    <app-scd-page-course-schedule [data]="scheduleData" *ngIf="scheduleData.schedules.length !== 0"></app-scd-page-course-schedule>
    <app-my-courses [data]="coursesData" *ngIf="coursesData.list.length !== 0"></app-my-courses>
    <app-my-ratings [data]="ratingData" *ngIf="ratingData.list.length !== 0"></app-my-ratings>



    <!-- <div class="line"></div>
    <div class="cource-details-box-78561">
      <div class="cource-time-and-lessons-78562">
        <div class="cource-time-box-78563"><img class="img1-789575" src="../../../assets/svg/time.svg" /> {{duration}}
          hour each lesson</div>
        <div class="cource-lesson-box-78564"><img class="img1-789575" src="../../assets/svg/create-course.svg" /> Total
          {{lessons}} lessons
        </div>
      </div>
      <div class="cource-time-and-lessons-78562">
        <div class="cource-time-box-78563"><img class="i-7685" src="../../../assets/svg/online.svg" />{{mode_type}}
        </div>
        <div class="cource-lesson-box-78564"> <img class="i-7685" src="assets/icon/smgroup-icon.svg" />{{capacity}}
        </div>
      </div>
      <div class="cource-time-and-lessons-78562">
        <div class="cource-time-box-78563"> <img class="img1-789575" src="../../../assets/svg/cake.svg" />Student age
          {{from_age}}-{{to_age}}</div>
        <div class="cource-lesson-box-78564"> <img src="../../assets/svg/speaks.svg" alt=""
            style="height: 16px;">{{language}}</div>
      </div>
      <div class="cource-time-and-lessons-78562">
        <div class="cource-time-box-78563"><img class="i-7685" src="../../../assets/svg/locations.svg" />
          <div style="width: 136px; text-wrap: wrap;">
            {{state}},
            {{country}}
          </div>
        </div>
        <div class="cource-lesson-box-78564"> <img class="i-7685"
            src="../../../assets/svg/course-type.svg" />Workshop/Event
        </div>
      </div>
    </div> -->
    <!--  -->

    <!-- <div class="line"></div> -->
    <!-- <app-global-text-read [heading]="aboutData.heading" [text]="aboutData.text"></app-global-text-read> -->
    <!-- ADD CALENDER -->

    <!-- <div class="detail-box-outer-78522">
      <div class="detail-head-78523">
        <div class="detail-heading-78524">Details</div>
        <div class="detail-heading-left--78524" *ngIf="startDate && endDate"
          style="display: flex; align-items: center; justify-content: center; gap: 8px; font-size: 16px; color: #7A7A7A;">
          <img src="../../assets/svg/calander.svg" alt="" style="height: 16px;">{{startDate}} to {{endDate}}
        </div>
      </div>
      <div class="fs-16 outfit discription-text">
        <div class="discription-para" [class.collapsed]="isExpanded" [innerHTML]="description">
        </div>
        <div class="qulification-box-edu-readmore-98525" *ngIf="!isExpanded">
          <div class="qulification-box-edu-button-98526" (click)="toggleReadMore()">Read More</div>
        </div>
        <div class="education-box-edu-readmore-98525" *ngIf="isExpanded">
          <div class="education-box-edu-button-98526" (click)="toggleReadMore()">Read less</div>
        </div>
      </div>
    </div> -->


    <!--  -->

    <!-- <div class="line"></div>
    <div class="detail-box-outer-78522">
      <div class="detail-head-785234">
        <div class="detail-heading-78524 outfit-medium">Instructor</div>
        <div class="instructor-box-content-78561">
          <div class="instructor-head-78562">
            <div class="instructor-image-78563" (click)="goToTeacher()"
              [style.background-image]="techerImg ? 'url(' + techerImg + ')' : 'assets/learn-piano.jpeg'"></div>
            <div class="instructor-info-78564" (click)="goToTeacher()">
              <div class="instructor-name-78565"> {{displayName}}
              </div>
              <div class="instructor-country-78567">
                <span *ngIf="flag" slot="start" class="fi fi-{{flag}}"></span> {{country}}
              </div>
            </div>
            <img (click)="goToTeacher()" src="../../assets/svg/arrow-right.svg"
              style="position: absolute; right: 0; top: 9px;" alt="">
          </div>
          <div class="instructor-title-78568">{{techerTitle}}</div>
        </div>
      </div>
    </div> -->
    <!--  -->

    <!--  -->
   <!--  -->
    <!-- <div class="line" *ngIf="schedules.length !== 0"></div>
    <div class="detail-box-outer-78522" *ngIf="schedules.length !== 0">
      <div class="detail-head-785234">
        <div class="detail-heading-78524 outfit-medium">
          Weekly Schedule
        </div>
        <div class="days-box">
          <app-course-schedules *ngFor="let item of schedules; let i = index" [item]="item"
            [last]="i === (schedules.length - 1)"></app-course-schedules>
        </div>
      </div>
    </div> -->
    <!--  -->

    <!-- <app-student-other-courses (onChange)="getOtherCourse($event)" [teacher]="teacher"></app-student-other-courses> -->

  </div>
  <!-- <app-scd-page-footer></app-scd-page-footer> -->



</ion-content>
<ion-footer>
  <div class="footer-buttons-78963 ion-padding">
    <!-- [src]="getButtonConfig(item)?.icon" -->
    <!-- <app-sd-button-clear class="footer-button-1" [image]="'assets/svg/chat.svg'" [text]="'Chat'" (click)="goToChat(teacherData)" ></app-sd-button-clear> -->


    <app-trial-req-button class="footer-button-2" [courseId]="courseId" [buttonType]="'large'" ></app-trial-req-button>
    <!--  -->

  </div>
</ion-footer>




<!-- <ion-footer [class.tabs-opacity-0]="spinner" [class.tabs-opacity-1]="!spinner">
  <div class="footer-buttons-78963">
    <div class="button-chat-78563" *ngIf="!data?.trial && !btn_loading">
      <div class="sd-clear-btn-967895 ion-activatable ripple-parent rectangle" (click)="goToChat()">
        <ion-ripple-effect></ion-ripple-effect>
        <img src="assets/svg/chat.svg" />
        <span class="roboto-regular fs-16 " style="color: #484848; ">Chat</span>
      </div>
    </div>
    <div class="button-chat-7856" *ngIf="data?.trial && data.trial.status === 'Accepted' && !btn_loading">
      <div class="sd-clear-btn-967895 ion-activatable ripple-parent rectangle" (click)="goToChat()">
        <ion-ripple-effect></ion-ripple-effect>
        <img src="assets/svg/chat.svg" />
        <span class="roboto-regular fs-16 " style="color: #484848; ">Chat</span>
      </div>
    </div>
    <div class="button-chat-7856" *ngIf="data?.trial && data.trial.status === 'Complete' && !btn_loading">
      <div class="sd-clear-btn-967895 ion-activatable ripple-parent rectangle" (click)="goToChat()">
        <ion-ripple-effect></ion-ripple-effect>
        <img src="assets/svg/chat.svg" />
        <span class="roboto-regular fs-16 " style="color: #484848;">Chat</span>
      </div>
    </div>
    <div class="button-trial-23654" *ngIf="!data?.trial && type !== 3 && !btn_loading">
      <div class="sd-clear-btn-967896 ion-activatable ripple-parent rectangle" (click)="requestTrail()">
        <ion-ripple-effect></ion-ripple-effect>
        <img src="assets/svg/send.svg" />
        <span class="roboto-regular fs-16 " > Request Free Trial </span>
      </div>
      <ion-spinner name="dots" *ngIf="loading"></ion-spinner>
    </div>
    <div class="button-trial-23654" *ngIf="!data?.trial && type === 3 && !btn_loading">
      <div class="sd-clear-btn-967896 ion-activatable ripple-parent rectangle" (click)="requestTrail()">
        <ion-ripple-effect></ion-ripple-effect>
        <img src="assets/svg/send.svg" />
        <span class="roboto-regular fs-16 " >Join </span>
      </div> -->

      <!-- <ion-spinner name="dots" *ngIf="loading"></ion-spinner> -->
    <!-- </div>
    <div style="width: 100%;" *ngIf="data?.trial && data.trial.status === 'Pending' && !btn_loading">
      <app-sd-button-clear [image]="'assets/svg/trail.svg'" (click)="presentAlert()"
        [text]="'Cancel Trial Request'"></app-sd-button-clear>
    </div>
    <div style="width: 100%;" *ngIf="btn_loading">
      <ion-skeleton-text animated style="width: 100%; height: 57px; border-radius: 8px;"></ion-skeleton-text>
    </div>
  </div>
</ion-footer> -->
