<ion-header class="ion-no-border ion-no-shadow">
  <div class="top-header-78956">
    <div class="header-left-items-78956">
      <app-sd-bback-btn (click)="back()"></app-sd-bback-btn>
      <div class="header-title ">{{pageTitle}}</div>
    </div>
    <div class="header-right-items-78956">
    </div>
  </div>
</ion-header>
<ion-content class="ion-content-bg ion-padding" [fullscreen]="true">
  <div class="body-content">
    <div class="search-box-outer-89655" *ngIf="isSearchBarShow">
      <div class="search-box-input-outer">
        <img src="assets/icon/input-search-gray.svg" />
        <input type="text" placeholder="Search Course" [(ngModel)]="search" (keyup.enter)="doSearch($event)" />
      </div>
    </div>
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <app-course-card *ngFor="let item of list" [item]="item" (courseDeleted)="onCourseDeleted($event)"
      (activeTab)="courseActive()" (inActiveTab)="courseInctive()" (detailsAction)="openDetails($event)"
      (courseEdit)="courseEdit()">
    </app-course-card>
    <div style="height: 700px; display: flex; align-items: center; justify-content: center" class="ion-padding"
      *ngIf="list.length == 0">No course to display</div>
    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
