.content-outer-877584 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  // align-items: center;
  height: 100%;
  // gap: 16px;
  // margin-top: 65px;

  .joinus-outer-877584 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    gap: 16px;
  }

  .image-outer-877584 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    img {
      width: 50%;
    }
  }

  .heading-outer-877584 {
    text-align: center;
    display: flex;
    // margin-top: 40px;
    flex-direction: column;
    gap: 8px;
    .subheading {
      color: #666666;
      margin-top: 18px;
    }
  }
}

.circle-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.image-container {
  width: 100%; /* This makes the box take the full width of its container */
  padding-bottom: 100%; /* This sets the height of the box to be equal to its width, making it a square */
  background-color: #3498db; /* Example background color */
  position: relative;
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
  // margin: 10px; /* Adjust spacing between images */
  // width: 100px; /* Set a fixed width for each image container */
  // height: 100px; /* Set a fixed height for each image container */
  // overflow: hidden; /* Ensure circular clipping */
  // border-radius: 50%; /* Make the container circular */
}

.circle-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the circular container */
  border-radius: 50%; /* Make the image circular */
}

/* Media query for responsive design */
@media (max-width: 768px) {
  .image-container {
    // width: 75px; /* Adjust container width for smaller screens */
    // height: 75px; /* Adjust container height for smaller screens */
  }
}

.signin-option {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666666;
  gap: 10px;
}

.image-over-grid-785674 {
  width: 100%;
}
