.vedio-box-outer {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

swiper-slide {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-evenly;
}

.vedio-box-inner {
  border-radius: 6px;
  // width: 95%;
  // height: 150px;
  // background-color: #393939;


  .video-89654 {
    height: 130px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    object-fit: contain;
    background-repeat: no-repeat;
    background-color: aliceblue;
    background-size: contain;
    background-position: center center;
  }


  iframe {
    border-radius: 6px;
  }
}

.video-para {
  color: rgb(0, 0, 0);
  // margin-left: 5px;
  margin-top: 8px;
  font-weight: 400;
  text-wrap: wrap;
  // overflow: hidden;
  // display: -webkit-box;
  line-height: 21px;
  // -webkit-line-clamp: 1;
  // -webkit-box-orient: vertical;
  font-size: 16px;
}

.you-img {
  // height: 24px;
  width: 35px;
}
.price-tag{
  font-size: 16px;
  margin-top: 8px;
  font-weight: 600;
  color: rgba(0, 0, 0, 1);
}
.line {
  width: 95%;
  height: 0.15px;
  background-color: #677169;
}

.vedio-content-89658 {

  // display: flex;
  // align-items: center;
  // justify-content: flex-start;
  // flex-direction: column;
  // gap: 16px;
}

.card-container {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  gap: 8px;
  // padding: 16px;
}

.card-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

.card-image {
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  background-size: cover;
  background-position: center;
  border-bottom: 1px solid #ccc;
}

.card-title {
  margin-top: 16px;
  font-size: 18px;
  font-weight: bold;
}

.card-price {
  margin-top: 8px;
  font-size: 16px;
  color: #666;
}

//
.image-preview-container {
  text-align: center;
}
.video-89654 {
  width: 80px; /* Fixed width */
  height: 100px; /* Fixed height */
  background-size: cover; /* Ensures the image fills the div completely */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents tiling */
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}
