.top-header-78956 {
  background: #ffffff;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;

  .header-left-items-78956 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;

    .header-title {
      color: #000000;
      font-size: 18px;
      font-weight: 500;
    }
  }

  .header-right-items-78956 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    // gap: 8px;
  }
}
