<div class="top-header-78956">
  <div class="header-left-items-78956">
    <app-sd-bback-btn *ngIf="showBack" (click)="back()"></app-sd-bback-btn>
    <div class="header-title ">{{title}}</div>
  </div>
  <div class="header-right-items-78956">
    <app-sd-bsearch-btn *ngIf="showSearch"></app-sd-bsearch-btn>
    <app-sd-bonti-btn *ngIf="showNotification" (click)="goToNotificatioon()"></app-sd-bonti-btn>
    <app-sd-edit-button *ngIf="showEdit" (click)="editCourse()"></app-sd-edit-button>
    <app-sd-fav-button *ngIf="showFav || isfav == false" (click)="addtoFav()"></app-sd-fav-button>
    <app-sd-share-button *ngIf="showShare"></app-sd-share-button>
  </div>
</div>