<div class="top-header-78956">
  <div class="header-left-items-78956">
    <app-sd-bback-btn (click)="back($event)"></app-sd-bback-btn>
    <!-- <ion-button [text]="''" (click)="back($event)"></ion-button>     -->
    <!-- <ion-back-button [text]="''" *ngIf="!parentHandleBack" ></ion-back-button>     -->
    <div class="header-title ">{{title}}</div>
  </div>
  <div class="header-right-items-78956">
    <app-sd-bsearch-btn *ngIf="showSearch" (click)="showSearchBar()"></app-sd-bsearch-btn>
    <app-sd-bonti-btn *ngIf="showNotification" (click)="goToNotificatioon()"></app-sd-bonti-btn>
    <app-sd-edit-button *ngIf="showEdit" (click)="editCourse()"></app-sd-edit-button>
    <app-sd-fav-button *ngIf="showFav" [flag]="showFavValue" (addToFav)="addtoFav()"
      (removetoFav)="removeToFav()"></app-sd-fav-button>
    <app-sd-fav-button *ngIf="goToFav" [flag]="showFavValue" (click)="showFavCourse()"></app-sd-fav-button>
    <app-sd-share-button *ngIf="showShare"></app-sd-share-button>
  </div>
</div>