<div class="tecahers-box-outer-38521" >
  <div class="tecahers-box-img-name-box-38522" (click)="gototecher(item.email)">
    <div class="tecahers-box-image-38523"
      [style.background-image]="item.image ? 'url(' + item.image + ')' : 'assets/learn-piano.jpeg'"></div>
    <div class="tecahers-box-name-box-38524">
      <div class="tecahers-box-name-38525">
        {{displayName}}
        <div class="tecahers-box-rate-38526"> {{item.teacher.country.currency_symbol}}{{item.teacher.hourly_rate}}</div>
      </div>
      <div class="tecahers-box-rating-box-38527">
        <div style="display: flex; align-items: center; justify-content: flex-start; gap: 2px;">
          <img src="../../../assets/icon/star.svg" alt="">
          <img src="../../../assets/icon/star.svg" alt="">
          <img src="../../../assets/icon/star.svg" alt="">
          <img src="../../../assets/icon/star.svg" alt="">
          <img src="../../../assets/icon/star.svg" alt="">
          <div class="tecahers-box-rating-38528">
          </div>
          {{item.teacher.avg_rating}}
          <span class="tecahers-box-rating-number-38529" *ngIf="item.teacher.total_rating">({{item.teacher.total_rating}})</span>
        </div>
      </div>
      <div class="tecahers-box-country-box-38530"><span slot="start" class="fi fi-{{getFlag()}}"></span>
        {{item.teacher.state.name}}, {{item.teacher.country.name}}</div>
    </div>
    <div class="tecahers-box-icon-38531"></div>
  </div>
  <div class="tecahers-box-teches-box-38532" (click)="gototecher(item.email)">
    <div class="tecahers-box-teaches-heading-38533">Teaches:</div>
    <div class="tecahers-box-teaches-chips-38534">
      <div class="tecahers-box-chip-38535" *ngFor="let item of item.teacher.subjects">{{item.name}}</div>
    </div>
  </div>
  <div class="tecahers-box-speakes-box-38536" (click)="gototecher(item.email)">
    <div class="tecahers-box-speakes-heading-38537">Speaks:</div>
    <div class="tecahers-box-speakes-chips-38538">
      <div class="tecahers-box-chip-38539" *ngFor="let item of item.teacher.languages">{{item.name}}</div>
    </div>
  </div>
  <div class="title-para-7825">
    {{item.teacher.title}}
  </div>
  <div class="tecahers-box-footer-box-38540">
    <div class="tecahers-box-footer-course-38541" (click)="seeAll(item)"><img src="../../../../assets/svg/courses.svg" alt="" >Courses
      ({{item.course_count}})</div>
    <div class="tecahers-box-footer-chat-38542" (click)="goToChat(item)"> <img src="../../../../assets/svg/chat-emty.svg" alt="" >Message</div>
  </div>
</div>
