<!-- <ion-content> -->

  <div class="body-content-68448">
    <div class="sb-content-7895 ion-padding">
      <div *ngFor="let item of list">
        <app-generic-course-card [item]="item"></app-generic-course-card>
      </div>
    </div>
    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>

<!-- </ion-content> -->

<!-- <div class="ion-padding centered-text" *ngIf="list?.length === 0">
  <div class="label fs-16 outfit">No Favorite Courses Found</div>
</div> -->
