
.body-content-68448 {

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px;

}
.student-box-outer-689567 {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .sb-heading-7895 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .sb-heading-title-7895 {
      font-size: 20px;
    }

    .sb-heading-sl-7895 {
      font-size: 12px;
    }
  }
}

.centered-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}



