<div *ngIf="loading" class="loading-syn ">
  <ion-spinner></ion-spinner>
</div>

<ion-header class="ion-no-border ion-no-shadow" >
  <app-sd-header-top [title]="'Favorite  Courses'" [showBack]="true" [backUrl]=""></app-sd-header-top>
</ion-header>

<ion-content [fullscreen]="true" class="ion-content-bg ion-padding" [class.tabs-opacity-0]="loading" [class.tabs-opacity-1]="!loading">
  <div class="body-content-68448" *ngIf="list.length !== 0">
    <div class="sb-content-7895">
      <!-- *ngFor="let item of list"  [item]="item" -->
      <div *ngFor="let item of list">
        <app-generic-course-card [item]="item"></app-generic-course-card>
      </div>
    </div>
    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <!-- </div> -->
  </div>
  <div class="ion-padding centered-text" *ngIf="list.length === 0">
    <div class="label fs-16 outfit">No Favorite Courses Found</div>
  </div>
</ion-content>
