<ion-header>
  <div class="top-header-78956">
    <div class="header-left-items-78956">
      <img src="../../../assets/svg/icon.svg" alt="">
      <div class="header-title"> Welcome to Tutor bunny</div>
    </div>
  </div>
</ion-header>

<ion-content class="ion-padding">
  <div style="display: flex; align-items: center; justify-content: center;">
    <img src="../../../assets/svg/welcome-teacher.svg" alt="">
  </div>
  <div style="margin-top: 16px; font-size: 16px; font-weight: 400;">
    Hi {{user.name}}
    <br>
    <br>
    Thanks for submitting the application for your profile.
    <br>
    <br>
    Your profile is under Review and will be notified via email (check spam folder too) once approved.
    <br>
    <br>
    Please ensure all your information is accurate to avoid profile rejection.
    <br>
    <br>
    You are allowed to create Courses and study materials while your profile is still in Review.
    <br>
    <br>
    Your profile will be live once approved by admin.
    <br>
    <br>
    Contact support (admintutorbunny.app) for further questions.
  </div>
</ion-content>
<ion-footer  class="ion-padding">
  <app-sd-button-gray [text]="'Continue to Home page'" (click)="continue()"></app-sd-button-gray>
</ion-footer>
