<div class="big-action-button-8574" [class.pending-colors-btn]="status === 'Pending'" [class.less-screen-width-style]="hostScreensize <= 400" (click)="handleButtonClick()" >
  <img *ngIf="!loading" [src]="getButtonConfig()?.icon" alt="" />
  <ion-spinner *ngIf="loading"></ion-spinner>
  <span *ngIf="!loading">{{ getButtonConfig()?.label }}</span>
</div>

<app-sd-button-golden class="footer-button-2" [isShowLoader]="trialRequestLoading" [disabled]="trialRequestLoading" [image]="'assets/svg/send.svg'" [text]="getButtonConfig(course$)?.label" (click)="handleButtonClick(course$)" *ngIf="getButtonConfig(course$)"></app-sd-button-golden>