<!-- <div class="trial-box-item-outer-689567">
  <div class="trial-box-item-689567">
    <div class="profile-line-content">
      <div class="image-box-outer">
        <div class="image-circle-789675"
          [style.background-image]="item?.student.image ? 'url(' + item?.student.image + ')' : 'assets/profileimg.png'">
        </div>
        <div class="pnd-678956">
          <img src="../../../assets/svg/panding.svg" />
          <div class="pnd-inner-7895">{{item.status}}</div>
        </div>
      </div>
      <div class="content-box-outer">
        <div class="content-box-outer-heading-top">
          <div class="title-heading-789 outfit-semibold">
            {{displayName| names}}
          </div>
          <div class="pnd-678956" *ngIf="item.status != 'Rejected'">
            <img src="../../../assets/svg/option.svg" [id]="'click-trigger-' + item.id" />
          </div>
          <ion-popover [trigger]="'click-trigger-' + item.id" triggerAction="click" [dismissOnSelect]="true">
            <ng-template>
              <ion-list *ngIf="item.status == 'Pending'">
                <ion-item [button]="true" [detail]="false" class="profile-line-789578"
                  (click)="presentAlert('Accepted')">
                  <img class="img1-789575" src="assets/icon/check-circle.svg" />
                  <div class="nbl-687 outfit-semibold" style="margin-left: 16px;">Accept</div>
                </ion-item>
              </ion-list>
              <ion-list *ngIf="item.status == 'Pending'">
                <ion-item [button]="true" [detail]="false" class="profile-line-789578"
                  (click)="presentAlert('Rejected')">
                  <img class="img1-789575" src="assets/icon/reject-circle.svg" />
                  <div class="nbl-687 outfit-semibold" style="margin-left: 16px;">Reject</div>
                </ion-item>
              </ion-list>
              <ion-list *ngIf="item.status == 'Pending'">
                <ion-item [button]="true" [detail]="false" class="profile-line-789578"
                  (click)="presentAlert('Blocked')">
                  <img class="img1-789575" src="assets/icon/block-circle.svg" />
                  <div class="nbl-687 outfit-semibold" style="margin-left: 16px;">Block</div>
                </ion-item>
              </ion-list>
              <ion-list *ngIf="item.status == 'Complete' || item.status == 'Accepted'">
                <ion-item [button]="true" [detail]="false" class="profile-line-789578" (click)="goToChat()">
                  <img class="img1-789575" src="../../../assets/svg/chat-fill.svg" />
                  <div class="nbl-687 outfit-semibold" style="margin-left: 16px;">Chat</div>
                </ion-item>
              </ion-list>
              <ion-list *ngIf="item.status == 'Accepted'">
                <ion-item [button]="true" [detail]="false" class="profile-line-789578"
                  (click)="presentAlert('Complete')">
                  <img class="img1-789575" src="../../../assets/svg/complete.svg" />
                  <div class="nbl-687 outfit-semibold" style="margin-left: 16px;">Complete</div>
                </ion-item>
              </ion-list>
              <ion-list *ngIf="item.status == 'Blocked'" style="border: none;">
                <ion-item [button]="true" [detail]="false" class="profile-line-789578"
                  (click)="presentAlert('Unblock')">
                  <img class="img1-789575" src="assets/icon/block-circle.svg" />
                  <div class="nbl-687 outfit-semibold" style="margin-left: 16px;">Unblock</div>
                </ion-item>
              </ion-list>
            </ng-template>
          </ion-popover>
        </div>
        <div class="country-heading-789">
          <span slot="start" style="border-radius: 5px;" class="fi fi-{{flag}}"></span>
          <span class="country-name-789 outfit">{{item.student.student.city}} {{item.student.student.country.name}}
          </span>
        </div>
        <div class="age-title-789 outfit">
          <img src="../../../assets/svg/cake.svg" alt="" class="image-id">
          Age {{age}}
        </div>
      </div>
    </div>
    <div class="line"></div>
    <div class="er-title-789 outfit" style="font-weight: 500;">
      <span class="discription-para" (click)="goToDeatil()">{{item.course.title}}</span>
      <img src="../../../../assets/svg/arrow-title.svg" (click)="goToDeatil()" />
    </div>
  </div>
</div>
 -->

<div class="trial-box-item-outer-689567">
  <div class="card-header d-flex justify-content-between align-center">
    <div class="header-left gap-8 d-flex align-center">
      <img src="../../../../assets/svg/trial-icon.svg" />
      <span class="header-text roboto-medium fs-18">Trial request</span>
    </div>
    <div class="header-right gap-8 d-flex align-center">
      <img src="../../../../assets/svg/bookmark.svg" />
      <button class="accept roboto-medium fs-14">Accept</button>
      <button class="reject roboto-medium fs-14">Reject</button>
    </div>
  </div>
  <hr class="divider" />
  <div class="card-container">
    <div class="card-body d-flex align-center">
      <div class="profile-image">
        <img
          [src]="item?.student.image ? item?.student.image : 'assets/profileimg.png'"
          alt="Profile"
        />
      </div>

      <div class="profile-details d-flex flex-column gap-12">
        <h3 class="profile-name roboto-medium-2 fs-18">{{ displayName | names }}</h3>
        <div class="profile-info d-flex align-center gap-8">
          <img src="../../../../assets/svg/cake.svg" alt="Age Icon" class="icon" />
          <span class="roboto-regular fs-14">Age 6</span>
        </div>
        <div class="profile-location d-flex align-center gap-8">
          <img src="../../../../assets/svg/Flag1.svg" class="flag" alt="Country Flag" />
          <span class="country-name roboto-regular fs-16">United States</span>
        </div>
      </div>
    </div>
  </div>
</div>
