.trial-box-outer-689567 {
  height: 151px;
  width: 100%;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  margin-bottom: 20px;
  padding: 11px;
  box-shadow: 1px 4px 4px 0px #00000026;
}

.trial-box-inner-689567 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;


}

.trial-box-heading-outer {
  height: 28px;
  border-bottom: 0.25px solid rgba(69, 69, 69, 1);

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.trial-box-heading-outer-title {


  display: flex;
  flex-direction: row;
  gap: 8px;



  .trial-box-heading-7895 {
    line-height: 18.75px;
    letter-spacing: -0.02em;
    text-align: left;
  }
}

.trial-box-content-outer {

  display: flex;
  flex-direction: row;
  gap: 8px;


  .image-container-23432 {
    height: 85px;
    width: 85px;
    border-radius: 8px;
    // border: 1px solid rgba(69, 69, 69, 1);

    background-position: center;
    background-size: cover;
  }

}




