<ion-header>
  <div class="top-header-78956">
    <div class="header-left-items-78956">
      <div class="header-title  roboto-regular ">Category</div>
    </div>
    <div class="header-right-items-78956" (click)="back()">
      <img class="image" src="../../assets/svg/cancel.svg" alt="">
    </div>
  </div>
</ion-header>

<ion-content>
  <ion-list>
    <ion-radio-group [(ngModel)]="selectedItemId" (ngModelChange)="selectedCategory()">
      <ion-item *ngFor="let item of list">
        <ion-label>{{ item.name }}</ion-label>
        <ion-radio slot="start" class="fs-16 outfit" [value]="item.id"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

</ion-content>
