<ion-header class="ion-no-border ion-no-shadow">
  <app-sd-header-top [showBack]="true" [title]="'Chat Requests'" [backUrl]="" [showNotification]="false"
    [showSearch]="false"></app-sd-header-top>
</ion-header>

<ion-content class="ion-content-bg ion-padding" [fullscreen]="true">
  <div class="body-content">
    <div>
      <app-request-list *ngFor="let item of chats.requests" [item]="item"
       ></app-request-list>
       <div style="height: 700px; display: flex; align-items: center; justify-content: center" *ngIf="chats.requestCount === 0">No requests to display</div>
    </div>
  </div>
</ion-content>
