<!-- <ion-header>
</ion-header> -->
<ion-header class="splash-header-outer-6785 ion-padding">
  <div class="splash-header-6785">
    <ion-img src="assets/logo.png"></ion-img>
    <div class="heading-splash-6785 fs-18 roboto-regular "><span>Begin your success journey</span></div>
    <app-sd-bback-btn (click)="back()" class="back-home-96765"></app-sd-bback-btn>

  </div>


</ion-header>
<ion-content>
  <div class="container-img">
    <div class="solial-links" *ngIf="loading">
      <ion-spinner></ion-spinner>
    </div>
    <div class="solial-links" *ngIf="!loading">
      <div class="social-login-button-outer" (click)="continueWithGoogle()">
        <div class="social-login-button">
          <img src="assets/google.png" />
          <div class="text-div-4326432 roboto-bold fs-16">
            Continue with Google
          </div>
        </div>
      </div>
      <div class="social-login-button-outer" (click)="gotoDashboard()">
        <div class="social-login-button">
          <img src="/assets/apple.png" />
          <div class="text-div-4326432 roboto-bold fs-16">
            Continue with Apple
          </div>
        </div>
      </div>
      <div class="social-login-button-outer" (click)="gotoEmailDashboard()">
        <div class="social-login-button">
          <img src="/assets/svg/email.svg" style="height: 15px;" />
          <div class="text-div-4326432 roboto-bold fs-16">
            Continue with Email
          </div>
        </div>
      </div>
      <div class="social-login-button-outer" (click)="continueWithFake()">
        <div class="social-login-button">
          <div class="text-div-4326432 roboto-bold fs-16">
            Continue with Fake Account
          </div>
        </div>
      </div>
      <p class="para roboto-regular">© 2024 Tutorbunny. All Rights Reserved.</p>
    </div>
  </div>
</ion-content>
