.splash-header-outer-6785 {
  background-color: white;
  padding-bottom: 5px;
}

.splash-header-6785 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;

  ion-img {
    width: 36%;
    margin-top: 20px;
    // margin-bottom: 20px;
  }

  .heading-splash-6785 {
    color: #393939;
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .back-home-96765 {
    position: absolute;
    left: 0;
    bottom: 45px;
  }
}

.container-img {
  background-image: url(./../../assets/image.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 10px;
}

.solial-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin: 16px;
}

.para {
  font-size: 14px;
  font-weight: 400;
  margin-top: 6px;
}

.social-login-button-outer {
  width: 100%;
  border-radius: 10px;
  height: 57px;
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: center;
  gap: 20px;

  .social-login-button {
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;

    img {
      height: 20px;
    }

    .text-div-4326432 {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: #3a3a3a;
      // font-size: 16px;
      // font-weight: 500;
    }
  }
}
