.dashboard-top-fixed-98563 {
  // position: fixed;
  // background-color: #e4e3e380;
  // background-color: rgba(228, 225, 225, 1);
  // background: transparent;
}
.header-chips {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
  padding: 10px 24px;
  overflow-x: scroll;
  margin-top: 8px;
  // margin-bottom: 2px;
  // background-color: #e4e3e380;
  // background-color: rgba(228,225,225,1);
  // background: transparent;

  .header-chip {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    // gap: 20%;
    border-bottom: 0.1px solid gray;
    // background: transparent;

    // background-color: rgba(228,225,225,1);

    .ion-chip {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6px;
      font-size: 16px;
      // margin-bottom: 8px;
      // padding: 0 6px;
    }
  }
}

.active-class {
  opacity: 100%;
  // margin-bottom: 15px;
  border-bottom: 1px solid black;
  padding-bottom: 8px;
}

.inactive-class {
  opacity: 50%;
  padding-bottom: 8px;
}
