<ion-header class="ion-no-border ion-no-shadow">
  <app-sd-header-top [showBack]="true" [title]="'My Teacher'"></app-sd-header-top>
</ion-header>

<ion-content [fullscreen]="true" class="ion-content-bg ion-padding">
  <div class="body-content">
    <div class="search-box-outer-89655">
      <div class="search-box-input-outer">  
        <img src="assets/icon/input-search-gray.svg" />
        <input type="text" placeholder="Search" />
      </div>
    </div>
    <app-teacher-list></app-teacher-list>
  </div>
</ion-content>