<ion-header>
  <div class="top-header-78956">
    <div class="header-left-items-78956">
      <img src="assets/icon/home/my-corces.svg" class="image" alt="">
      <div class="header-title  roboto-regular ">Create</div>
    </div>
    <div class="header-right-items-78956" (click)="back()">
      <img class="image" src="../../assets/svg/cancel.svg" alt="">
    </div>
  </div>

</ion-header>
<ion-content class="ion-padding ">
  <div class="content-outer-98540">

    <div class="content-image-98541">
      <img src="../../../assets/svg/course-back.svg" alt="">
    </div>
    <div class="course-button-outer-98542">
      <div class="course-button-inter-98543">
        <div class="course-button-text">What do you want to create?</div>
        <div class="create-course-button">
          <div style="width: 80%;">
            <app-sd-button-clear [image]="'assets/svg/create-course.svg'" [text]="'Create Course/Workshop/Event'"
              (click)="setcourseType('1', 'Create Subscription Course ')"></app-sd-button-clear>
          </div>
          <img src="../../assets/svg/question.svg" alt="" id="click-subscribe">
          <ion-popover [dismissOnSelect]="true" id="top-center" class="center-popover-outer-78568"
            trigger="click-subscribe" triggerAction="click">
            <ng-template style="width: 100%;">
              <div class="ion-padding popover-title center-popover-78570">
                <img src="../../../assets/svg/cancel-white.svg" style="position: absolute; right: 10px;" alt="">
                You can create courses, event, workshop on the subjects you teach. Students will be able to search the
                courses and request for a free trial class before enrollment.
                <br>
                <br>
                You can create multiple courses on the same subject.
              </div>

            </ng-template>
          </ion-popover>
        </div>
        <div class="create-course-button">
          <div style="width: 80%;">
            <app-sd-button-clear [image]="'assets/svg/notes.svg'"
              [text]="'Sell Study Materials/Notes'"></app-sd-button-clear>
          </div>
          <img src="../../assets/svg/question.svg" alt="" id="click-event">
          <ion-popover [dismissOnSelect]="true" id="top-center" trigger="click-event" triggerAction="click">
            <ng-template style="width: 100%;">
              <div class="ion-padding popover-title center-popover-78568">
                <img src="../../../assets/svg/cancel-white.svg" style="position: absolute; right: 10px;" alt="">
                You can create/upload the study materials, notes, eBooks, Lectures, Exam preparation test papers, Exam
                suggestions.
                <br>
                <br>

                The materials should be proprietary to the teacher and should be downloadable files (PDF, DOC, XL, JPEG,
                PNG, BMP etc.)
              </div>
            </ng-template>
          </ion-popover>
        </div>
      </div>
    </div>

  </div>
</ion-content>
