<ion-header>
  <div class="top-header-78956">
    <div class="header-left-items-78956">
      <div class="header-title  roboto-regular ">Forget Password</div>
    </div>
    <div class="header-right-items-78956" (click)="back()">
      <img class="image" src="../../assets/svg/cancel.svg" alt="">
    </div>
  </div>

</ion-header>


<ion-content class="ion-padding ion-content-medium-background">
  <div class="body-content-68448" *ngIf="step === 'email'">
    <div class="input-box-lines d-flex flex-column gap-8">
      <div class="input-title fs-12 roboto-medium">Email</div>
      <app-sd-input-box [image]="'assets/svg/email.svg'" placeholder="Enter your email"
        (onChange)="result($event, 'email')" [inputText]="formData.email" [key]="'email'"
        [errorText]="'Email is required'" [type]="'email'"></app-sd-input-box>
    </div>
    <div class="d-flex flex-column gap-16">
      <div class="input-box-lines">
        <app-sd-button-gray [text]="'Send OTP'" (click)="sendEmail()"></app-sd-button-gray>
      </div>
    </div>
  </div>
  <div class="body-content-68448" *ngIf="step === 'otp'">
    <div class="input-box-lines d-flex flex-column gap-8">
      <div class="input-title fs-12 roboto-medium">Enter OTP</div>
      <div class="passcode-wrapper">
        <input style="background: white;" id="codeBox1" type="number" maxlength="1" max="9" (keyup)="onKeyUpEvent(1, $event)"
          (focus)="onFocusEvent(1)">
        <input style="background: white;" id="codeBox2" type="number" maxlength="1" (keyup)="onKeyUpEvent(2, $event)" (focus)="onFocusEvent(2)">
        <input style="background: white;" id="codeBox3" type="number" maxlength="1" (keyup)="onKeyUpEvent(3, $event)" (focus)="onFocusEvent(3)">
        <input style="background: white;" id="codeBox4" type="number" maxlength="1" (keyup)="onKeyUpEvent(4, $event)" (focus)="onFocusEvent(4)">
      </div>
      <div style="color: red;" *ngIf="wrongOtp === true">Please enter correct OTP</div>
    </div>
    <div class="d-flex flex-column gap-16">
      <div class="input-box-lines">
        <app-sd-button-gray [text]="'Done'" (click)="sendOTP()" [disabled]="isButtonDisabled"></app-sd-button-gray>
      </div>
    </div>
  </div>
  <div class="body-content-68448" *ngIf="step === 'reset'">
    <div class="input-box-lines d-flex flex-column gap-8">
      <div class="input-title fs-12 roboto-medium">New Password</div>
      <app-sd-input-box [image]="'assets/svg/password.svg'" placeholder="Enter your new password"
        (onChange)="result($event, 'password')" [inputText]="formData.password" [key]="'password'"
        [errorText]="'Password is required'" [type]="'password'"></app-sd-input-box>
    </div>
    <div class="input-box-lines d-flex flex-column gap-8">
      <div class="input-title fs-12 roboto-medium">Confirm Password </div>
      <app-sd-input-box [image]="'assets/svg/password.svg'" placeholder="Re-enter your password"
        (onChange)="result($event, 'confirm_password')" [inputText]="formData.confirm_password"
        [key]="'confirm_password'" [errorText]="'Confirm Password is required'" [type]="'password'"></app-sd-input-box>
    </div>
    <div class="d-flex flex-column gap-16">
      <div class="input-box-lines">
        <app-sd-button-gray [text]="'Login'" (click)="submit()"></app-sd-button-gray>
      </div>
    </div>
  </div>
</ion-content>
