<div class="image-upload-box-st-78955674" (click)="fileInput.click()">
  <div class="icno-text-88666">
    <div class="image-box-89657" *ngFor="let certificate of certificates"
      [ngStyle]="{ 'background-image': certificate ? 'url(' + certificate + ')' : 'none' }"></div>
    <img *ngIf="certificates.length === 0" class="img-67855" src="../../../assets/svg/image.svg"
      style="height: 33px;" />
    <div class="roboto-regular fs-14">Upload photos of the certificates</div>
  </div>
  <ion-icon name="chevron-forward-outline"></ion-icon>
</div>
<input type="file" (change)="onFilesSelected($event)" accept="image/*" style="display: none" multiple #fileInput />
