.card {
  display: flex;
  justify-content: center;
  width: 95%;
  gap: 12px;
  height: 10em;
  // align-items: center;
  overflow: hidden;

}
.mid{
  display: flex;
  // font-size: 16px;
  // justify-content: center;
  align-items: center;
  margin-bottom: 3%;
}
.mid .tutor_img{
  border: 1px black solid;
  border-radius: 50%;
  height: 24px;
  margin-right: 10px;
  overflow: hidden;
}
.mid span{
  margin-right: 5px;
  font-size: 14px;
}
.courses-block-outer-789565 {
  width: 100%;
  height: 150px;
  display: flex;
  // overflow: hidden;
  gap: 16px;
  position: relative;
}
.info-misc-68448{
  display: flex;
}
.profile-item-image-block {
  width: 40%;
  height: 100%;
  background-size: cover;
  border-radius: 10px;
  position: relative; 
  // overflow: hidden;
}

/* Lesson Price Block */
.us-status-btn-label {
  font-size:x-small;
  overflow: hidden;
  position: absolute; 
  top: 82%; 
  width: 85%;
  left: 10%; 
  background-color: rgba(0, 0, 0, 0.7); 
  color: #fff;
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 12px;
  white-space: nowrap;
  

}
.endbutton{
  display: flex;
  justify-content: end;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;
  flex: 1;
  overflow: hidden;
  }

.content_footer{
  display:flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  // align-items: end;
  margin-top: auto;
  // position: absolute;

  // top: 50%;
}
.free-trial-btn-89675{
  display: flex;
  justify-content: center;
}
.free-trial-btn-89675 img{
  width: 14px;
  height: 100%;
  margin-right: 5px;
}


.trail_button{
  background-color: rgba(243, 191, 89, 1);
  width: 125px;
  height: 38px;
  border-radius: 10px;
  margin-right: 25px;
  font: 16px;
}
.heart_button{
  width: 30px;
  height: 30px;
  margin-right: 8px;
  background: transparent;
}
.share_button{
  width: 30px;
  height: 30px;
  background: transparent;
}
.line {
  height: 2px;
  background-color: #232222 ;
  width: 100%; 
  margin-top: 10px;
  
}

// .block-item-header-title{
//   width: ;
// }

// .student-box-outer-689567 {
//   display: flex;
//   flex-direction: column;
//   gap: 16px;

//   .sb-heading-7895 {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     align-items: center;

//     .sb-heading-title-7895 {
//       font-size: 20px;
//     }

//     .sb-heading-sl-7895 {
//       font-size: 12px;
//     }
//   }
// }

// .courses-block-outer-789565 {
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-start;
//   gap: 16px;

//   .courses-block-item-789565 {
//     display: flex;
//     flex-direction: column;
//     padding: 16px 16px 8px 16px;
//     background: #ffffff;
//     border: 0.5px solid rgb(103 113 105 / 50%);
//     border-radius: 15px;
//     gap: 8px;

//     .block-item-header {
//       display: flex;
//       flex-direction: row;
//       justify-content: space-between;
//       align-items: center;
//       padding-bottom: 8px;
//       border-bottom: 0.25px solid rgba(103, 113, 105, 0.5);
//       width: 100%;
//       padding-right: 6px;

//       .block-item-header-title {
//         font-size: 16px;
//         display: -webkit-box;
//         line-height: 25px;
//       }
//     }

//     .profile-item-block {
//       display: flex;
//       flex-direction: row;
//       gap: 16px;
//       justify-content: flex-start;
//       width: 100%;
//       position: relative;

//       .profile-item-image-block {
//         width: 90px;
//         height: 90px;
//         background-size: cover;
//         background-position: center center;
//         border-radius: 8px;
//         position: relative;
//       }

//       .profile-content-78678564 {
//         display: flex;
//         flex-direction: column;
//         justify-content: space-evenly;
//         position: relative;
//         gap: 8px;
//         width: 68%;
//         min-width: fit-content;

//         .profile-line-789575 {
//           display: flex;
//           flex-direction: row;
//           justify-content: space-between;
//           align-items: center;
//           gap: 8px;
//           flex-wrap: wrap;
//           font-size: 14px;

//           .img1-789575 {
//             width: 18px;
//             height: 18px;
//           }

//           .info-misc-68448 {
//             display: flex;
//             flex-direction: row;
//             justify-content: flex-start;
//             align-items: center;
//             gap: 6px;
//             font-size: 14px;
//             color: #000000;
//           }
//         }

//         .line-789575 {
//           display: flex;
//           flex-direction: row;
//           justify-content: flex-start;
//           align-items: center;
//           gap: 8px;
//           font-size: 14px;

//           .i-7685 {
//             width: 16px;
//           }

//           .badges-outer-44 {
//             display: flex;
//             flex-direction: row;
//             flex-wrap: wrap;
//             justify-content: flex-start;
//             gap: 8px;

//             .gray-badge-44 {
//               background: #cfd9ce;
//               border-radius: 2px;
//               padding: 2px 4px;
//             }
//           }
//         }
//       }
//     }

//     .profile-above-footer-986985 {
//       display: flex;
//       flex-direction: row;
//       justify-content: space-between;
//       align-items: center;

//       .us-status-btn {
//         display: flex;
//         flex-direction: row;
//         justify-content: flex-start;
//         align-items: center;
//         gap: 6px;

//         .us-status-btn-label {
//           font-size: 20px;
//         }
//       }
//     }

//     .number-counter-outer-89676 {
//       display: flex;
//       flex-direction: row;
//       justify-content: end;
//       align-items: end;
//       gap: 4px;
//       width: 35%;

//       .number-counter-inner-896761 {
//         display: flex;
//         align-items: end;
//         justify-content: space-between;
//         // width: 100%;
//         gap: 3px;
//         padding: 2px 5px;

//         img {
//           height: 16px;
//         }

//         input:focus,
//         input:focus-visible {
//           border: none;
//           outline: none;
//           /* Add this line to remove the outline */
//         }

//         input:active {
//           border: none;
//         }

//         input {
//           background: transparent;
//           border: 0.5px solid rgba(0, 0, 0, 0.5);
//           color: rgba(102, 102, 104, 0.5);
//           flex-grow: 1;
//           width: 47px;
//           font-size: 10px;
//           text-align: center;
//           border-radius: 2px;
//         }
//       }
//     }

//     .profile-below-footer-986985 {
//       display: flex;
//       flex-direction: row;
//       justify-content: space-between;
//       align-items: center;
//       padding-top: 8px;
//       border-top: 0.25px solid rgb(103, 113, 105, 0.5);

//       .ble-buttons-789576856 {
//         display: flex;
//         flex-direction: row;
//         justify-content: space-between;
//         align-items: flex-end;
//         gap: 8px;

//         .btn-alg-77 {
//           display: flex;
//           flex-direction: row;
//           justify-content: flex-start;
//           align-items: center;
//           gap: 8px;
//         }
//       }
//     }
//   }
// }

// .buy-now-btn-89675 {
//   // height: 26px;
//   font-size: 16px;
//   background: #e29f1b;
//   height: 24px;
//   color: #ffffff;
//   // width: 113px;
//   padding: 0 12px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   border-radius: 16px;
// }

// .free-trial-btn-89675 {
//   font-size: 16px;
//   display: flex;
//   gap: 8px;
//   align-items: center;
//   justify-content: center;
//   color: #454545;
//   border-radius: 16px;
// }

// .free-trial-btn-89676 {
//   // height: 26px;
//   font-size: 16px;
//   height: 24px;
//   // width: 113px;
//   // padding: 0 12px;
//   display: flex;
//   gap: 8px;
//   align-items: center;
//   justify-content: center;
//   color: #808080;
//   border-radius: 16px;
// }

// .block-item-body {
//   padding-top: 8px;
//   display: flex;
//   flex-direction: column;
//   gap: 16px;
// }

// .group-96589 {
//   display: flex;
//   align-items: center;
//   flex-wrap: wrap;
//   justify-content: flex-start;
//   gap: 8px;
//   width: 99%;
// }

// .loved-icon {
//   height: 30px;
//   font-size: 30px;
//   color: red;
// }

// .loved-icon2 {
//   height: 30px;
//   font-size: 30px;
//   color: rgb(0, 0, 0);
// }

// .techer-img-98523 {
//   height: 24px;
//   width: 24px;
//   border-radius: 50px;
//   // background-color: #000000;
//   background-size: cover;
//   background-position: center center;
// }
