<div class="g1" *ngIf="blocked != 'Blocked'">
  <div class="image" (click)="goToDetail(item)">
    <img [src]="item.image ? item.image : 'assets/learn-piano.jpeg'" alt="Course Image" />
    <div class="price-tag">{{ item.auth_user_currency_symbol }}{{ item.updated_price }}/lesson</div>
  </div>

  <div class="detail">
    <div>{{ item?.title }}</div>
    <div class="rating">
      <app-rating-stars [rating]="rating"></app-rating-stars>
      <span class="rating-value">{{ rating }} ({{ total_rating }})</span>
    </div>
    <div class="teacher">
      <img [src]="item.user.image ? item.user.image : 'assets/learn-piano.jpeg'" alt="Teacher" class="teacher-image" />
      <div class="teacher-name">
        {{ displayName }}
      </div>
    </div>
    <!-- Icons Section -->
    <div class="actions">
      <button (click)="requestTrail(item.id)">
        <img src="../../../../assets/svg/transfer.svg" alt="" /> Free Trial
      </button>
      <ion-icon [name]="item.is_liked_by_me ? 'heart' : 'heart-outline'"
        (click)="item.is_liked_by_me ? removeToFav() : addToFav()">
      </ion-icon>
      <img src="../../../assets/svg/share.svg" alt="Share" class="share-icon" />
    </div>
  </div>
</div>