.menu-footer-box-outer-38521 {

  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;

  .menu-footer-box-38522 {

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;

    .menu-footer-box-name-38523 {
      font-size: 18px;
      font-weight: 600;
      color: #677169;
    }

    .menu-footer-box-version-38524 {
      font-size: 10px;
      font-weight: 600;
      color: #677169;


    }

    .menu-footer-box-powrd-385255 {
      font-size: 12px;
      font-weight: 600;
      color: #677169;
    }
  }
}