<ion-content>
  <ion-header class="ion-no-shadow ion-no-border ion-header-bg">
    <app-teacher-dashboard-header (openProfile)="openProfile()" (openNotifications)="gotoNotification()"></app-teacher-dashboard-header>
  </ion-header>
  <div class="ion-padding body-content-684492" style="margin-top: 16px;">
    <app-statistic-box></app-statistic-box>
    <!-- <app-option-bb-box></app-option-bb-box> -->
    <app-trial-box *ngIf="pendingTrialsCoubt$ > 0"></app-trial-box>
    <app-message-boxd></app-message-boxd>
    <app-youtube-box></app-youtube-box>
    <div style="font-size: 14px; color: #0B5DD8; text-decoration: underline; text-align: center;">Do you need any help?
    </div>
    <!-- <app-students-bwox></app-students-bwox>-->
    <!-- <ion-fab class="bottom-bt-fab-yellow-67856745" (click)="createCourse()">
      <img src="../../assets/svg/add.svg" alt="" style="height: 50px;">
    </ion-fab> -->
  </div>
</ion-content>
