<!-- <ion-header class="ion-no-border ion-no-shadow">
  <app-sd-header-top [title]="" [backUrl]="backBtn" [showBack]="true"></app-sd-header-top>
</ion-header> -->

<ion-content [fullscreen]="true">

  <div class="image-box" [style.backgroundImage]="'url(' + image + ')'">
    <div class="bback-btn-7895 ion-activatable ripple-parent rectangle" (click)="back()">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-icon name="chevron-back-outline" size="large" style="color: white;"></ion-icon>
    </div>


  </div>
</ion-content>